
/* Font Variables */

$sans_serif: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-small: 12px;
$font-medium: 14px;
$font-large: 19px;
$font-big: 29px;


/* Color Variables */

$grey1: #eee;
$grey2: #ddd;
$grey3: #666;
$grey4: #333;

$light-grey1: #f8f8f8;
$light-grey2: #f2f2f2;

$he_red: #b80606;


/* Mixins */

@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    min-height: 0;
  }
}