@charset "utf-8";

// Core
@import "core/variables";
@import "core/main";

// Modules: Global nav
@import "modules/home";
@import "modules/magica";
@import "modules/clientefeliz";
@import "modules/sobrenos";
@import "modules/time";
@import "modules/profile";
@import "modules/work";
@import "modules/atendesimples";
@import "modules/contato";

// Services
@import "modules/servicos";
@import "modules/mvp";
@import "modules/slider";


// Modules: Secondary Pages
@import "modules/valores";
@import "modules/comunidade";
@import "modules/opensource";
@import "modules/mailing";
@import "modules/mediakit";
@import "modules/help";
@import "modules/jobs";
@import "modules/cases";

// Responsive
@import "core/responsive";

// Plugins
@import "plugins/prettyPhoto";
@import "plugins/tiptip";