---
layout: english
title: Web Software Development
description: HE:labs is pioneer in web development, web applications, SaaS and Cloud Computing.
pt: /comunidade
---
<div id="cover-banner">
  <div class="containner">

    <h2>Community</h2>
    <p>We always support the community with content, sponsorships, talks...</p>

    <a class="open-source-link" href="/en/opensource">
      Open Source
    </a>

  </div>
</div>

<section id="apoios">
  <div class="containner">

      <h3 class="apoio-h3">
        Our projects and efforts.
      </h3>

      {% include community_ours.html %}

      <h3 class="apoio-h3">
        Support and sponsorships.
      </h3>

      {% include community_others.html %}


  </div>
</section> <!--/ apoios-->

<div class="bottom-nav">
  <a class="red-button" href="/en/work">
	  See our work
  </a>
</div>
