---
layout: english
title: Our team - Web Software Development
description: HE:labs is pioneer in web development, web applications, SaaS and Cloud Computing.
pt: /nosso-time/
---
<div id="cover-banner">
  <div class="containner">

    <h2>Our team</h2>
    <p>The best developers, designers and hackers gathered in highly productive teams.</p>

  </div>
</div> <!-- /cover-banner -->

<section id="time">
  <div class="containner">

    <ul>
      {% for person in site.categories.team reversed %}
        <li>
          {% if person.permalink %}<a href="{{ person.permalink }}">{% endif %}
            <img src="{{ person.image }}" alt="{{ person.full_name }}">
            <h3>{{ person.full_name }}</h3>
            <p>
              {% if person.job_title_en %}
                {{ person.job_title_en }}
              {% else %}
                {{ person.job_title }}
              {% endif %}
            </p>
          {% if person.permalink %}</a>{% endif %}

          <ul class="social-icons">
            {% for sa in person.social_accounts %}
              {% if sa.username %}
                <li>
                  <a class="{{ sa.provider }}" href="http://{{ sa.provider }}.com/{{ sa.username }}" rel="external" title="{{ sa.provider | capitalize }} of {{ person.full_name }}">{{ sa.provider | capitalize }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
      <li class="voce">
        <a href="/jobs/">
        <img src="/images/time/time-voce.jpg" alt="You">
        <h3>You</h3>
        <p>Join the team!</p>
      </li>
    </ul>

  </div>
</section> <!-- /team -->

<div class="videothumbs our-team-videos">
  <div class="containner">

    <ul>
      <li>
        <a href="http://www.youtube.com/watch?feature=player_embedded&v=6KuOCJtfB9Q" rel="prettyPhoto">
          <img src="/images/eventos/umdianaherio.jpg">
        </a>
        <h5>One day at HE:labs</h5>
      </li>
      <li>
        <a href="http://www.youtube.com/watch?feature=player_embedded&v=uRIv37JZNtE" rel="prettyPhoto">
          <img src="/images/eventos/churrasco.jpg">
        </a>
        <h5>Barbecue</h5>
      </li>
      <li>
        <a href="http://www.youtube.com/watch?feature=player_embedded&v=kTJld0J7cp0" rel="prettyPhoto">
          <img src="/images/eventos/fimdeano.jpg">
        </a>
        <h5>New year party</h5>
      </li>
    </ul>

  </div>
</div> <!-- /videothumbs -->

<div class="bottom-nav">
  <a class="red-button" href="/en/about-us/">
    More about us
  </a>
</div>
