:plain
  ---
  layout: error
  title: WOW! Página Não Encontrada (Erro 404)
  ---

%p
  %img{ src: "/images/bielsystems-logo.png", alt: "BielSystems - http://bielsystems.com.br", style: "margin-top: 2em"}
%p
  %strong
    WOW! Página Não Encontrada (Erro 404) :-(
%p A página requisitada não existe.
%p
  Você pode ter usado um endereço antigo, ou ter digitado incorretamente na
  %strong
    Barra de Endereço
  do seu programa.
%p Por favor, verifique o endereço digitado ou tente <a href="http://bielsystems.com.br">nosso site</a>

%p Caso você esteja certo do endereço e este erro insista em aparecer, fique à vontade para nos <a href="http://suporte.bielsystems.com.br/">avisar pelo suporte</a>.
%p
  Desejando a sua compreensão,
  %br
  %strong
    Equipe da BielSystems
%p{ style: 'margin-top: 3em'}
  = "Copyright©2003-#{Date.today.year} BielSystems Tecnologia Ltda."