---
layout: default
title: Apoios da HE:labs
description: HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.
en: /en/community/
---
<div id="cover-banner">
  <div class="containner">
    <h2>Comunidade</h2>

    <p>Sempre suportamos a comunidade com conteúdo, patrocínicios, palestras...</p>

    <a class="open-source-link" href="/opensource/">
      Open Source
    </a>

  </div>
</div>

<section id="apoios">
  <div class="containner">

    <h3 class="apoio-h3">
      Nossos projetos e iniciativas
    </h3>

    {% include community_ours.html %}

    <h3 class="apoio-h3">
      Apoios e Patrocínios
    </h3>

    {% include community_others.html %}

  </div>
</section> <!--/ apoios-->

<div class="bottom-nav">
  <a class="red-button" id="cta-mp" href="/trabalho/">
	  Conheça nosso trabalho
  </a>
</div>


<script type="text/javascript">
  mixpanel.track_links("#cta-mp", "Clicked - Conheça nosso trabalho");
</script>
