:plain
  ---
  layout: default
  html_title: BielSystems - Aplicativos Web Impressionantes
  title: Aplicativos Web Impressionantes
  ---

%ul#products
  %li
    %a{ :href => "http://www.cobregratis.com.br", :class => "noborder" }
      %img{ :src => "/images/cobregratis.com.br.png", :alt => "Cobre Grátis", :width => 360, :height => 200 }
    Cobre Grátis é um sistema online completo para gerenciar cobranças por boletos bancários.
  %li
    %a{ :href => "https://www.webfax.com.br", :class => "noborder" }
      %img{ :src => "/images/webfax.com.br.png", :alt => "Webfax", :width => 360, :height => 200 }
    Webfax é um sistema de envio de fax pela internet muito simples e rápido que suporta 250 países.
