:plain
  ---
  layout: default
  html_title: Helabs - Desenvolvimento de software para internet
  title: Desenvolvimento de software para internet
  ---

%ul#products
  %li
    %img{ :src => "/images/placeholder.png", :alt => "", :width => 360, :height => 50 }