:plain
  ---
  layout: default
  html_title: Helabs - Desenvolvimento de software para internet
  title: Desenvolvimento de software para internet
  ---

%ul#products
  %li
    %a{ :href => "#", :class => "noborder" }
      %img{ :src => "/images/placeholder.png", :alt => "", :width => 360, :height => 200 }