---
layout: default
title: Nosso time - Web Software Development
description: HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.
---
<div id="cover-banner">
  <div class="containner">

    <h2>Nosso Time</h2>
    <p>Os melhores desenvolvedores, hackers e designers reunidos em times altamente produtivos.</p>

    <a class="open-source-link" href="/opensource">
      Open Source
    </a>

  </div>
</div> <!-- /cover-banner -->

<section id="time">
  <div class="containner">

    <ul>
      {% for person in site.categories.time reversed %}
        <li>
          {% if person.permalink %}<a href="{{ person.permalink }}">{% endif %}
            <img src="{{ person.image }}" alt="{{ person.full_name }}">
            <h3>{{ person.full_name }}</h3>
            <p>{{ person.job_title }}</p>
          {% if person.permalink %}</a>{% endif %}
          
          <ul class="social-icons">
            {% for sa in person.social_accounts %}
              <li>
                <a class="{{ sa.provider }}" href="http://{{ sa.provider }}.com/{{ sa.username }}" rel="external" title="{{ sa.provider | capitalize }} do {{ person.full_name }}">{{ sa.provider | capitalize }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    	<li class="voce">
    	  <a href="/jobs">
    		  <img src="/images/time/time-voce.jpg" alt="Você">
    	  </a>
  		  <h3>Você</h3>
  		  <p>Faça parte do time!</p>
    	</li>
    </ul>

  </div>
</section> <!-- /time -->

<div class="bottom-nav">
  <a class="red-button" href="/fale-conosco">
	  Venha falar com a gente
  </a>
</div>
