@charset "utf-8";


/* Reset */

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
	vertical-align: baseline;
	font-style: normal;
  list-style-type: none;
	padding: 0;
  margin: 0;
  border: 0;
}

header, footer, aside,
nav, article, section { display:block; }

html { font-size: 62.5%; }


/* Generic */

body {
  font-family: inherit;
  vertical-align: baseline;
  font: $font-medium $sans_serif;
  color: rgb(71, 60, 60);
}

p { margin:0 0 20px 0; }
label { cursor:pointer; }
img { border:none; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Lato', sans-serif; }

a { color: $he_red; }
span.red { color: #b20000; }


/* ====================
Progress Bar
==================== */
#instantclick-bar {
  background: #fff;
  height: 5px;
}


/* ====================
Patterns
==================== */

.containner {
  width: 960px;
  margin: auto;
}

.default {
  width: 100%;
  background-color: #fff;
  border-top: 5px solid $he_red;
  box-shadow: 0 -24px 8px 27px rgba(0, 0, 0, 0.3);
  padding: 10px 0 10px 0;
  position: fixed;
  left: 0; top: 0;
  z-index: 1200;
  float: left;

  .logo {
    width: 160px;
    float: left;

    &:hover { opacity: .8; }
  }
}


/* ====================
Nav
==================== */

#menu2 {
  margin-top: 8px;
  text-align: right;
  float: right;



  li {
    display: inline;
    margin-left: 0;
  }

  a {
    @include round_borders (2px);
    height: 36px;
    border: 1px solid #fff;
    line-height: 36px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-small;
    display: inline-block;
    color: $grey3;

    &:hover {
      border-color: $grey1;
      color: $he_red;
    }
  }
}


/* Languages */

.languages {
  background: $he_red;
  position: absolute;
  right: 10px; top: -7px;
  padding: 5px 7px 5px 7px;
  text-decoration: none;
  font-size: 11px;
  color: #ffe3e2;

  &:hover {
    opacity: 1;
    color: #fff;
  }
}


/* Mobile Menu */

#menu-trigger {
  @include round_borders (4px);
  height: 36px;
  line-height: 36px;
  padding: 0 10px 0 10px;
  background: $grey4;
  position: absolute !important;
  right: 5%;
  top: 18px;
  display: none;
  color: #fff;
  cursor: pointer;
}

.current-page {
  border-color: $grey1 !important;
  background: $light-grey1;
  box-shadow: inset 0 0 7px #f1f1f1;
}


/* ====================
Breadcrumbs
==================== */

#breadcrumbs {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 10px 0 12px 0;
  background: $he_red;
  border-bottom: 1px solid #ff1717;
  margin-top: 79px;
  margin-bottom: -81px;
  position: relative;
  z-index: 1000;

  li {
    margin-right: 15px;
    display: inline-block;
    font-size: $font-small;
    color: #fff;
  }

  a {
    margin-right: 15px;
    text-decoration: none;
    color: #ffc2c2;

    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
}



/* ====================
Video Gallery
==================== */

.videothumbs {

  li {
    box-shadow: 0 4px 8px -3px #d8d8d8;
    width: 42%;
    background: #fff url("/images/play.jpg") no-repeat;
    background-size: 100%;
    margin: 0 3% 30px 3%;
    padding: 10px;
    display: inline-block;
    font-size: $font-medium;
    opacity: 1;

    h5 {
      margin: 10px 0 0 0;
      font-size: $font-medium;
      color: $he_red;
    }

    img {
      width: 100%;
      display: block;
      opacity: .7;

      &:hover { opacity: 1; }
    }
  }
}


/* ====================
Cover
==================== */

#cover-banner, #cases-banner {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  @include red_gradient;
  text-align: center;
  margin-top: 80px;
  padding: 50px 0 50px 0;
  color: #fff;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 62px;
    line-height: 65px;
    color: #fff;
  }

  p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: $font-large;
  }

  ul { margin: 30px 0 0 0; }

  li {
    margin: 0 10px 0 10px;
    display: inline-block;
  }
}

#cover-banner.en-cover {
  margin-top: 0 !important;
  border-top: 1px solid #fff;
}

.open-developer,
.open-designer {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  @include round_borders (40px);
  width: 140px;
  height: 50px;
  background: #fff;
  line-height: 50px !important;
  padding: 0 20px 0 20px;
  font: bold 1.2em 'lato', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #b30000;
  display: block;
  float: left;
}


/* ====================
Privacy
==================== */

#privacy { padding: 40px 0 40px 0; }

.topics {
  margin-bottom: 30px;

  li {
    list-style-type: circle;
    margin: 10px 0 0 30px;
  }

  li:first-child { margin-top: 0 !important; }
}


/* Bottom Nav */

.bottom-nav {
  border-top: 1px solid #eaeaea;
  padding: 15px 0 15px 0;
  background: $light-grey2;
  clear: both;
}


/* Footer */

footer {
  border-top: 1px solid #fff;
  width: 100%;
  background-color: $grey4;
  padding: 30px 0 85px 0;
  font-size: $font-medium;
  position: relative;
  clear: both;

  a {
    text-decoration: none;
    color: #ccc;

    &:hover {
      opacity: 1;
      color: #fff;
    }
  } // a
}

.tel {
  @include round_borders (2px);
  height: 25px;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 5px 0 5px;
  margin-top: 5px;
  color: #fff;
  clear: both;
}

.offices {
  overflow: hidden;

  li {
  	width: 33.3%;
    line-height: 17px;
    font-size: $font-small;
    float: left;
  }

  address span { display: block; }

  h3 {
    text-transform: uppercase;
    margin: 13px 0 7px 0;
    color: #fff;
  }
}

.footer-links {
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 12px 0 12px 0;
  color: #fff;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;

  p {
    margin: 0;
    float: left;
  }

  ul { float: right; }

  li {
    margin-left: 20px;
    display: inline-block;
  }
}


/* Webkit Hacks  */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}


/* Fix Mobile Menu */

@media only screen and (min-width: 686px) {

}
