@charset "utf-8";


/* Reset */

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
	vertical-align: baseline;
	font-style: normal;
  list-style-type: none;
	padding: 0;
  margin: 0;
  border: 0;
}

header, footer, aside,
nav, article, section { display:block; }

html { font-size: 62.5%; }


/* Generic */

body {
  font-family: inherit;
  vertical-align: baseline;
  font: $font-medium $sans_serif;
  color: rgb(71, 60, 60);
}

p { margin:0 0 20px 0; }
label { cursor:pointer; }
img { border:none; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Lato', sans-serif; }

a { color: $he_red; }
span.red { color: #b20000; }


/* ====================
Patterns
==================== */

.containner {
  width: 960px;
  margin: auto;
}

.default {
  width: 100%;
  background-color: #fff;
  border-top: 5px solid $he_red;
  box-shadow: 0 -24px 8px 27px rgba(0, 0, 0, 0.3);
  padding: 10px 0 10px 0;
  position: fixed;
  left: 0; top: 0;
  z-index: 999;
  float: left;

  .logo {
    width: 160px;
    float: left;

    &:hover { opacity: .8; }
  }
}


/* ====================
Nav
==================== */

#menu2 {
  margin-top: 8px;
  text-align: right;
  float: right;

  li {
    display: inline;
    margin-left: 0;
  }

  a {
    border-radius: 2px;
    height: 36px;
    border: 1px solid #fff;
    line-height: 36px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-small;
    display: inline-block;
    color: $grey3;

    &:hover {
      border-color: $grey1;
      color: $he_red;
    }
  }
}


/* Languages */

.languages {
  background: $he_red;
  position: absolute;
  right: 10px; top: -7px;
  padding: 5px 7px 5px 7px;
  text-decoration: none;
  font-size: 11px;
  color: #ffe3e2;

  &:hover {
    opacity: 1;
    color: #fff;
  }
}


/* Mobile Menu */

#menu-trigger {
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  padding: 0 10px 0 10px;
  background: $grey4;
  position: absolute !important;
  right: 5%;
  top: 10px;
  display: none;
  color: #fff;
  cursor: pointer;
}

.current-page {
  border-color: $grey1 !important;
  background: $light-grey1;
  box-shadow: inset 0 0 7px #f1f1f1;
}


/* ====================
Cover
==================== */

#cover-banner {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  @include red_gradient;
  text-align: center;
  margin-top: 80px;
  padding: 50px 0 50px 0;
  color: #fff;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 62px;
    line-height: 65px;
    color: #fff;
  }

  p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: 24px;
  }

  ul { margin: 30px 0 0 0; }

  li {
    margin: 0 10px 0 10px;
    display: inline-block;
  }
}

#cover-banner.en-cover {
  margin-top: 0 !important;
  border-top: 1px solid #fff;
}

.open-developer,
.open-designer {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 140px;
  height: 50px;
  background: #fff;
  line-height: 50px !important;
  padding: 0 20px 0 20px;
  font: bold 1.2em 'lato', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #b30000;
  display: block;
  float: left;
}

.open-source-link {
  height: 30px;
  line-height: 30px !important;
  background: url("/images/icons/open-source.png") left no-repeat;
  padding: 0 0 0 40px;
  font: normal 16px $sans_serif;
  margin: 20px 0 0 0;
  display: inline-block;
  text-decoration: none;
  color: #fff;

  &:hover { opacity: .8; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {
  .open-source-link {
    background: url("/images/icons/open-source@2x.png") left no-repeat;
    background-size: 30px 30px;
  }
}


/* ====================
Services
==================== */

.services {
  background: #fafafa;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
  @include clearfix;

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    margin: 50px 0 20px 0;
    color: $he_red;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-left: 0;
    color: $he_red;
  }

  .videothumbs {
    width: 30%;
    margin-top: 50px;
    float: right;
 
    li {
      width: 92%;
      padding: 4%;
      margin: 0 0 25px 0;
    }

    h5 {
      margin: 10px 0 0 0;
      font-size: 14px;
      color: $he_red;
    }
  }
}

.last-serv { border-bottom: none; }

.services:nth-child(even) {background: #f4f4f4}
.services:nth-child(odd) {background: #fafafa}

.services-text {
  width: 60%;
  position: relative;
  line-height: 28px;
  font-size: 17px;
  float: left;
}


/* ====================
Privacy
==================== */

#privacy { padding: 40px 0 40px 0; }

.topics {
  margin-bottom: 30px;

  li {
    list-style-type: circle;
    margin: 10px 0 0 30px;
  }
  
  li:first-child { margin-top: 0 !important; }
}


/* ====================
Footer
==================== */

footer {
  border-top: 1px solid #fff;
  width: 100%;
  background-color: $grey4;
  padding: 30px 0 85px 0;
  font-size: 14px;
  position: relative;
  clear: both;

  a {
    text-decoration: none;
    color: #ccc;

    &:hover {
      opacity: 1;
      color: #fff;
    }
  } // a
}

.offices {
  overflow: hidden;

  li {
  	width: 25%;
    line-height: 17px;
    font-size: $font-small;
    float: left;
  }
  
  address span { display: block; }

  h3 {
    text-transform: uppercase;
    margin: 13px 0 7px 0;
    color: #fff;
  }
}

.footer-links {
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 12px 0 12px 0;
  color: #fff;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;

  p {
    margin: 0;
    float: left;
  }

  ul { float: right; }

  li {
    margin-left: 20px;
    display: inline-block;
  }
}


/* ====================
TipTip
==================== */

#tiptip_holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

#tiptip_holder.tip_top { padding-bottom: 5px; }
#tiptip_holder.tip_bottom { padding-top: 5px; }
#tiptip_holder.tip_right { padding-left: 5px; }
#tiptip_holder.tip_left { padding-right: 5px; }

#tiptip_content {
  font-size: 11px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  padding: 4px 8px;
  border: 1px solid rgba(255,255,255,0.25);
  background-color: rgb(25,25,25);
  background-color: rgba(25,25,25,0.92);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 0 3px #555;
  -webkit-box-shadow: 0 0 3px #555;
  -moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow,
#tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: #fff;
  border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: #fff;
  border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: #fff;
  border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: #fff;
  border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: rgb(25,25,25);
  border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: rgb(25,25,25);
  border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: rgb(25,25,25);
  border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: rgb(25,25,25);
  border-left-color: rgba(25,25,25,0.92);
}


/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top { padding-bottom: 5px; }
#tiptip_holder.tip_bottom { padding-top: 5px; }
#tiptip_holder.tip_right { padding-left: 5px; }
#tiptip_holder.tip_left { padding-right: 5px; }

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}


/* Webkit Hacks  */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}


/* Fix Mobile Menu */

@media only screen and (min-width: 686px) {
  #menu2 { display: block !important; }
}
