@charset "utf-8";

/* Viewport */

html,
body {
  width: 100%;
  overflow-x: hidden;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}


/*
Max Width, 960px
Media Queries for Tablets
------------------------------------------------------------------------------*/

@media (max-width: 960px) {

  .containner { width: 700px; }
  header.default .logo { width: 155px; }
  #menu2 { margin-top: 8px; }


  /* Home */

  #home {
    background-position-y: 60px;
    background-size: auto 1421px;
    padding-top: 150px;
  }

  .services-home li {
    width: 90%;
    min-height: 100px !important;
    padding: 25px 5% 30px 5% !important;
    margin: 1px 0 0 0 !important;
  }

  .services-home li:first-child { margin-top: 0 !important; }


  /* Cover Banner */

  #cover-banner {
    margin-top: 80px;
    padding: 40px 0 40px 0;
  }

  #cover-mailing { margin-top: 80px; }


  /* Profile */

  #profile { padding-top: 120px; }
  
  .social-links {
    margin: 0;

    li { display: block; }

    a {
      margin: 5px 0 0 0;
      clear: both;
    }
  }


  /* Process (Mágica) */

  #process { padding-bottom: 20px; }

  .process-column {
    width: 94%;
    height: auto;
    margin: 0 0 1px 0;
    float: left;
  }

  .proc-desc-01 {
    left: 20px;
    top: 115px;
  }

  .proc-desc-02 {
    left: 90px;
    top: 170px;
  }

  .proc-desc-03 {
    left: 170px;
    top: 15px;
  }

  .proc-desc-04 {
    left: 520px;
    top: 20px;
  }

  .proc-desc-05 {
    left: 500px;
    top: 160px;
  }

  .proc-desc-06 {
    left: 260px;
    top: 275px;
  }


  /* User Projects */ 

  .projects-worked {

    li {
      width: 100%;
      height: auto;
      background: red;
      margin: 0 0 50px 0;
    }

  } 


  /* Mailing page*/

  .cover-mailing-page { margin-top: 20px; }


  /* Open Source */

  .gems-list li {
    width: 96%;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }


  /* Cases */

  .browser-nav { height: 15px; }
  #cases .case-thumb { width: 250px; }

  .odd-case .case-info { margin-left: 300px; }
  .even-case .case-info { margin-right: 300px; }


  /* Media Kit */

  .responsive_option {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .font_show_img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .box_colors,
  .box_download,
  .box_fonts { height: auto; }

  .bt_download,
  #font_show,
  .box_colors_show { display:none; }

}


/*
Max Width, 686px
Media Queries for Smartphones
------------------------------------------------------------------------------*/

@media only screen and (max-width: 686px) {

  .containner {
    width: 90%;
    padding: 0 5% 0 5%;
  }

  header.default .logo { width: 100px; }
  #menu-trigger { display: inline-block; }

  #menu2 {
    width: 100%;
    text-align: left;
    display: none;

    li {
      display: block;
      margin: 1px 0 0 0;
    }

    a {
      border-radius: 0;
      width: 94%;
      padding: 0 3% 0 3%;
      background: $grey4;
      text-transform: none;
      font-size: 14px;
      color: #fff;
      display: !important;
      float: left;

      &:hover {
        opacity: 1;
        background: $he_red;
        color: #fff;
      }
    }
  }

  .current-page {
    box-shadow: none;
    background: $he_red !important;
    border: none !important;
    margin-left: 1px;
  }

  .languages {
    background: none;
    padding: 0;
    right: 105px; top: 19px;
    color: $grey3;

    &:hover {
      opacity: 1;
      color: $he_red;
    }
  }


  /* Home */

  #home {
    padding-top: 125px;

    h2 {
      font-size: 45px;
      line-height: 47px;
    }

    h3 { font-size: 23px; }

    .home-button { display: none; }
  }

  .logo-tip-trigger { font-size: 19px; }
  
  .icons {
    li {
      text-align:center;
      display:inline-block;
      margin: 0 2px 0 2px !important;
    }

    a img { width: 40px; }
  }


  /* Cover Banner */

  #cover-banner {
    margin-top: 60px;

    h2 {
      font-size: 32px;
      line-height: 35px;
    }

    p {
      font-size: 17px;
      margin: 10px 0 0 0;
    }
  }

  /*-*/

  #cover-mailing {
    margin-top: 60px;

    h2 {
      font-size: 32px;
      line-height: 35px;
    }

    .sup {
      font-size: 17px;
      margin: 10px 0 0 0;
    }

    input[type="text"],
    input[type="email"] {
      width: 96%;
      padding: 0 2% 0 2%;
      margin: 25px 0 25px 0;
    }

    input[type="submit"] { margin-bottom: 25px; }
  }


  /* Red Button */

  .red-button {
    border-radius: 12px;
    width: 250px;
    height: auto;
    padding: 15px !important;
    text-align: center;
    font-size: 16px;
  }

  #time .red-button { margin-bottom: 40px; }


  /* Cliente Feliz */

  .videothumbs li {
    width: 39%;

    &:hover {
      background: url("/images/play.jpg") no-repeat white;
      background-size: 100%;
    }
  }


  /* Services Page */

  .services-text { width: 100%; }

  .services .videothumbs {
    width: 80%;
    padding: 0 10% 0 10%;
    margin-top: 20px;
  }


  /* Apoios */

  .logos-list > li { width: 39%; }


  /* Jobs */
  
  .he-enviroment {
    article,
    img { width: 100%; }
  }

  .positions-available {
    article {
      width: 94%;
      min-height: 0;
      margin: 5px 0 5px 0;
      padding-bottom: 30px;
    }

    .column02 { float: left; }
  }


  /* Process */

  #process-info {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;

    > div,
    #tablet-descriptions { display: none; }

    img { width: 85%; }
  }

  #process-entry {
    width: 100%;
    margin-bottom: 40px;

    li {
      font-size: 14px;
      line-height: 22px;
    }
  }


  /* Time */

  #time {
    padding-bottom: 20px !important;
    
    ul {
      > li {
        width: 29%;
        margin-bottom: -35px;

        img,
        a img {
          width: 100%;
          height:auto;
          background: #fff;
          padding: 0;
        }
      }

      p {
        font-size: 14px;
        height: 70px;
      }

      span { font-size: 10px; }
    } // ul
  }


  /* Time Profile */

  #profile {
    padding-top: 100px;

    h2 {
      font: 700 32px 'Lato', sans-serif;
      color: #000;
    }
  }

  .mini-bio {
    width: 100%;

    p {
      font-size: 14px;
      line-height: 23px;
    }

    .job-title { font-size: 14px; }
  }

  .profile-picture img { display: none; }
  .profile-cote { padding: 35px 0 40px 0; }
  .cote p { font: 700 30px 'lato', sans-serif; }
  .signature { font-size: 16px; }

  .photo-bio {
    width: 100%;
    margin: 10px 0 0 0;
  }


  /* Cases */

  .browser-nav { height: 20px; }

  #cases {
    text-align: center;

    .case-thumb {
      width: 60%;
      margin-bottom: 25px;
      display: inline-block;
      float: none;
    }

    .case-info {
      text-align: left;
      margin: 0;
    }
  }


  /* Mailing page*/

  .cover-mailing-page {
    background-image: url("/images/mailing-cover-bg.jpg");
    background-position: bottom center;
    margin-top: 40px;
  }

  .mailing-form {
    background-image: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #mailing-page h2 {
    width: 100%;
    padding-top: 70px;
    line-height: 30px;
    margin-bottom: 35px;
    text-transform: none;
    font-size: 30px;
    color: $he_red;
  }


  /* Footer */

  footer { padding: 20px 0 260px 0; }

  .offices li {
    width: 100%;
    margin-top: 20px;
  }

  .footer-links {
    p {
      width: 100%;
      height: 30px;
      margin: 0;
    }

    ul { width: 100%; }

    li {
      width: 100%;
      height: 30px;
      margin-top: 1px;
      margin-left: 0;
      display: block;
    }

    a {
      width: 94%;
      padding: 0 3% 0 3%;
      height: 30px;
      line-height: 30px;
      background: #444;
      display: block;
    }
  }


  /* TaLk to us */
  
  #talk-to-us {
    form { width: auto; }

    input[type="text"] {
      width: 94%;
      padding: 0 3% 0 3%;
    }

    textarea {
      width: 94%;
      max-width: 94%;
      min-width: 94%;
      padding: 3%;
    }
  }


  /* Media Kit */

  .box_colors { height: auto; }

  .responsive_option {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .font_show_img { display: block; }

  .box_fonts,
  .box_download { height: auto; }

   #font_show,
  .box_colors_show,
  .bt_download { display: none; }

}


/*
Max Width, 581px
Media Queries with adjustments for Smartphones
------------------------------------------------------------------------------*/

@media (max-width:581px) {

  .blog-posts {
    width: 100%;
    margin-bottom: 50px;
  }

  .projects-worked {
    width: 100%;
    margin-bottom: 0;
  }
  
  #mailing {
    li div { margin-left: 90px; }
    img { width: 70px; }
  }

  .modalBox {
  	width: 260px;
    padding: 17px 10px 10px 10px;
  	top: 5%;
  	margin-left: -145px;
  }


  /* Cases */

  #cases .case-thumb { width: 96%; }

  .case-info h3 {
    font-size: 28px;
  }


  /* Media Kit */

  .resizeble_img {
    width: 300px;
    height: 121px;
  }

  .box_colors { height: auto; }

  .responsive_option {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .box_fonts { height: auto; }

  .font_show_img { display: block; }
  .box_download { height: auto; }

  #font_show,
  .box_colors_show,
  .bt_download { display: none; }

}


/*
Max Width, 481px
Media Queries with more adjustments for Smartphones
------------------------------------------------------------------------------*/

@media (max-width: 481px) {
  
  
  #home {
    h2 {
      font-size: 45px;
      line-height: 52px;
    }

   h3 { font-size: 24px; }
  }

  .red-button { max-width: 220px; }

  .cover-jobs li {
    margin: 10px 0 0 0;
    display: inline-block;
  }

  #time ul > li { width: 44%; }

  .high-light-projects div {
    width: 96%;
    padding: 2%;
    min-height: 0;
    float: left;
  }

  .high-light-projects div:first-child { margin-bottom: 20px; }

  .videothumbs li { width: 90%; }
  .videothumbs li img:hover { opacity: 0.5; }

  .videothumbs li:hover {
    background: url("/images/play.jpg") no-repeat white;
    background-size: 100%;
  }

  .logos-list > li { width: 90%; }

  /*-*/

  .submenuhome { display:none; }
  .ourprocess { display:none; }
  .thumbs { display: none; }

  /*-*/
  
  #cover-banner {
    h2 {
      font-size: 22px;
      line-height: 25px;
    }

    p { font-size: 14px; }
  }


  /* Media Kit */

  .box_colors { height: auto; }
  .responsive_option { display: block; }
  .box_download { height: auto; }

  #font_show,
  .box_fonts,
  .font_show_img,
  .box_colors,
  .bt_download { display: none; }

  .resizeble_img {
    width: 250px;
    height: 101px;
  }

}


/* Webkit Hacks  */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}


/* Fix Mobile Menu */

@media only screen and (min-width: 686px) {
  #menu2 { display: block !important; }
}
