<section id="clientefeliz">
  <div class="cover-clientefeliz" id="cover">
      <div class="containner">
        <h2>
         HE : ❤
        </h2>
      </div>
    </div>
    
  <section class="containner">
<!--       <p class="sub">Nossos clientes e parceiros sempre ficam felizes com seus projetos</p> -->
      
     
       <ul class="logos-list videothumbs">
        <li><a href="http://www.youtube.com/watch?feature=player_embedded&v=lfWhGWwDkLc" rel="prettyPhoto"><img src="/images/cliente1.jpg" /></a>
       <p><span style="color: rgb(184, 6, 6); font-weight: 600;">Vinícius</span> Manhães Teles</p>
       <span class="desc">Criador da Improve It</span></p>
      </li>
      
        <li><a href="http://www.youtube.com/watch?v=vZfu7rP5JRo" rel="prettyPhoto"><img src="/images/cliente2.jpg" /></a>
          <p><span style="color: rgb(184, 6, 6); font-weight: 600;"> Marcelo</span> Vieira</p>
          <span class="desc">Sócio-fundador da Managerbook </span></p>
        </li>
        
        <li><a href="http://www.youtube.com/watch?v=Ou-boFFRtfQ" rel="prettyPhoto"><img src="/images/cliente3.jpg" /></a>
          <p><span style="color: rgb(184, 6, 6); font-weight: 600;">Mariana</span> Siqueira</p>
          <span class="desc">Dona Cegonha</span></p>
        </li>
        
        <li><a href="http://videolog.tv/helabsoficial/videos/850988"  target="_blank"><img src="/images/cliente4.jpg" /></a>
          <p><span style="color: rgb(184, 6, 6); font-weight: 600;">Igor </span>Borushek</p>
          <span class="desc">Fitnoss</span></p>
        </li>
        
        <li><a href="http://www.youtube.com/watch?v=LiE2cPQSgtc" rel="prettyPhoto"><img src="/images/cliente5.jpg" /></a>
          <p><span style="color: rgb(184, 6, 6); font-weight: 600;">Maurice </span>Lopes</p>
          <span class="desc">EarlyShares </span></p>
        </li>
        
        <li id="linkvideos" style="padding:0px">
          <a rel="external" href="http://www.youtube.com/user/helabsoficial" style="float:left" target="_blank"><img src="/images/linkvideos.jpg"></a>
        </li>
        
      </ul>     
      
      <!-- 
      <iframe width="560" height="315" src="http://embed.videolog.tv/v/index.php?id_video=850988&related=&hd=&color1=&color2=&color3=&slideshow=&config_url=&" scrolling="no" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://www.videolog.tv/video.php?id=850988" target="_blank">Depoimento de cliente - Igor Borushek</a> por <a href="http://www.videolog.tv/helabsoficial" target="_blank">helabsoficial</a>  no <a href="http://www.videolog.tv" target="_blank">Videolog.tv</a>.</p>
        -->

<!--       <div class="js-client-videos-chooser"> -->
        <!-- <a href="#"><img src="images/clientes/vinicius-teles.jpg" /></a>
        <a href="#"><img src="images/clientes/igor-borushek.jpg" /></a>
        <a href="#"><img src="images/clientes/amure-e-natalia.jpg" /></a> -->
<!--       </div> -->
    </div>
  

 

  </section> <!-- /containner -->
</section> <!-- /clientefeliz -->

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>