<footer>
  {% include offices.html %}
  <nav class="footer-links">
    <div class="containner">
      <p>&copy; 2011/2014 HE:labs.</p>
      <ul>
        <li><a href="/en/opensource">Open Source</a></li>
        <li><a href="/en/mediakit">Media Kit</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </nav>
</footer>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
<script src='/javascripts/javascripts.min.js'></script>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-16326763-1']);
	_gaq.push(['_setDomainName', 'helabs.com.br']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0015/2577.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
