<div id="clientefeliz-cover" id="en-cover">
  <div class="containner">

    <h2 style="color:white">
      HE: ❤
    </h2>

  </div>
</div>

<section id="happy-costumer">
  <div class="containner">

    <ul class="videothumbs">
      <li>
        <a href="http://www.youtube.com/watch?feature=player_embedded&v=Rp4V3idA0DU" rel="prettyPhoto">
          <img src="/images/cliente6.jpg" />
        </a>
        <h3>André dos Santos</h3>
        <p>Atende Simples</p>
      </li>
      <li>
        <a href="http://www.youtube.com/watch?feature=player_embedded&v=lfWhGWwDkLc" rel="prettyPhoto">
          <img src="/images/cliente1.jpg" />
        </a>
        <h3>Vinícius Manhães Teles</h3>
        <p>Improve It</p>
      </li>
      <li>
        <a href="http://www.youtube.com/watch?v=vZfu7rP5JRo" rel="prettyPhoto">
          <img src="/images/cliente2.jpg" />
        </a>
        <h3>Marcelo Vieira</h3>
         <p>Managerbook</p>
      </li>
      <li>
        <a href="http://www.youtube.com/watch?v=Ou-boFFRtfQ" rel="prettyPhoto">
          <img src="/images/cliente3.jpg" />
        </a>
        <h3>Mariana Siqueira</h3>
        <p>Dona Cegonha</p>
      </li>
      <li>
        <a href="http://videolog.tv/helabsoficial/videos/850988" rel="external">
          <img src="/images/cliente4.jpg" />
        </a>
        <h3>Igor Borushek</h3>
        <p>Fitnoss</p>
      </li>
      <li>
        <a href="http://www.youtube.com/watch?v=LiE2cPQSgtc" rel="prettyPhoto">
          <img src="/images/cliente5.jpg" />
        </a>
        <h3>Maurice Lopes</h3>
        <p>EarlyShares</p>
      </li>
      <li>
        <a href="http://www.youtube.com/user/helabsoficial" rel="external">
          <img src="/images/youtube.gif" />
        </a>
        <h3>More videos here!</h3>
        <p>=)</p>
      </li>
    </ul>

  </div>
</section> <!-- /clientefeliz -->