<section id="happy-costumer">
  	<div class="cover-clientefeliz" id="cover">
	  	<div class="containner">
			<h2 style="color:white">
		 	HE : ❤
			</h2>
	  	</div>
	</div>

  	<section class="containner">

	   	<ul class="videothumbs">
			<li>
				<a href="http://www.youtube.com/watch?feature=player_embedded&v=WP_xiqlGI7Y" rel="prettyPhoto"><img src="/images/costumer01.png" /></a>
		  		
		  		<div class="textovideothumbs">
					<span class="name">Natalia and Amure</span>
					<span class="desc">Amigo não se compra</span>
		  		</div>
	   		</li>

			<li>
				<a href="http://www.youtube.com/watch?feature=player_embedded&v=cEqYWkze9Oo" rel="prettyPhoto"><img src="/images/costumer02.png" /></a>
		  
		  		<div class="textovideothumbs">
					<span class="name">Arthur Granado</span>
					<span class="desc">21212</span>
		  		</div>
			</li>

			<li>
				<a href="http://www.youtube.com/watch?feature=player_embedded&v=6x6RuDhAw5s" rel="prettyPhoto"><img src="/images/costumer03.png" /></a>
		  
		  		<div class="textovideothumbs">
					<span class="name">Cezar Souza</span>
					<span class="desc">VentureOne</span>
		  		</div>
			</li>

			<li>
				<a href="http://www.youtube.com/watch?feature=player_embedded&v=YoWwUgubOlw" rel="prettyPhoto"><img src="/images/costumer04.png" /></a>
		  
		  		<div class="textovideothumbs">
					<span class="name">Juan Bernabó</span>
					<span class="desc">TeamWare</span>
		  		</div>
			</li>

			<li>
				<a href="http://www.youtube.com/watch?feature=player_embedded&v=gZFXo82lXDM" rel="prettyPhoto"><img src="/images/costumer05.png" /></a>
		  
		  		<div class="textovideothumbs">
					<span class="name">Startup DEV</span>
		  		</div>
			</li>

			<li>
				<a href="http://www.youtube.com/user/helabsoficial" target="_blank"><img src="/images/youtube.gif" /></a>
		  
		  		<div class="textovideothumbs">
					More videos <span class="name">here</span>
					<span class="desc">=)</span>
		  		</div>
			</li>
	  	</ul>

  	</section> <!-- /containner -->
</section> <!-- /clientefeliz -->