<footer>
  {% include offices.html %}
  <nav class="footer-links">
    <div class="containner">
      <p>&copy; {{ site.time | date: '2011/%Y' }} HE:labs.</p>
      <ul>
        <li><a href="/opensource/">Open Source</a></li>
        <li><a href="/comunidade/">Comunidade</a></li>
        <li><a href="/mailing/">Mailing</a></li>
        <li><a href="/midiakit/">Midia Kit</a></li>
        <li><a href="/blog/" data-no-instant>Blog</a></li>
        <li><a href="/fale-conosco/" data-no-instant>Fale Conosco</a></li>
      </ul>
    </div>
  </nav>
</footer>

{% include footer_scripts.html %}
