<footer>
  {% include offices.html %}
  <nav class="footer-links">
    <div class="containner">
      <p>&copy; {{ site.time | date: '2011/%Y' }} HE:labs.</p>
      <ul>
        <li><a href="/en/opensource/">Open Source</a></li>
        <li><a href="/en/community/">Community</a></li>
        <li><a href="/en/mediakit/">Media Kit</a></li>
        <li><a href="/blog/" data-no-instant>Blog</a></li>
        <li><a href="/en/contact/">Contact us</a></li>
      </ul>
    </div>
  </nav>
</footer>

{% include footer_scripts.html %}
