<section id="faleconosco">
  <div class="containner">
    <p class="pre">Tem algum projeto ou ideia interessante para fazer?</p>
    <h2>Fale Conosco</h2>
    <p class="sub">Certamente temos a melhor solução para o seu problema</p>
    <form action="https://helabs.wufoo.eu/forms/x7x2q5/#public" method="post" name="form8" autocomplete="off">
      <input name="Field18" type="text" placeholder="Digite seu Nome" />
      <input name="Field19" type="text" placeholder="Digite seu Sobrenome" />
      <input name="Field3" type="text" placeholder="Digite seu Email" />
      <input name="Field16" type="text" placeholder="Digite seu Telefone" /><br/>
      <textarea name="Field5" cols="" rows="" placeholder="Digite sua Mensagem"></textarea>
      <input name="saveForm" type="image" value="Enviar Mensagem" src="/images/enviar.png" />
      <div style="display: none">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="Jal0NbH7k3GrinmOORbLY2/bUZwIQZfSkVXdl6Ow4Ag=">
      </div>
    </form>
  </div>
  
  <footer>
    <div class="containner">
      <ul>
        <li>
          <address>
            <a href="https://maps.google.com/maps?q=Avenida+Presidente+Vargas,+633,+Rio+de+Janeiro,+Brasil&hl=en&sll=37.0625,-95.677068&sspn=41.767874,79.013672&oq=Av.+Presidente+Vargas,+633,+&t=h&hnear=Av.+Pres.+Vargas,+633+-+Centro,+Rio+de+Janeiro,+20071-004,+Brazil&z=16" target="_blank">
            <h3>HE:LABS RIO</h3>
            <a href="https://maps.google.com/maps?q=Avenida+Presidente+Vargas,+633,+Rio+de+Janeiro,+Brasil&hl=en&sll=37.0625,-95.677068&sspn=41.767874,79.013672&oq=Av.+Presidente+Vargas,+633,+&t=h&hnear=Av.+Pres.+Vargas,+633+-+Centro,+Rio+de+Janeiro,+20071-004,+Brazil&z=16" target="_blank">Av. Pres. Vargas, 633, sala 1716 - 
            Centro<br />
            <a href="https://maps.google.com/maps?q=Avenida+Presidente+Vargas,+633,+Rio+de+Janeiro,+Brasil&hl=en&sll=37.0625,-95.677068&sspn=41.767874,79.013672&oq=Av.+Presidente+Vargas,+633,+&t=h&hnear=Av.+Pres.+Vargas,+633+-+Centro,+Rio+de+Janeiro,+20071-004,+Brazil&z=16" target="_blank">Rio de Janeiro - RJ - Brasil<br />
            Telefone: +55 21 2507-5307
          </address>
        </li>
        <li>
          <address>
            <a href="https://maps.google.com.br/maps?q=Rua+Alagoas,+680,+sala+202+-+Centro+-+Londrina+-+PR+-+Brasil&hl=pt-BR&ie=UTF8&sll=-23.558238,-46.782099&sspn=0.528708,1.056747&hq=Londrina+-+PR+-+Brasil&hnear=R.+Alagoas,+680+-+Centro,+S%C3%A3o+Caetano+do+Sul+-+S%C3%A3o+Paulo,+09521-050&t=m&z=11" target="_blank">
            <h3>HE:LABS LONDRINA</h3>
            <a href="https://maps.google.com.br/maps?q=Rua+Alagoas,+680,+sala+202+-+Centro+-+Londrina+-+PR+-+Brasil&hl=pt-BR&ie=UTF8&sll=-23.558238,-46.782099&sspn=0.528708,1.056747&hq=Londrina+-+PR+-+Brasil&hnear=R.+Alagoas,+680+-+Centro,+S%C3%A3o+Caetano+do+Sul+-+S%C3%A3o+Paulo,+09521-050&t=m&z=11" target="_blank">Rua Alagoas, 680, sala 202 - Centro<br /></a>
            <a href="http://maps.google.com.br/maps?q=Rua+Alagoas,+680,+sala+202+-+Centro+-+Londrina+-+PR+-+Brasil&hl=pt-BR&ie=UTF8&sll=-23.558238,-46.782099&sspn=0.528708,1.056747&hq=Londrina+-+PR+-+Brasil&hnear=R.+Alagoas,+680+-+Centro,+S%C3%A3o+Caetano+do+Sul+-+S%C3%A3o+Paulo,+09521-050&t=m&z=11" target="_blank">Londrina - PR - Brasil<br />
            Telefone: +55 43 3028-6103</a>
          </address>
        </li>
      </ul>
    </div> <!-- /containner -->
    <p class="copyright">HE:labs 2013</p>
  </footer>
</section>
