<header class="default">
  <div class="containner">
    <a href="/" title="Pág. Inicial">
      <img class="logo" src="/images/logo.png" alt="HE:labs">
    </a>
    <nav id="menu2">
      <ul>
        <li><a href="/magica">Mágica</a></li>
        <li><a href="/cliente-feliz">HE:<span class="doispontos">❤</span></a></li>
        <li><a href="/nosso-time">Time</a></li>
        <li><a href='http://helabs.com.br/blog/'><span>Blog do Time</span></a></li>
        <li><a href="#fale-conosco">Fale Conosco</a></li>
        <li class='has-sub hemaisdestaque'>
          <a href="#">HE<span class="doispontos">:</span>mais</a>
          <ul>
            <li><a href="/apoios">Apoios</a></li>
            <li><a href="/mailing">Mailing</a></li>
            <li><a href="/opensource">Open Source</a></li>
            <li><a href='http://imprensa.helabs.com.br/'><span>Imprensa</span></a></li>
          </ul>
        </li>
        <li class='hemaisdestaque'><a href="/en/">EN</a></li>
      </ul>
    </nav>
  </div>
  <!--MENU RESPONSIVO-->

  <nav id="hiddenmenu" class="group">
    <h2 class="navheader slide-trigger">Menu <span>&nbsp;</span></h2>
    <ul class="navigation group">
      <li><a href="/magica">Mágica</a></li>
      <li><a href="/cliente-feliz">HE:<span class="doispontos">❤</span></a></li>
      <li><a href="/nosso-time">Time</a></li>
      <li><a href='http://helabs.com.br/blog/'><span>Blog do Time</span></a></li>
      <li><a href="#fale-conosco">Fale Conosco</a></li>
      <li class='hemaismobile'>
        <!-- <a href="#">HE<span class="doispontos">:</span>mais</a> -->
        <h2 class="navheader slide-trigger hemaismobile" style="padding-top: 0.5em;">HE:mais<span></span></h2>
        <ul class="navigation group">
          <li><a href="/apoios">Apoios</a></li>
          <li><a href="/mailing">Mailing</a></li>
          <li><a href="/opensource">Open Source</a></li>
          <li><a href='http://imprensa.helabs.com.br/'><span>Imprensa</span></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
