<header class="default">
  <div class="containner">

    <h1>
      <a href="/" title="Pág. Inicial">
        <img class="logo" src="/images/logo.png" alt="HE:labs">
      </a>
    </h1>

    <a class="languages" href="{% if page.en %}{{ page.en }}{% else %}/en{% endif %}">
      EN Version
    </a>

    <nav id="menu2">
      <ul>
        <li><a href="/magica/">Mágica</a></li>
        <li><a href="/cliente-feliz/">HE:<span class="doispontos">❤</span></a></li>
        <li><a href="/sobre-nos/">Sobre nós</a></li>
        <li><a href="/nosso-time/">Time</a></li>
        <li><a href="/trabalho/">Trabalho</a></li>
        <li><a href="/fale-conosco/">Fale Conosco</a></li>
      </ul>
    </nav>

    <a id="menu-trigger">
      Menu
    </a>

  </div>
</header>
