<header class="default">
  <div class="containner">
    
    <h1>
      <a href="/" title="Pág. Inicial">
        <img class="logo" src="/images/logo.png" alt="HE:labs">
      </a>
    </h1>
    
    <nav id="menu2">
      <ul>

        <li><a href="/magica">Mágica</a></li>
        <li><a href="/cliente-feliz">HE:<span class="doispontos">❤</span></a></li>
        <li><a href="/sobrenos">Sobre nós</a></li>
        <li><a href="/nosso-time">Time</a></li>
        <li><a href="/fale-conosco">Fale Conosco</a></li>
        <li><a href='http://helabs.com.br/blog/'><span>Blog do Time</span></a></li>

        <li class="mob-link"><a href="/apoios">Apoios</a></li>
        <li class="mob-link"><a href="/mailing">Mailing</a></li>
        <li class="mob-link"><a href="/opensource">Open Source</a></li>
        <li class="mob-link"><a href='http://imprensa.helabs.com.br/'><span>Imprensa</span></a></li>

        <li class='has-sub hemaisdestaque'>
          <a href="#">HE<span class="doispontos">:</span>mais</a>
          <ul>
            <li><a href="/apoios">Apoios</a></li>
            <li><a href="/mailing">Mailing</a></li>
            <li><a href="/opensource">Open Source</a></li>
            <li><a href='http://imprensa.helabs.com.br/'><span>Imprensa</span></a></li>
          </ul>
        </li>

        <li class='hemaisdestaque'><a href="/en/">EN</a></li>

      </ul>
    </nav>
    
    <a id="menu-trigger">
      Menu
    </a>

  </div>
</header>
