<header class="default">
  <div class="containner">

    <h1>
      <a href="/" title="Pág. Inicial">
        <img class="logo" src="/images/logo.png" alt="HE:labs">
      </a>
    </h1>

    <a class="languages" href="{% if page.en %}{{ page.en }}{% else %}/en{% endif %}">
      EN Version
    </a>

    <nav id="menu2">
      <ul>
        <li><a id="menu-magica" href="/magica/">Mágica</a></li>
        <li><a id="menu-he-love" href="/cliente-feliz/">HE:<span class="doispontos">❤</span></a></li>
        <li><a id="menu-sobre-nos" href="/sobre-nos/">Sobre nós</a></li>
        <li><a id="menu-nosso-time" href="/nosso-time/">Time</a></li>
        <li><a id="menu-trabalho" href="/trabalho/">Trabalho</a></li>
        <li><a id="menu-fale-conosco" href="/fale-conosco/">Fale Conosco</a></li>
      </ul>
    </nav>

    <a id="menu-trigger">
      Menu
    </a>

  </div>
</header>


<script type="text/javascript">
  mixpanel.track_links("#menu-magica", "Clicked - Menu Mágica");
  mixpanel.track_links("#menu-he-love", "Clicked - Menu HE love");
  mixpanel.track_links("#menu-sobre-nos", "Clicked - Menu Sobre nos");
  mixpanel.track_links("#menu-nosso-time", "Clicked - Menu Nosso Time");
  mixpanel.track_links("#menu-trabalho", "Clicked - Menu Trabalho");
  mixpanel.track_links("#menu-fale-conosco", "Clicked - Menu Fale Conosco");
</script>
