<head>
  <meta charset='utf-8' />
  <title>HE:labs - {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="he:labs, helabs, web software development, web, desenvolvimento, web, sistemas, saas, cloud, programação, ruby, startup, aplicativos, aplicações, software, sistemas" /> 
  <meta name="description" content="HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing." /> 
  <meta name="author" content="HE:labs - http://helabs.com.br" /> 
  <meta content='©2012 HE:labs' name='copyright' />
  <meta name="robots" content="index,follow" />
  <link href="/stylesheets/form.css" media='all' rel="stylesheet" type="text/css" />
  <link href="/stylesheets/theme.css" media='all' rel="stylesheet" type="text/css" />
  <link href="/stylesheets/style.css" media='all' rel="stylesheet" type="text/css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/placeholder.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/wufoo.js"></script>
  <!--[if lt IE 10]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% include google_analytics.ext %}
</head>