%head
  %title {{ page.html_title }}
  %meta{:charset => "utf-8"}
  %meta{:name => "keywords", :content => "desenvolvimento, web, sistemas, saas, cloud, programação, ruby, startup, aplicativos, aplicações, software, sistemas" }
  %meta{:name => "description", :content => "Helabs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing." }
  %meta{:name => "author", :content => "Helabs - http://helabs.com.br" }
  %meta{:name => "copyright", :content => "©#{Date.today.year} Helabs" }
  %meta{:name => "robots", :content => "index,follow" }
  /%link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
  %link{:rel => "stylesheet", :href => "/stylesheets/reset.css", :type => "text/css", :media => "all" }
  %link{:rel => "stylesheet", :href => "/stylesheets/global.css", :type => "text/css", :media => "all" }
  /[if lt IE 9]
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
  {% include google_analytics.ext %}