<div class="containner">
  <ul class="offices">
    <li>
      <address>
        <a href="https://goo.gl/maps/i8xYx" rel="nofollow external">
          <h3>Rio de Janeiro</h3>
          Av. Pres. Vargas, 633, sala 1716<br/>
          Centro<br/>
          Rio de Janeiro - RJ<br/>
          20071-004, Brasil
        </a><br>
        <a class="tel" href="tel:+552125075307">
          +55 21 3852-6088
        </a>
      </address>
    </li>
    <li>
      <address>
        <a href="https://goo.gl/maps/j6XF9" rel="nofollow external">
          <h3>Londrina</h3>
          R. Santa Catarina, 50, sala 2401<br/>
          Centro<br/>
          Londrina - PR<br/>
          85801-040, Brasil
        </a><br>
        <a class="tel" href="tel:+554330256102">
          +55 43 3025-6102
        </a>
      </address>
    </li>
    <li>
      <address>
        <a href="https://goo.gl/maps/Geuev" rel="nofollow external">
          <h3>Miami</h3>
          201 South Biscayne Blvd. Suite#1200<br/>
          Downtown Miami<br/>
          Miami - FL<br/>
          33131, USA
        </a><br>
        <a class="tel" href="tel:+17865484054">
          +1 (786) 548 4054
        </a>
      </address>
    </li>
  </ul>
</div>
