%ol
  %li
    BielSystems - 
    %a{:href => "http://bielsystems.com.br"} http://bielsystems.com.br
  %li
    Cobre Grátis - 
    %a{:href => "http://cobregratis.com.br"} http://cobregratis.com.br
  %li
    Webfax - 
    %a{:href => "http://www.webfax.me"} http://www.webfax.me
  %li
    Workshop Bootstrappers - 
    %a{:href => "http://workshop.bootstrappers.com.br"} http://workshop.bootstrappers.com.br