%ol
  %li
    BielSystems - 
    %a{:href => "http://bielsystems.com.br"} http://bielsystems.com.br
  %li
    Cobre Grátis - 
    %a{:href => "http://cobregratis.com.br"} http://cobregratis.com.br
  %li
    Workshop Bootstrappers - 
    %a{:href => "http://workshop.bootstrappers.com.br"} http://workshop.bootstrappers.com.br
  %li
    EmailFax - 
    %a{:href => "http://emailfa.com.br"} http://emailfax.com.br
  %li
    FaxGuru - 
    %a{:href => "http://faxguru.com.br"} http://faxguru.com.br