<h2>Torne-se um zumbi em Rails!<br/>Curso presencial Rails for Zombies 2!</h2>
<h3>Um curso do CodeSchool em parceria com a HE:labs, totalmente em português  ao vivo e a cores.</h3>

<p>Sua cabeça vai explodir e não estamos falando de Headshots não, o Rails for Zombies 2 é uma ótima pedida para quem quer se tornar um sobrevivente e encarar as linhas de comando zumbis apenas com sua shotgun e o terminal a mão. Caia pra dentro e faça o curso Rails for Zombies 2 que vai rolar dia xx no Bees Office com os instrutores Rodrigo Pinto e Mauro George. </p>
<h3>Level 1 - From de ground up</h3>
<p>Como instalar Rails, criar a Rails app, migração de banco, a linha de comando, Ruby 1.9 hash syntax, Bundler, configuração do banco</p>
<h3>Level 2 - Models still taste like chicken</h3>
<p>Named scopes, callbacks, has_one, opções de relacionamento, usando Includes, has_many :through</p>
<h3>Level 3 - Rest in pieces</h3>
<p>Revisitando os URL helpers, forms & input helpers, entendendo REST, nested resources, view partials, outros view helpers</p>
<h3>Level 4 - Asset packaging and mailing</h3>
<p>Enviando anexo no mail, asset tags, usando o Asset Pipeline, CoffeeScript, criando e enviando mail, SCSS, usando o JavaScript manifest</p>
<h3>Level 5 - Rendering Extremities</h3>
<p>Rotas RESTful customizadas, criando links AJAX, renderizando JSON customizado, formulários com AJAX, opções de renderização no controller, enviando JavaScript do Servidor, usando dados JSON</p>

<h3>Pré-Requisitos</h3>
<p>Conhecimento básico/intermediário de Ruby/Rails e/ou ter feito o Rails for Zombies.</p>

<h3>Material</h3>
<p>O workshop acontece presencial, porém o material e o ambiente de treinamento estarão online,
  sendo assim, o aluno precisa levar o seu <b>próprio notebook</b> e que tenha <b>acesso a internet</b>,
  e não esqueça <b>o seu carregador</b>.
</p>