<!--
<div class="background">
	<div class="cover"></div>
	<img src="/images/hepair.png" alt="HE:pair" />

	<div class="content">	
		<h2>HE:pair</h2>
	</div>
</div>
-->

<div class="containner">
  <h2>HE:pair</h2>
  <p class="sub">Os melhores profissionais em uma sessão online com você. Por algumas horas, nós estamos disponíveis para code reviews, resolver problemas com você, ou lhe mentorar em novas tecnologias.</p>

  <ul>
		<li>
		  <img src="/images/time-mauro.jpg" alt="Mauro George" />
		  <p>
		  	Mauro George<br />
				<span>Developer</span>
		  </p>
		</li>
		<li>
		  <img src="/images/time-lunks.jpg" alt="Pedro Nascimento" />
		  <p>
				Pedro Nascimento<br />
				<span>Developer</span>
		  </p>
		</li>
		<li>
		  <a href="/nosso-time/eduardo-fiorezi">
				<img src="/images/time-eduardo.jpg" alt="Eduardo Fiorezi" />
				<p>
			  	Eduardo Fiorezi<br />
			  	<span>Developer</span>
				</p>
		  </a>
		</li>
  </ul>

  <a href="#" class="bt">Se interessou? Entre em contato!</a>
</div>
