<!--
<div class="background">
	<div class="cover"></div>
	<img src="/images/hepair.png" alt="HE:pair" />

	<div class="content">	
		<h2>HE:pair</h2>
	</div>
</div>
-->

<div class="containner">

  <h2>HE:pair</h2>
  <p class="sub">Os melhores profissionais em uma sessão online com você. Por algumas horas, nós estamos disponíveis para code reviews, resolver problemas com você, ou lhe mentorar em novas tecnologias.</p>

  <ul>
	<li>
	  <img src="/images/time-mauro.jpg" alt="Mauro George" />
	  <p>
		Mauro George<br />
		<span>Developer</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-cayo.jpg" alt="Cayo Medeiros" />
	  <p>
		Cayo Medeiros<br />
		<span>Developer</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-rodrigo.jpg" alt="Cayo Medeiros" />
	  <p>
		Rodrigo Pinto<br />
		<span>Developer</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-aluisio.jpg" alt="Aluisio Azevedo " />
	  <p>
		Aluisio Azevedo <br />
		<span>Designer</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-matheus.jpg" alt="Matheus Bras" />
	  <p>
		Matheus Bras<br />
		<span>Developer</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-lunks.jpg" alt="Pedro Nascimento" />
	  <p>
		Pedro Nascimento<br />
		<span>Developer</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-anezio.jpg" alt="Anézio Campos" />
	  <p>
		Anézio Campos<br />
		<span>Developer</span>
	  </p>
	</li>
	<li>
	  <a href="/nosso-time/eduardo-fiorezi">
		<img src="/images/time-eduardo.jpg" alt="Eduardo Fiorezi" />
		<p>
		  Eduardo Fiorezi<br />
		  <span>Developer</span>
		</p>
	  </a>
	</li>
	<li>
	  <img src="/images/time-reginato.jpg" alt="Rodrigo Reginato" />
	  <p>
		Rodrigo Reginato<br />
		<span>Developer</span>
	  </p>
	</li>
	<li>
	  <a href="/nosso-time/rafael-fiuza">
		<img src="/images/time-fiuza.jpg" alt="Rafael Fiuza" />
		<p>
		  Rafael Fiuza<br />
		  <span>Developer</span>
		</p>
	  </a>
	</li>
	<li>
	  <a href="/nosso-time/mikael-carrara">
		<img src="/images/time-mikael.jpg" alt="Mikael Carrara" />
		<p>
		  Mikael Carrara<br />
		  <span>Designer</span>
		</p>
	  </a>
	</li>
	<li>
	  <img src="/images/time-rodrigo-gomes.jpg" alt="Rodrigo Gomes" />
	  <p>
		Rodrigo Gomes<br />
		<span>Designer</span>
	  </p>
	</li>
	<li>
	  <a href="/nosso-time/thiago-belem">
		<img src="/images/time-thiago-belem.png" alt="Thiago Belem" />
		<p>
		  Thiago Belem<br />
		  <span>Developer</span>
		</p>
	  </a>
	</li>
	<li>
	  <img src="/images/time-thiago-borges.jpg" alt="Thiago Borges" />
	  <p>
		Thiago Borges<br />
		<span>Developer</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-crystal.jpg" alt="Crystal Affonso" />
	  <p>
		Crystal Affonso<br />
		<span>Comunicadora</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-krystal.jpg" alt="Krystal Campioni" />
	  <p>
		Krystal Campioni<br />
		<span>Designer</span>
	  </p>
	</li>
	<li>
	  <a href="/nosso-time/dirceu-pauka">
		<img src="/images/time/time-dirceu.jpg" alt="Dirceu Pauka Jr." />
		<p>
		  Dirceu Pauka Jr.<br />
		  <span>Developer</span>
		</p>
	  </a>
	</li>
	<li>
	  <a href="/nosso-time/flavia-fortes">
		<img src="/images/time-flavia.png" alt="Flavia Fortes" />
		<p>
		  Flavia Fortes<br />
		  <span>Developer</span>
		</p>
	  </a>
	</li>

	<li>
    <img src="/images/time-gonzalez.png" alt="Thiago Gonzalez" />
    <p>
    	Thiago Gonzalez<br />
    	<span>Developer</span>
    </p>
  </li>

	<li>
		<img src="http://s.gravatar.com/avatar/c864b5ce34df9f462ef144d79d324eb2?s=200" alt="Bruno Fernando" />
		<p>
			Bruno Fernando<br />
			<span>Designer</span>
		</p>
	</li>

  <li>
    <a href="/nosso-time/francisco-martins">
      <img src="http://s.gravatar.com/avatar/ed51f087eafad0d6e5fd5c55be777330?s=200" alt="Francisco Martins" />
      <p>
      Francisco Martins<br />
      <span>Developer</span>
      </p>
    </a>
  </li>
	<li>
	  <img src="/images/time-sylvestre.jpg" alt="Sylvestre Mergulhão" />
	  <p>
		Sylvestre Mergulhão<br />
		<span>Mentor de Tecnologia</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-rafael.jpg" alt="Rafael Lima" />
	  <p>
		Rafael Lima<br />
		<span>Mentor de Estratégia</span>
	  </p>
	</li>
  </ul>
</div>
