<section id="hepair-page">
  <div class="containner">

    <h2 id="hepair-logo">
      <img src="/images/hepair-logo.png" alt="HE:pair">
    </h2>

    <p class="sub">
      Os melhores profissionais em uma sessão online com você. Por algumas horas, nós estamos disponíveis para code reviews, resolver problemas com você, ou lhe mentorar em novas tecnologias.
    </p>

    <ul>
      <li>
        <a href="/nosso-time/eduardo-fiorezi">
          <img src="/images/time/time-eduardo.jpg" alt="Eduardo Fiorezi" />
    		  <h3>Eduardo Fiorezi</h3>
    		  <p>Developer</p>
        </a>
      </li>
      <li>
        <img src="/images/time/time-mauro.jpg" alt="Mauro George" />
  		  <h3>Mauro George</h3>
  		  <p>Developer</p>
      </li>
      <li>
        <img src="/images/time/time-lunks.jpg" alt="Pedro Nascimento" />
  		  <h3>Pedro Nascimento</h3>
  		  <p>Developer</p>
      </li>
      <li>
        <img src="/images/time/time-sylvestre.jpg" alt="Sylvestre Mergulhão" />
  		  <h3>Sylvestre Mergulhão</h3>
  		  <p>Developer</p>
      </li>
    </ul>

    <a href="#fale-conosco" class="red-button red-button-pair">
      Se interessou? Entre em contato!
    </a>

  </div>
</section>
