<div class="containner">

  <h2>Nosso Time</h2>
  <p class="sub">Os melhores desenvolvedores, hackers e designers reunidos em times altamente produtivos.</p>

  <ul>
	<li>
	  <img src="/images/time-liliane.jpg" alt="Time Liliane" />
	  <p>
		Liliane Freitas<br />
		<span>Administrativo</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-cinthia.jpg" alt="Cinthia Leite" />
	  <p>
		Cinthia Leite<br />
		<span>Administrativo</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-periard.jpg" alt="Rafael Periard" />
	  <p>
		Raphael Periard<br />
		<span>Comercial</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-mauro.jpg" alt="Mauro George" />
	  <p>
		Mauro George<br />
		<span>Developer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/maurogeorge" rel="external"  title="Github do Mauro George">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/maurogeorge" rel="external"  title="Twitter do Mauro George">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-cayo.jpg" alt="Cayo Medeiros" />
	  <p>
		Cayo Medeiros<br />
		<span>Developer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/yogodoshi" rel="external"  title="Github do Cayo Medeiros">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/yogodoshi" rel="external"  title="Twitter do Mauro George">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-rodrigo.jpg" alt="Cayo Medeiros" />
	  <p>
		Rodrigo Pinto<br />
		<span>Developer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/rodrigopinto" rel="external"  title="Github do Rodrigo Pinto">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/rodrigoospinto" rel="external"  title="Twitter do Rodrigo Pinto">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-aluisio.jpg" alt="Aluisio Azevedo " />
	  <p>
		Aluisio Azevedo <br />
		<span>Designer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/aluisioazevedo" rel="external"  title="Github do Aluisio Azevedo ">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/aluisio_azevedo" rel="external"  title="Twitter do Aluisio Azevedo ">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-matheus.jpg" alt="Matheus Bras" />
	  <p>
		Matheus Bras<br />
		<span>Developer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/matheusbras" rel="external"  title="Github do Matheus Bras">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/matheusbras_" rel="external"  title="Twitter do Matheus Bras">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-lunks.jpg" alt="Pedro Nascimento" />
	  <p>
		Pedro Nascimento<br />
		<span>Developer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/lunks" rel="external"  title="Github do Pedro Nascimento">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/lunks" rel="external"  title="Twitter do Pedro Nascimento">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-anezio.jpg" alt="Anézio Campos" />
	  <p>
		Anézio Campos<br />
		<span>Developer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="https://github.com/aneziocampos" rel="external"  title="Github do Anézio Campos">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/aneziojunior" rel="external"  title="Twitter do Anézio Campos">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <a href="/nosso-time/eduardo-fiorezi">
		<img src="/images/time-eduardo.jpg" alt="Eduardo Fiorezi" />
		<p>
		  Eduardo Fiorezi<br />
		  <span>Developer</span>
		</p>
	  </a>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/eduardofiorezi" rel="external"  title="Github do Eduardo Fiorezi">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/eduardofiorezi" rel="external"  title="Twitter do Eduardo Fiorezi">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-reginato.jpg" alt="Rodrigo Reginato" />
	  <p>
		Rodrigo Reginato<br />
		<span>Developer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/reginato" rel="external"  title="Github do Rodrigo Reginato">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/reginato" rel="external"  title="Twitter do Rodrigo Reginato">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <a href="/nosso-time/rafael-fiuza">
		<img src="/images/time-fiuza.jpg" alt="Rafael Fiuza" />
		<p>
		  Rafael Fiuza<br />
		  <span>Developer</span>
		</p>
	  </a>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/guiloyins" rel="external"  title="Github do Rafael Fiuza">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/Rafael_Fiuza" rel="external"  title="Twitter do Rafael Fiuza">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <a href="/nosso-time/mikael-carrara">
		<img src="/images/time-mikael.jpg" alt="Mikael Carrara" />
		<p>
		  Mikael Carrara<br />
		  <span>Designer</span>
		</p>
	  </a>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/mikaelcarrara" rel="external"  title="Github do Mikael Carrara">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/mikaelcarrara" rel="external"  title="Twitter do Mikael Carrara">
			Twitter
		  </a>
		</li>
		<li>
		  <a class="dribbble" href="http://dribbble.com/mikaelcarrara" rel="external"  title="Dribbble do Mikael Carrara">
			Dribbble
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-rodrigo-gomes.jpg" alt="Rodrigo Gomes" />
	  <p>
		Rodrigo Gomes<br />
		<span>Designer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="https://github.com/souzagomes1989" rel="external"  title="Github do Rodrigo Gomes">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="https://twitter.com/souzagomes1989" rel="external"  title="Twitter do Rodrigo Gomes">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <a href="/nosso-time/thiago-belem">
		<img src="/images/time-thiago-belem.png" alt="Thiago Belem" />
		<p>
		  Thiago Belem<br />
		  <span>Developer</span>
		</p>
	  </a>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="https://github.com/TiuTalk" rel="external"  title="Github do Thiago Belem">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="https://twitter.com/TiuTalk" rel="external"  title="Twitter do Thiago Belem">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-thiago-borges.jpg" alt="Thiago Borges" />
	  <p>
		Thiago Borges<br />
		<span>Developer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="https://github.com/thiagogabriel" rel="external"  title="Github do Thiago Borges">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="https://twitter.com/tgabrielborges" rel="external"  title="Twitter do Thiago Borges">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-crystal.jpg" alt="Crystal Affonso" />
	  <p>
		Crystal Affonso<br />
		<span>Comunicadora</span>
	  </p>
	</li>
	<li>
	  <img src="/images/time-krystal.jpg" alt="Krystal Campioni" />
	  <p>
		Krystal Campioni<br />
		<span>Designer</span>
	  </p>
	</li>
	 <li>
	  <img src="/images/time-veloso.jpg" alt="Thiago Veloso" />
	  <p>
		Thiago Veloso<br />
		<span>Developer</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="https://github.com/velosos" rel="external"  title="Github do Thiago Veloso">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="https://twitter.com/velosothiago" rel="external"  title="Twitter do Thiago Veloso">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <a href="/nosso-time/dirceu-pauka">
		<img src="/images/time/time-dirceu.jpg" alt="Dirceu Pauka Jr." />
		<p>
		  Dirceu Pauka Jr.<br />
		  <span>Developer</span>
		</p>
	  </a>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="https://github.com/dirs" rel="external"  title="Github do Dirceu">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="https://twitter.com/dirs" rel="external"  title="Twitter do Dirceu">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <a href="/nosso-time/flavia-fortes">
		<img src="/images/time-flavia.png" alt="Flavia Fortes" />
		<p>
		  Flavia Fortes<br />
		  <span>Developer</span>
		</p>
	  </a>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="https://github.com/FlaviaFortes" rel="external"  title="Github da Flavia">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="https://twitter.com/FlaFortes" rel="external"  title="Twitter da Flavia">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>

	<li>
    <img src="/images/time-gonzalez.png" alt="Thiago Gonzalez" />
    <p>
    	Thiago Gonzalez<br />
    	<span>Developer</span>
    </p>
    <ul class="social-icons">
    	<li>
      	<a class="github" href="https://github.com/thiagonzalez" rel="external"  title="Github do Thiago Gonzalez">
        Github
      	</a>
    	</li>
    </ul>
  </li>
  <li>
    <a href="/nosso-time/francisco-martins">
      <img src="http://s.gravatar.com/avatar/ed51f087eafad0d6e5fd5c55be777330?s=200" alt="Francisco Martins" />
      <p>
      Francisco Martins<br />
      <span>Developer</span>
      </p>
    </a>
    <ul class="social-icons">
    <li>
      <a class="github" href="http://github.com/franciscomxs" rel="external"  title="Github do Francisco Martins">
      Github
      </a>
    </li>
    <li>
      <a class="twitter" href="http://twitter.com/franciscomxs" rel="external" title="Twitter do Francisco Martins">
      Twitter
      </a>
    </li>
    </ul>
  </li>
	<li>
	  <img src="/images/time-sylvestre.jpg" alt="Sylvestre Mergulhão" />
	  <p>
		Sylvestre Mergulhão<br />
		<span>Mentor de Tecnologia</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/mergulhao" rel="external"  title="Github do Sylvestre Mergulhão">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/smergulhao" rel="external"  title="Twitter do Sylvestre Mergulhão">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
	  <img src="/images/time-rafael.jpg" alt="Rafael Lima" />
	  <p>
		Rafael Lima<br />
		<span>Mentor de Estratégia</span>
	  </p>
	  <ul class="social-icons">
		<li>
		  <a class="github" href="http://github.com/rafaelp" rel="external"  title="Github do Rafael Lima">
			Github
		  </a>
		</li>
		<li>
		  <a class="twitter" href="http://twitter.com/rafaelp" rel="external" title="Twitter do Rafael Lima">
			Twitter
		  </a>
		</li>
	  </ul>
	</li>
	<li>
		<img src="/images/time-vinicius.jpg" alt="Vinicius Teles" />
		<p>
		  Vinicius Teles<br />
		  <span>Conselheiro</span>
		</p>
	  </li>
	  <li>
		<img src="/images/time-kaue.jpg" alt="Kauê Linden" />
		<p>
		  Kauê Linden<br />
		  <span>Conselheiro</span>
		</p>
	  </li>
	<li class="voce">
	  <a href="/jobs">
		<img src="/images/time-voce.jpg" alt="Você" />
	  </a>
	  <p>
		Você<br />
		<span>Faça parte do time!</span>
	  </p>
	</li>
  </ul>
  <br clear="all">
  <a class="red-button" href="#fale-conosco">
	venha falar com a gente
  </a>
</div>