---
layout: workshops
title: Workshop Rails For Zombies 2 Presencial no Rio de Janeiro
description: Participe do Workshop Rails For Zombies 2 no Rio de Janeiro. Torne-se um zumbi em Rails!
---
<div class="header-spacer-default"></div>
<section id="workshop">
  <div id="cover" class="cover-rails-for-zombies-2">
    <h2><span>CodeSchool - Rails for Zombies 2</span></h2>
  </div>
  <div class="containner">
  <div class="left">

    {% include rails_for_zombie_content.html %}

    {% include mailing.html %}

  </div>

  <div class="right">
    <h2>Preço</h2>
    <p class="price">R$ 250,00</p>
    <h3>Quando vai ser</h3>
    <p>11 e 13 de Dezembro (Terça e Quinta)</p>
    <a class="subscribe-workshop" href="https://checkout.landingcommerce.com.br/checkout/rails-for-zombies-2-rio-de-janeiro">inscreva-se nesse workshop!</a>
    <h3>Onde vai ser?</h3>
    <p>Local a Confirmar</p>
    </br>

    <!--iframe width="350" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Miguel+Couto,+35,+Grupo+603+Centro,+Rio+de+Janeiro,+RJ+-+BeesOffice&amp;sll=-22.066781,-42.923704&amp;sspn=4.509498,8.453979&amp;t=m&amp;ie=UTF8&amp;hq=Grupo+603+Centro,+Rio+de+Janeiro,+RJ+-+BeesOffice&amp;hnear=R.+Miguel+Couto,+35+-+Centro,+Rio+de+Janeiro,+20070-030&amp;ll=-22.902746,-43.179125&amp;spn=0.006295,0.006295&amp;output=embed"></iframe ><br /-->

    <h3>FORMATO</h3>
    <ul>
      <li>Carga Horária: 8 horas</li>
      <li>Duração: 2 dias</li>
      <li>Horário: 18h às 22h </li>
      <li>Número de Vagas: 30</li>
    </ul>
    <h3>PRÉ REQUISITOS DO CURSO</h3>
    <p>Conhecimento básico de Ruby/Rails e/ou ter feito o Rails for Zombies</p>

    <h3>CONQUISTAS DESSE CURSO</h3>
    <div id="badge">
      <ul>
        <li><img src="/images/completed-rails-for-zombies-2.png"></li>
        <li><img src="/images/level-1-on-rails-for-zombies-2.png"></li>
        <li><img src="/images/level-2-on-rails-for-zombies-2.png"></li>
        <li><img src="/images/level-3-on-rails-for-zombies-2.png"></li>
        <li><img src="/images/level-4-on-rails-for-zombies-2.png"></li>
      </ul>

    </div>
  </div>
  <br clear="all"/>
  <div>

</section>
<div id="instructors-info"></div>
  <section id="instructors" class="instructors-rails-for-zombies-2" >
    <div class="zombies">
    <div class="containner">

    <div class="zombie-rodrigo">
      <h2>Sobre o Professor</h2>
      <h3>Rodrigo Pinto</h3>
      <p>Rodrigo é apaixonado por desenvolvimento de software e seus desafios. Amante de código legível, está sempre procurando melhores formas de escrevê-los. Ele participa de comunidades de software, eventos e projetos open source sempre que pode e de forma relevante.</p>
      <p>Seus hobbies incluem ir a um bom samba de raiz, se divertir com os amigos e fazer hamburguer caseiro sempre que possível, quando ele não está fazendo nenhuma dessas atividades ele está programando.
      </p>
    </div>
    <div class="zombie-mauro">
      <h3>Mauro George</h3>
      <p>Mauro George é fanático por entregar software e gerar valor para o cliente. Vindo do php, encontrou-se no mundo Ruby/Rails e está muito feliz por tê-lo feito. Como programador ele é um exímio "poeta" que e tem a seguinte frase: "Eu não critico, eu refatoro e avassalo". </p>
      <p>Seus hobbies englobam colecionar bonecos do Zelda, Dragon Ball e jogar jogos antigos de video game.</p>
    </div>
    </div>
    </div>
  </section>

  <div id="inscricao" class="containner teaser-zombies">
    <h3 class="teaser-zombies">Não perca essa oportunidade, inscreva-se já nesse thriller de rails, ossos e shotguns!</h3>
    <div>
    <a class="subscribe-workshop-big" href="https://checkout.landingcommerce.com.br/checkout/rails-for-zombies-2-rio-de-janeiro">inscreva-se nesse workshop!</a>
    </div>
  </div>

