:plain
  ---
  layout: default
  html_title: BielSystems • Segurança
  title: Segurança
  ---

%article
  %p Uma de nossas principais premissas é garantir seu direito a privacidade e a segurança de seus dados. Por isso, trabalhamos constantemente na segurança de nossos servidores. Temos processos bem definidos e estamos constantemente revendo nossas políticas afim de garantir a maior segurança para todos os nossos clientes.
  %a{ :href => "https://siteforte.com.br/certificado/bielsystems.com.br?utm_source=bielsystems.com.br&utm_medium=selo_premium&utm_term=siteforte&utm_campaign=permanente", :target => "_blank", :class => "noborder" }
    %img{ :style => "border:none;", :title => "Auditoria de segurança para serviços online com transações financeiras e informações confidenciais :: SITEFORTE - Segurança Digital", :src => "https://siteforte.com.br/selos/9_bielsystemscombr.png" }
  %p A segurança dos servidores refere-se a qualquer um de nossos websites:
  %ol
    %li
      BielSystems - 
      %a{:href => "http://bielsystems.com.br"} http://bielsystems.com.br
    %li
      Cobre Grátis - 
      %a{:href => "http://cobregratis.com.br"} http://cobregratis.com.br
    %li
      Workshop Bootstrappers - 
      %a{:href => "http://workshop.bootstrappers.com.br"} http://workshop.bootstrappers.com.br
    %li
      EmailFax - 
      %a{:href => "http://emailfa.com.br"} http://emailfax.com.br
    %li
      FaxGuru - 
      %a{:href => "http://faxguru.com.br"} http://faxguru.com.br