:plain
  ---
  layout: default
  html_title: BielSystems • Débito no Cartão de Crédito
  title: Seu cartão de crédito foi debitado?
  ---

%article
  %h2 Quem é BielSystems?
  %p Somos uma pequena empresa de desenvolvimento de software que comercializa aplicativos web, ou seja, software que funciona pela internet.
  %h2 Por que debitaram meu cartão?
  %p
    Esta é uma cobrança recorrente do
    %a{:href => "http://cobregratis.com.br"} Cobre Grátis
    ou um pagamento único do
    = succeed "," do
      %a{:href => "http://emailfax.com.br"} EmailFax
    do
    %a{:href => "http://faxguru.com.br"} FaxGuru
    ou do
    = succeed "." do
      %a{:href => "http://workshop.bootstrappers.com.br"} Workshop Bootstrappers
  %h2 Não reconhece o débito?
  %p Se o nome dos produtos acima não são familiares para você, pergunte para parentes próximos ou colegas de trabalho se eles contrataram estes aplicativos utilizando o seu cartão.
  %p Percebemos que 95% das vezes o débito não é reconhecido por ter sido uma outra pessoa que contratou o serviço.
  %h2 Como eu cancelo a minha conta?
  %p Se você reconhece um dos aplicativos acima e for uma cobrança recorrente, você pode cancelar sua conta a qualquer momento. Basta efetuar o login, acessar a aba Minha Conta e clicar no link de cancelamento de conta. Uma vez cancelado, seu cartão de crédito não será mais debitado.
  %h2 Posso ser reembolsado?
  %p
    Débitos realizados não são reembolsáveis, mas uma vez cancelada a conta, você não será mais debitado novamente. Nós não temos contratos de longa duração, período de carência, nem cobramos multa por cancelamento. Você só paga pelo que usar e pode cancelar a qualquer momento.
  %h2 Meu cartão foi clonado, o que fazer?
  %p Se você foi vítima de fraude e o seu cartão foi utilizado por outra pessoa, entre em contato conosco informando a bandeira do cartão, o número do cartão, a data do débito e o valor debitado, para que possamos avaliar o caso e, caso a fraude seja confirmada, estornar o valor debitado.
  %p
  %h2 Como entro em contato?
  %p
    Você pode entrar em contato enviando uma menagem:
    %a{:href => "http://suporte.bielsystems.com.br"} http://suporte.bielsystems.com.br