body {
	background: #fbe1b0 url(/images/eventos/cafe/background-cafe.png) no-repeat;
	border-top: 5px solid #602d15;
	margin: 0;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

h1 {
	background: url(/images/eventos/cafe/cafe-logo.png) no-repeat;
	height: 275px;
	width: 275px;
	text-indent: -9999px;
	margin: 40px auto;
}

p {
	color: #602d15;
	margin: 0 0 5px;
	text-align: center;
	font-size: 30px;
	font-weight: 300; 
}

form {
	padding: 20px;
	border-radius: 5px;
	background: #edd3a2;
	width: 100%;
	max-width: 360px;
	margin: 40px auto;
}

.email {
	width: 100%;
	max-width: 340px;
	padding: 8px 10px;
	float: left;
	margin: 0 0 15px;
	border-radius: 5px;
	border: none;
	font-size: 15px;
	text-align: center;
}

.button {
	width: 150px;
	margin: 0;
	border-radius: 5px;
	color: #fff;
	background: #602d15;
	border: none;
	font-size: 15px;
	padding: 8px 0;
	cursor: pointer;
}