body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

a
  color: #1253A5
a:hover
  color: #1253A5

header
  width: 940px
  margin: 0 auto
  padding: 0 10px
  text-align: center
  #logo
    margin: 0 auto
    padding: 20px 0
    width: 235px
    height: 60px
    a
      display: block
      width: 235px
      height: 60px
      background: transparent url("/images/bielsystems-logo.png") no-repeat 0 0
      text-indent: -9999px
  h1
    font-weight: bold
    color: #404040
    font-size: 28px
    line-height: 24px

section
  width: 783px
  margin: 20px auto
  article
    margin: 4em 0
    a:hover
      border-bottom: 1px solid #999
    a.noborder
      border-bottom: none
  article.quotes
    margin: 4em 0
    text-align: center
    font-family: Georgia, serif
  h2
    font-weight: 500
    font-size: 22px
  p
    font-size: 20px
    line-height: 1.5em
    font-weight: 300
    margin: 0 0 1em
  ol
    margin: 1em 0
  li
    font-size: 20px
    line-height: 1.5em
    font-weight: 300
  ul#products
    list-style: none
    margin: 40px 0
    overflow: hidden
    li
      font-size: 16px
      float: left
      width: 360px
    li:nth-child(odd)
      margin-right: 60px
  img
    border: none
    margin-bottom: 10px
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.3)


.column-quarter
  width: 220px
  margin-right: 20px
  float: left

.column-quarter + .column-quarter + .column-quarter + .column-quarter
  margin-right: 0

.column-half
  width: 460px
  float: left

.et_quote
  background: url(/images/left-quotes-big.png) no-repeat
  padding-left: 57px
  min-height: 40px
  font-family: Georgia, serif
  font-size: 14px
  font-style: italic
.et_right_quote
  width: 100%
.quote-center
  font-size: 24px
  line-height: 1.5em
  text-align: center
  background: url(/images/left-quotes-small.png) no-repeat 0px 3px
  padding-left: 30px
.quote-center .et_right_quote
  padding-right: 30px
  width: 95%
  background: url(/images/right-quotes-small.png) 100% 3px no-repeat

footer
  padding: 20px 0 40px
  border-top: 1px solid #999
  background: transparent url("/images/footer-bg.png") repeat-x top left

  #footer-content
    color: #999
    width: 940px
    margin: 0 auto
    padding: 0 10px
    font-size: .9em
    h1
      margin-bottom: .4em
      font-weight: bold
      color: #696969
    #copyright
      margin: 2em 0 0 0
      text-align: center
    nav
      ul#links
        li
          padding: 0 0 4px
      p
        font-size: 0.8em
        line-height: 1.8em
