body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: #1253a5; }

a:hover {
  color: #1253a5; }

header {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center; }
  header #logo {
    margin: 0 auto;
    padding: 20px 0;
    width: 235px;
    height: 60px; }
    header #logo a {
      display: block;
      width: 235px;
      height: 60px;
      background: transparent url("/images/bielsystems-logo.png") no-repeat 0 0;
      text-indent: -9999px; }
  header h1 {
    font-weight: bold;
    color: #404040;
    font-size: 28px;
    line-height: 24px; }

section {
  width: 783px;
  margin: 20px auto; }
  section article {
    margin: 4em 0; }
    section article a:hover {
      border-bottom: 1px solid #999999; }
    section article a.noborder {
      border-bottom: none; }
  section h2 {
    font-weight: 500;
    font-size: 22px; }
  section p {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0 0 1em; }
  section li {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 300; }
  section ul#products {
    list-style: none;
    margin-top: 20px;
    overflow: hidden; }
    section ul#products li {
      font-size: 20px;
      float: left;
      width: 360px; }
    section ul#products li:nth-child(odd) {
      margin-right: 60px; }
  section img {
    border: none;
    margin-bottom: 10px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }

.column-quarter {
  width: 220px;
  margin-right: 20px;
  float: left; }

.column-quarter + .column-quarter + .column-quarter + .column-quarter {
  margin-right: 0; }

.column-half {
  width: 460px;
  float: left; }

footer {
  padding: 20px 0 40px;
  border-top: 1px solid #999999;
  background: transparent url("/images/footer-bg.png") repeat-x top left; }
  footer #footer-content {
    color: #999999;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 0.9em; }
    footer #footer-content h1 {
      margin-bottom: 0.4em;
      font-weight: bold;
      color: #696969; }
    footer #footer-content #copyright {
      margin: 1em 0 0 0;
      text-align: center; }
    footer #footer-content nav ul#links li {
      padding: 0 0 4px; }
    footer #footer-content nav p {
      font-size: 0.8em;
      line-height: 1.8em; }
