@charset "utf-8";


/* Reset */

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
	vertical-align: baseline;
	font-style: normal;
  list-style-type: none;
	padding: 0;
  margin: 0;
  border: 0;
}

header, footer, aside,
nav, article, section { display:block; }

html { font-size: 62.5%; }


/* Generic */

body {
  font-family: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(71, 60, 60);
}

p { margin:0 0 20px 0; }
label { cursor:pointer; }
img { border:none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

a { color:#b80606; }

a:hover, a:hover img {
  opacity: .8;
}


/* Viewport */

html, body {
  width: 100%;
  overflow-x: hidden;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}


/* ====================
Patterns
==================== */

.containner {
  width: 960px;
  margin: auto;
}

.default {
  width: 100%;
  background-color: #fff;
  border-top: 5px solid #B80606;
  box-shadow: 0 -24px 8px 27px rgba(0, 0, 0, 0.3);
  padding: 10px 0 10px 0;
  position: fixed;
  left: 0; top: 0;
  z-index: 999;
  float:left;
}

.default .logo {
  width: 200px;
  float: left;
}


/* ====================
Nav
==================== */

#hiddenmenu { display:none; }

#menu2 {
  margin-top: 25px;
  text-align: right;
  float: right;
}

#menu2 li {
  display: inline;
  margin-left: 10px
}

#menu2 a {
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

#menu2 a:hover { color: #b80606; }

#menu2 span a {
  color: #B80606;
  text-transform: uppercase;
  font-size: 12px;
}

#menu2 > ul > li { position: relative; }

#menu2 > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 5px 0 5px 0;
  background-color: rgba(0,0,0,.9);
  text-align: left;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
  box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}

#menu2 > ul > li:hover > ul {
  opacity: 1;
  top: 40px;
  visibility: visible;
}

#menu2 > ul > li > ul:before{
  content: '';
  display: block;
  border-color: transparent transparent rgba(0,0,0,.9) transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
  z-index: 100;
}

#menu2 > ul ul > li {
  position: relative;
  margin:0;
}

#menu2 ul ul a {
  color: rgb(250,250,250);
  font-family: Verdana, 'Lucida Grande';
  font-size: 12px;
  padding: 5px 0px 7px 0px;
  display: block;
  -webkit-transition: background-color .1s;
  -moz-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color .1s;
  text-align: center;
  font-weight: normal;
}

#menu2 a span.heart{
  font-size: 17px;
  margin-left: 5px;
}

#menu2 ul ul a:hover {
  text-decoration: none;
  opacity: 1;
}

#menu2 ul ul {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
  box-shadow: 0px 1px 3px rgba(0,0,0,.4);

  width: 160px;
  visibility: hidden;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: rgb(250,250,250);
  opacity: 0;
}

#menu2 ul ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  left: 196px;
}

#menu2 ul ul a:hover {
  background-color: #b80606;
  color: #fff;
}


/* ====================
Home
==================== */

#home {
  background: url("/images/bg-home.jpg") center no-repeat;
  padding:190px 0 60px 0;
}

#home h2 {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 80px;
  font-size: 82px;
  color: #fff;
}

#home h3 {
  text-shadow: 0px 1px 0px rgba(256, 256, 256, 0.6);
  font-weight:300;
  text-transform: uppercase;
  font-size: 38px;
  text-align:center;
  color:#6d7171;
  padding-top: 20px;
  margin-bottom: 15px;
}


/* Services */

.services {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.services:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}

.services li {
  width: 26%;
  background-color: #fff;
  display: inline-block;
  line-height: 20px;
  padding: 30px 3% 0 3%;
  min-height: 225px;
}

.services h3 {
  font-size: 22px !important;
  line-height: 22px;
  color: #b80606 !important;
  margin: 0 0 5px 0 !important;
  padding-top: 0 !important;
}

.services p {
  font-family: 'lato';
  font-size: 17px;
  line-height: 24px;
  margin: 0 !important;
}


/* Social Icons */

.icons {
  width: 100%;
  text-align: center;
  margin: 30px 0 0 0;
}

.icons li {
  text-align: center;
  display: inline-block;
  margin: 0 5px 0 5px;
}

.icons a img {
  width: 90%;
  display: inline-block;
  text-align: center;
  opacity: .8;
}


/* Red Button */

.red-button, .white-button {
  width:437px; height:60px;
  text-decoration:none;
  font-family: 'lato';
  font-size:22px;
  text-transform:uppercase;
  padding-top:35px;
  padding-left:70px;
  text-align:left;
  display:block;
  margin:0 auto;
  z-index:9999;
}

.red-button {
  background: url("/images/red-button.png") center no-repeat;
  color:#fff;
}

.red-button:hover {
  opacity:0.9;
}

.white-button {
  background: url("/images/white-button.png") center no-repeat;
  color:#b30000;
}

.white-button:hover { opacity:0.9; }


/* ====================
Cover
==================== */

#cover-banner {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  background: #b80606;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b80606), color-stop(100%, #9b0505)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b80606 0%, #9b0505 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b80606 0%, #9b0505 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b80606 0%, #9b0505 100%); /* IE10+ */
  background: linear-gradient(top bottom, #b80606 0%, #9b0505 100%); /* W3C */
  text-align: center;
  margin-top: 95px;
  padding: 50px 0 50px 0;
  color: #fff;
}

#cover-banner.en-cover {
  margin-top: 0 !important;
  border-top: 1px solid #fff;
}

#cover-banner h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 62px;
  line-height: 65px;
  color: #fff;
}

#cover-banner p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  font-size: 24px;
}

#cover-banner a {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 140px;
  height: 50px;
  background: #fff;
  line-height: 50px !important;
  padding: 0 20px 0 20px;
  font: bold 1.2em 'lato', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #b30000;
  display: block;
  float: left;
}

#cover-banner ul { margin: 30px 0 0 0; }

#cover-banner li {
  margin: 0 10px 0 10px;
  display: inline-block;
}


/* ====================
Process
==================== */

@-moz-keyframes slidein {
  from {
    margin-left:-20px;
    opacity:0;
  }
  to {
    margin-left:0;
    opacity:10;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left:-20px;
    opacity:0;
  }
  to {
    margin-left:0;
    opacity:10.0;
  }
}

#process { margin-top: 60px; }

#process-info {
  width: 60%;
  position: relative;
  float: left;
}

#process-info img { width: 100%; }

#process-info > div {
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -ms-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  height: 40px;
  background: #b20000;
  position: absolute;
  color: #fff;
  z-index: 400;
}

#process-info span {
  width: 30px;
  height: 34px;
  font-size: 19px;
  text-align: center;
  background: #e03145;
  margin-right: 7px;
  padding: 6px 0 0 0;
  float: left;
}

#process-info p {
  font-size: 12px;
  line-height: 15px;
}

.proc-desc-01 {
  width: 155px;
  left:0; top:115px;
}

.proc-desc-01 p { margin: 4px 0 0 0; }

.proc-desc-02 {
  width: 157px;
  left: 142px; top: 180px;
}

.proc-desc-02 p { margin: 4px 0 0 0; }

.proc-desc-03 {
  width: 172px;
  left: 165px; top: 40px;
}

.proc-desc-03 p { margin: 4px 0 0 0; }

.proc-desc-04 {
  width: 145px;
  right: -20px; top: 55px;
}

.proc-desc-04 p { margin: 12px 0 0 0; }

.proc-desc-05 {
  width: 100px;
  right: -20px; bottom: 245px;
}

.proc-desc-05 p { margin: 12px 0 0 0; }

.proc-desc-06 {
  width: 100px;
  left:280px; bottom:85px;
}

.proc-desc-06 p { margin: 4px 0 0 0; }

/*-*/

#tablet-descriptions { display: none; }


/* Process Entry */

#process-entry {
  width: 35%;
  margin-bottom: 60px;
  margin-top: -15px;
  font-size: 13px;
  float: right;
}

#process-entry h3 {
  margin: 15px 0 0 0;
  color: #b20000;
}

#process-entry p {
  font-size: 14px;
  line-height: 22px;
}

#process-entry strong,
#process-entry strong a {
  font-weight: bold;
  display: inline-block;
  color: rgb(71, 60, 60);
}

#process-entry strong { margin:7px 0 0 0; }

#process-entry strong a {
  text-decoration: underline;
  cursor: pointer;
}

.m-det {
  text-decoration: underline;
  font-weight: 300 !important;
  font-size: 12px;
  margin-left: 7px;
  color: #8c8c8c;
  cursor: pointer;
}


/* Modal */

#modalBg {
	width: 100%;
  height: 100%;
  background: url("/images/modal-bg.png");
	position: fixed;
	left: 0; top: 0;
	float: left;
	z-index: 9000;
  display: none;
}

.modalClose {
	width: 30px; height: 30px;
  background: url("/images/x2.png");
	position: absolute;
	right: -12px; top: -12px;
	text-indent: -9999px;
	outline: none;
  cursor: pointer;
	float: left;
}

.modalClose:hover { opacity: .8; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {
  .modalClose {
    background: url("/images/x2@2x.png") left no-repeat;
    background-size: 30px 30px;
  }

  .video {
    width: 90%;
  }
}

.modalBox {
  box-shadow:0 0 75px #450000;
	width: 460px;
  background: #fff;
	position: absolute;
  border: 5px solid #eee;
	top: 10%; left: 50%;
	z-index: 9999;
	margin-left: -255px;
	padding: 15px 20px 20px 20px;
  display: none;
}

.modalBox h4 {
  font-size: 24px;
  margin: 0;
  color: #b80606;
}

.video {
  display: block;
  height: 225px;
  margin: 20px auto;
  width: 400px;
}

.modalDay {
  font-weight: 300;
  margin: 0 0 20px 0;
  font-size: 14px;
  display: block;
  color: #8c8c8c;
}

.modalEntry {
  background: #fff;
  border: 1px solid #eee;
  max-height: 250px;
  padding: 7px;
  overflow: auto;
}

.modalEntry p {
  height: auto;
  border:1px solid #eee;
  margin-bottom: 1px;
  font-size: 13px !important;
  line-height: 19px !important;
  padding: 0 10px 7px 10px;
}

.modalEntry p:nth-child(even) { background: #fafafa; }
.modalEntry p:nth-child(odd) { background: #fdfdfd; }


/* ====================
Cliente Feliz
==================== */

#cliente-feliz,
#happy-costumer {
  background: #efefef url("/images/bg-time.png") top center no-repeat;
  text-align: center;
  padding: 40px 0 40px 0;
}

#cliente-feliz:after, #happy-costumer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}

.videothumbs li {
  box-shadow: 0 4px 8px -3px #d8d8d8;
  width: 24%;
  background: none repeat scroll 0 0 white;
  margin: 10px 3% 10px 3%;
  padding: 10px;
  display: inline-block;
  font-size: 14px;
  opacity: 1;
}

.videothumbs img {
  width: 100%;
  display: block;
}

.videothumbs img:hover { opacity: .5; }

.videothumbs li:hover {
  background: url("/images/play.jpg") no-repeat white;
  background-size: 100%;
}


/* Video Text */

.videothumbs h3 {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #b80606;
}

.videothumbs p {
  font-size: 12px;
  color: #8c8c8c;
  margin: 2px 0 0 0;
  display: block;
}


/* ====================
Team
==================== */

#time {
  background: #efefef url("/images/bg-time.png") top center no-repeat;
  padding-top: 10px;
  padding-bottom: 60px;
}

#time ul {
  width: 100%;
  margin-top: 50px;
  clear: both;
  text-align: center;
}

#time ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}

#time ul > li {
  width: 160px;
  margin: 0 1% 20px 1%;
  position: relative;
  display: inline-block;
  color: #333;
}

#time h3 {
  font-size: 14px;
  margin: 7px 0 0 0;
}

#time a { text-decoration:none !important; }
#time .red-button { color: #fff !important; }

#time p {
  margin-top: 2px;
  font-size: 12px;
  color: #8c8c8c;
}

#time ul > li img, #time ul > li a img {
  width: 160px; height: 160px;
  background: #fff;
}

/*-*/

.social-icons {
  width: 26px !important;
  position: absolute;
  right:0; top:0;
  margin-top: 0 !important;
  z-index: 200;
  float: right;
}

.social-icons li {
  width: 26px !important; height: 26px;
  margin: 1px 0 0 0 !important;
  float: right;
}

.social-icons li:first-child { margin: 0 !important; }

.social-icons a {
  width: 26px !important; height: 26px;
  text-indent: -9999px;
  opacity: .7;
  float: right;
}

.twitter,
.dribbble,
.soundcloud,
.github,
.behance { background: #000 url("/images/icons/sprite-social-icons.png") left no-repeat; }

.twitter { background-position: 0 0; }
.dribbble { background-position: -26px 0; }
.soundcloud { background-position: -52px 0; }
.github { background-position: -78px 0; }
.behance { background-position: -104px 0; }

.social-icons a:hover { opacity: 1; }


/* ====================
Jobs
==================== */

#jobs { margin-top: 60px; }

.positions-available:after,
.he-enviroment:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}


/* Enviroment */

.he-enviroment article {
  width: 45%;
  float: left;
}

.he-enviroment h3 {
  font-size: 23px;
  line-height: 27px;
  margin:0 0 20px 0;
}

.he-enviroment p {
  font-size: 16px;
  line-height: 26px;
}

.he-enviroment img {
  width: 50%;
  float: right;
}


/* Positions Available */

.positions-available {
  width: 100%;
  background: #fafafa;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  padding:30px 0 30px 0;
  margin:30px 0 0 0;
}

.positions-available article {
  width: 40%;
  min-height: 225px;
  background: #fff;
  padding:20px 4% 0 4%;
}

.positions-available .column01 { float: left; }
.positions-available .column02 { float: right; }

.positions-available h4 {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.6em;
  color: #000;
  margin: 0;
}

.positions-available p {
  font-size: 14px;
  line-height: 23px;
}

.positions-available a {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #b80606;
  border: medium none;
  border-radius: 4px 4px 4px 4px;
  color: #fff;
  float: left;
  font-size: 12px;
  font-weight: 700;
  margin-top: 0px;
  text-transform: uppercase;
  text-decoration: none;
}


/* Apprentice Program */

.apprentice-program {
  padding: 55px 0 40px 0;
  text-align: center;
}

.apprentice-program h3 {
  font-size: 23px;
  margin: 0 0 5px 0;
}

.apprentice-program p {
  font-size: 14px;
  line-height: 23px;
}

.apprentice-program a { color: #b20000; }


/* Jobs Details */

.job-description {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 40px;
}

.job-description h3 {
  margin: 0 0 15px 0;
  font-size: 24px;
}


/* Jobs Form */

#jobs-form { margin:0 0 40px 0; }
#jobs-form h3 { margin:0 0 25px 0; }
#jobs-form li { margin-top: 15px; }

#jobs-form input[type="text"], textarea {
  border-radius: 4px;
  width: 280px;
  font: normal 15px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 22px;
  border: 1px solid #ccc;
  padding: 0 12px 0 12px;
  display: inline-block;
  outline: none;
}

#jobs-form input[type="text"] { height: 44px; }

textarea {
  height: 200px;
  padding-top: 10px;
}

#jobs-form input[type="submit"] {
  border-radius: 4px;
  width: 100px;
  height: 44px;
  line-height: 44px;
  font: normal 17px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0 15px 0 15px;
  background: #b80606;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

#jobs-form input[type="submit"]:hover { opacity: .8; }


/* ====================
User Profile
==================== */

#profile {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #f9f9f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #f9f9f9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #f9f9f9 100%); /* IE10+ */
  background: linear-gradient(top bottom, #fff 0%, #f9f9f9 100%); /* W3C */
  border-bottom: 1px solid #fff;
  padding: 135px 0 35px 0;
}

#profile:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}

#profile h2 {
  font: 900 42px 'Lato', sans-serif;
  color: #000;
}

.mini-bio {
  width: 60%;
  float: left;
}

.mini-bio p {
  text-align: left;
  line-height: 1.8em;
  font-size: 1.2em;
  color: #474747;
}

.mini-bio .job-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  color: #8e8c8e;
}

.photo-bio {
  width: 30%;
  float: right;
}

.profile-picture img {
  width: 94%;
  padding: 3%;
  background: #eaeaea;
  height: auto;
  margin: 0;
  float: right;
  display: block;
}


/* Pair Button */

#profile .bt {
  border-radius: 4px;
  background: url('/images/pair-bt.png') 0 0 repeat-x;
  font-family: 'lato', sans-serif;
  width: 96%;
  padding: 15px 2% 15px 2%;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 20px 0 0 0;
  color: #fff;
  float:left;
}


/* Profile Cote */

.profile-cote {
  text-shadow: 1px 1px 1px #810505;
  background: #b80606;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b80606), color-stop(100%, #9b0505)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b80606 0%, #9b0505 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b80606 0%, #9b0505 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b80606 0%, #9b0505 100%); /* IE10+ */
  background: linear-gradient(top bottom, #b80606 0%, #9b0505 100%); /* W3C */
  border-bottom: 10px solid #eaeaea;
  border-top: 10px solid #eaeaea;
  text-align: center;
  padding: 45px 0 50px 0;
  color: #fff;
}

.cote p {
  font: 900 3.4em 'lato', sans-serif;
  margin: 0 0 5px 0;
}

.signature {
  font-size: 2.4em;
  font-weight:normal;
  text-align: center;
  color:#ffd8d8;
}

/*-*/

#related-content { margin-top: 50px; }


/* Social Icons */

.social-links {
  margin-top: 25px;
}

.social-links a {
  height: 30px;
  text-decoration: none;
  background: url("/images/icons/profile-social.png") no-repeat;
  padding-left: 33px;
  line-height: 30px;
  margin-right: 25px;
  color: #8e8c8e;
  float: left;
}

.profile-twitter { background-position: 0 0 !important; }
.profile-dribbble { background-position: 0 -30px !important; }
.profile-github { background-position: 0 -60px !important; }
.profile-facebook { background-position: 0 -90px !important; }
.profile-behance { background-position: 0 -120px !important; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {
  .social-links a {
    background: url("/images/icons/profile-social@2x.png") left no-repeat;
    background-size: 30px 150px;
  }
}


/* User Posts */

.blog-posts {
  width: 60%;
  margin-bottom: 60px;
  float: left;
}

.blog-posts h2 {
  font-size: 30px;
  font-weight: 900;
}

.blog-posts li { margin: 35px 0 0 0; }
.blog-posts h3 { margin:0 0 10px 0; }

.blog-posts a {
  font-size: 1.4em;
  font-weight: 400;
  color: #d92727;
}

.blog-posts p {
  line-height: 25px;
  font-size: 16px;
  margin: 0 0 0 0;
}


/* User Projects */

.projects-worked {
  width: 30%;
  margin-bottom: 60px;
  float: right;
}

.projects-worked h2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}

.projects-worked img {
  width: 100%;
  margin: 20px 0 20px 0;
}

.projects-worked h3 {
  font-size: 1.4em;
  font-weight: 400;
  color: #d92727;
  text-transform: none;
  margin-bottom: 0px;
}

.projects-worked p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 40px;
}


/* ====================
Help
==================== */

#help-header {
  background-color: #fff;
  padding: 8px 15px 8px 15px;
  position:fixed;
  left:2px; top:2px;
  z-index: 999;
}

#help-header .logo {
  width: 150px;
  float: left;
}

.custom-help { background: #efeff0; }

.custom-help iframe {
  width: 100%;
  margin: 0;
}


/* ====================
Apoios
==================== */

#apoios,
#servicos{
  background: #efefef url("/images/bg-time.png") top center no-repeat;
  text-align: center;
  padding: 5px 0 40px 0;
}

#apoios:after,
#servicos:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}

.apoio-h3,
#servicos h3 {
  font-size: 40px;
  margin: 35px 0 25px 0;
  color: #B80606
}

.logos-list p {
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 14px;
  color: #b80606;
}

.logos-list a { text-decoration: none; }

.logos-list > li {
  box-shadow: 0 4px 8px -3px #d8d8d8;
  width: 24%;
  background: none repeat scroll 0 0 white;
  margin: 10px 3% 10px 3%;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

.logos-list > li img {
  width: 100%;
  display: block;
}

/* ====================
Serviços
==================== */

#servicos h3,
#servicos h4,
#servicos p {
  text-align: left;
}

#servicos h4 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

/* ====================
Open Source
==================== */

#open-source {
  background: #efefef url("/images/bg-time.png") top center no-repeat;
  line-height: 23px;
  padding-top: 45px;
  padding-bottom: 35px;
}

#open-source h4 {
  font-weight: normal;
  font-size: 23px;
}

#open-source p { margin: 0; }
#open-source a { text-decoration: none; }
#open-source a:hover { text-decoration: underline; }


/* Highlight Projects */

.high-light-projects {
  margin: 0 0 35px 0;
}

.high-light-projects:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}

.high-light-projects div {
  box-shadow: 0 4px 8px -3px #d8d8d8;
  width: 44%;
  background: #f8f8f8;
  padding: 2%;
  min-height: 260px;
  float: right;
}

.high-light-projects div:first-child { float: left; }
.high-light-projects h4 { margin: 20px 0 10px 0; }
.high-light-projects img { width: 100%; }


/* Gems List */

.gems-list:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}

.gems-list li {
  box-shadow: 0 4px 8px -3px #d8d8d8;
  width: 27%;
  height: 150px;
  background: none repeat scroll 0 0 white;
  margin: 10px 1% 10px 1%;
  padding: 2%;
  float: left;
  text-align: left;
  font-size: 13px;
  line-height: 21px;
}

.gems-list h4 {
  font-weight: normal;
  margin: 0 0 5px 0;
}


/* ====================
Privacy
==================== */

#privacy { padding: 40px 0 40px 0; }
.topics { margin-bottom: 30px; }

.topics li {
  list-style-type: circle;
  margin: 10px 0 0 30px;
}

.topics li:first-child { margin-top: 0 !important; }


/* ====================
Mailing
==================== */

#cover-mailing {
  background: #f3f3f3 url("/images/mailing-cover-bg.jpg") bottom center repeat-x;
  text-align: center;
  margin-top: 95px;
  padding: 50px 0 70px 0;
}

#cover-mailing h2 {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 52px;
  line-height: 55px;
  color: #b80606;
}

#cover-mailing strong {
  font-weight: 700 !important;
  color: #8c8c8c;
}

#cover-mailing .sup {
  font-weight: 300;
  text-transform: uppercase;
  margin: 5px 0 20px 0;
  font-size: 24px;
}

#cover-mailing .sup strong {
  font-weight: 300 !important;
  color: #8c8c8c;
}

#cover-mailing input[type="text"],
#cover-mailing input[type="email"] {
  box-shadow: 0 2px 4px #e3e3e3;
  border-radius: 4px;
  width: 300px;
  height: 44px;
  line-height: 44px;
  font: normal 17px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0 15px 0 15px;
  background: #fff;
  display: inline-block;
  margin: 0 0 25px 0;
  outline: none;
}

#cover-mailing input[type="submit"] {
  box-shadow: 0 2px 4px #e3e3e3;
  border-radius: 4px;
  width: 100px;
  height: 44px;
  line-height: 44px;
  font: normal 17px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0 15px 0 15px;
  background: #b80606;
  display: inline-block;
  margin: 0 0 0 5px;
  cursor: pointer;
  color: #fff;
}

#cover-mailing input[type="submit"]:hover { opacity: .8; }

#cover-mailing li {
  font-size: 14px;
  margin: 0 7px 0 7px;
  display: inline;
}

#cover-mailing a { color: #8c8c8c; }


/* Mailing List */

#mailing { padding: 40px 0 30px 0; }

#mailing h3 {
  font-size: 20px;
  margin: 20px 0 40px;
}

#mailing .display_archive .campaign {
  font-size: 14px;
  margin-bottom: 30px;
}

#mailing .display_archive .campaign a {
  font-size: 16px;
  text-decoration: none;
}

#mailing .display_archive .campaign a:hover {
  opacity: 0.8;
}



/* ====================
HE:pair
==================== */

#hepair-page {
  margin-top: 155px;
  text-align: center;
}

#hepair-logo img {
  width: 440px;
  margin: auto;
}

#hepair-page .sub {
  font-weight: 300;
  text-transform: uppercase;
  margin: 30px 0 0 0;
  font-size: 22px;
  line-height: 36px;
}

.red-button-pair {
  width: 537px;
  font-size: 19px !important;
}

.hepair #fale-conosco .form {
  display: none !important;
}

.hepair #fale-conosco .pair .div-form {
  clear: both;
}

.hepair #fale-conosco .pair .div-form .text {
  position: static !important;
  bottom: auto;
  margin: 0 0 30px 30px;
  width: 41.5%;
}

.hepair #fale-conosco input[type="image"],
.hepair #talk-to-us input[type="image"] {
  margin-bottom: 60px;
}

/*-*/

.hepair #fale-conosco .pair .div-form .text {
  position: static !important;
  bottom: auto;
  margin: 0 0 30px 30px;
  width: 41.5%;
}

.offer {
  width:20%;
  background: #b40e00;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, .3), 0 2px 3px rgba(0,0,0,.4);
  color: white;
  display: block;
  float: left;
  font: 20px "calibri";
  margin-left: 55px;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(0,0,0,.2);
}


/* ====================
Contact
==================== */

#fale-conosco,
#talk-to-us {
  width: 100%;
  border-top: 1px solid #fff;
  background: #bd0011 url("/images/bg-contato.jpg") center bottom no-repeat;
  position: relative;
  padding-top: 70px;
  clear: both;
}

#fale-conosco h2,
#talk-to-us h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 120px;
  line-height: 120px;
  margin: 0;
}

#fale-conosco form,
#talk-to-us form {
  margin-top: 40px;
}

#fale-conosco .pre, #fale-conosco .sub,
#talk-to-us .pre, #talk-to-us .sub {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#fale-conosco .pre,
#talk-to-us .pre {
  margin: 0 0 5px 0 !important;
  font-size: 31px;
}

#fale-conosco .sub,
#talk-to-us .sub {
  margin: 10px 0 0 0 !important;
  font-size: 28px;
}

#fale-conosco input[type="image"],
#talk-to-us input[type="image"] {
  width: 40%;
  display: block;
  margin: 0 auto;
}

#fale-conosco input[type="image"]:hover,
#talk-to-us input[type="image"]:hover {
  opacity: .8;
}

#fale-conosco input.text,
#talk-to-us input.text {
  border-radius: 3px;
  width: 45%;
  padding: 15px 2%;
  margin: 0 0 15px 0;
  position: static;
  background-color: black;
  opacity: .6;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  outline: none;
  float: left;
}

#fale-conosco input.text.spacing,
#talk-to-us input.text.spacing {
  margin-right: 2%;
}

#fale-conosco textarea,
#talk-to-us textarea {
  border-radius: 3px;
  width: 96%;
  margin: 0 0 15px 0;
  padding: 15px 2% 15px 2%;
  position: static;
  clear: both;
}

#fale-conosco textarea,
#talk-to-us textarea {
  background-color: black;
  opacity: .6;
  border: none;
  color: white;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: normal;
}

#fale-conosco .form,
#talk-to-us .form { margin-bottom: 40px; }


/* ====================
Footer
==================== */

footer {
  width:100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 0 85px 0;
  font-size: 14px;
  position: relative;
}

footer a {
  text-decoration: none;
  color: #ebcacd;
}

footer a:hover { color:#fff; }
footer ul { overflow: hidden; }

footer li {
	width: 25%;
  line-height: 17px;
  font-size: 11px;
  float: left;
}

footer address span { display: block; }

footer h3 {
  text-transform: uppercase;
  margin: 13px 0 7px 0;
  color: #fff;
}

.copyright {
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 12px 0 12px 0;
  color: #fff;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
}


/*
Max Width, 960px
Media Queries for Tablets
*/

@media (max-width:960px) {

  .containner { width: 700px; }
  header.default .logo { width: 155px; }
  #menu2 { margin-top: 17px; }


  /* Home */

  #home { padding-top: 150px; }

  .services li {
    width: 90%;
    min-height: 100px !important;
    padding: 25px 5% 30px 5% !important;
    margin: 1px 0 0 0 !important;
  }

  .services li:first-child { margin-top: 0 !important; }


  /* Cover Banner */

  #cover-banner {
    margin-top: 80px;
    padding: 40px 0 40px 0;
  }

  #cover-mailing { margin-top: 80px; }


  /* HE:pair */

  #hepair-page { margin-top: 130px; }

  #hepair-logo img {
    width: 370px;
    margin: auto;
  }


  /* Process */

  #process-entry li {
    font-size: 12px;
    line-height: 19px;
  }

  #process-info > div {
    width: 30px;
    position: absolute;
  }

  #process-info span {
    width: 30px;
    height: 34px;
    margin-right: 0;
    padding: 6px 0 0 0;
  }

  #process-info p { display: none; }

  .proc-desc-01 { left: 30px; top: 72px; }
  .proc-desc-02 {left: 125px; top: 135px; }
  .proc-desc-03 {left: 140px; top: 20px; }
  .proc-desc-04 {right: 40px; top: 15px; }
  .proc-desc-05 {right: 25px; bottom: 440px; }
  .proc-desc-06 {left: 250px; bottom: 345px; }

  /*-*/

  #tablet-descriptions {
    margin: 50px 0 0 0;
    display: block;
  }

  #tablet-descriptions strong { color: #b20000; }

  #tablet-descriptions li {
    padding: 10px 0 10px 0;
    border-top: 1px solid #eaeaea;
    font-size: 14px;
    display: block;
  }

  #tablet-descriptions li:first-child {
    padding-top: 0;
    border-top: none;
  }


  /* Profile */

  #profile { padding-top: 120px; }
  .social-links { margin: 0; }
  .social-links li { display: block; }

  .social-links a {
    margin: 5px 0 0 0;
    clear: both;
  }


  /* Mailing page*/

  .cover-mailing-page { margin-top: 20px; }


  /* Open Source */

  .gems-list li {
    width: 96%;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }


  /* Fale Conosco */

  #fale-conosco h2,
  #talk-to-us h2 {
    font-size: 90px;
    line-height: 90px;
  }

  #fale-conosco .pre,
  #talk-to-us .pre { font-size: 23px; }

  #fale-conosco .sub,
  #talk-to-us .sub { font-size: 21px; }

}


/*
Max Width, 686px
Media Queries for Smartphones
*/

@media only screen and (max-width: 686px) {

  .containner {
    width: 90%;
    padding: 0 5% 0 5%;
  }

  header.default .logo { width: 100px; }
  #menu2 { display: none; }

  #hiddenmenu {
    width: 150px;
    background: none repeat scroll 0 0 #b80606;
    font-family: 'Lato',sans-serif;
    padding: 3px;
    display: block;
    position: absolute;
    right: 4%; top: 8px;
    color: #fff;
    float: right;
  }

  .navigation {
    background: none repeat scroll 0 0 white;
    margin-left: 0;
    max-width: none;
    padding: 0;
  }

  .navigation li {
    float: left;
    margin: 0;
    padding: 0;
    color: #000;
  }

  .navigation li a {
    color: black;
    display: block;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
  }

  .navigation li a:hover { background: #c7c7c7; }

  .navheader {
    margin-top: 5px;
    font-size: 12px;
  }

  .slide-trigger {
    border: medium none;
    cursor: pointer;
    display: block;
    font-family: lato;
    font-size: 1.2em;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 0.5em;
  }

  .slide-trigger span {
    background: url("/images/menumobile.png") repeat-y;
    display: block;
    float: right;
    margin-top: 4px;
    height: 12px;
    width: 32px;
  }

  .slide-trigger { display: block; }
  .no-js .slide-trigger { display: none; }
  .navigation { display: none; }
  .no-js .navigation { display: block; }

  .navigation {
    width: 100%;
    margin: 0;
  }

  .navigation li {
    padding-left: 18px;
    float: none;
  }

  .navigation li a { border-bottom: 1px solid #fff; }


  /* Home */

  #home { padding-top:125px; }

  #home h2 {
    font-size: 45px;
    line-height: 47px;
  }

  #home h3 { font-size: 23px; }
  #home .home-button { display: none; }

  .icons li {
    text-align:center;
    display:inline-block;
    margin:0 2px 0 2px;
  }

  .icons a img { width: 70%; }


  /* Cover Banner */

  #cover-banner { margin-top: 60px; }

  #cover-banner h2 {
    font-size: 32px;
    line-height: 35px;
  }

  #cover-banner p {
    font-size: 17px;
    margin: 10px 0 0 0;
  }

  /*-*/

  #cover-mailing { margin-top: 60px; }

  #cover-mailing h2 {
    font-size: 32px;
    line-height: 35px;
  }

  #cover-mailing .sup {
    font-size: 17px;
    margin: 10px 0 0 0;
  }

  #cover-mailing input[type="text"],
  #cover-mailing input[type="email"] {
    width: 96%;
    padding: 0 2% 0 2%;
    margin: 25px 0 25px 0;
  }

  #cover-mailing input[type="submit"] { margin-bottom: 25px; }


  /* HE:pair */

  #hepair-page { margin-top: 110px; }

  #hepair-logo img {
    width: 240px;
    margin: auto;
  }

  #hepair-page .sub {
    font-size: 16px !important;
    line-height: 26px !important;
  }


  /* Red Button */

  a.red-button, a.white-button {
    border-radius:12px;
    width:250px; height:auto;
    padding:15px !important;
    text-align:center;
    font-size:16px;
  }

  #time .red-button { margin-bottom:40px; }


  /* Cliete Feliz */

  .videothumbs li { width: 39%; }

  .videothumbs li:hover {
    background: url("/images/play.jpg") no-repeat white;
    background-size: 100%;
  }


  /* Apoios */

  .logos-list > li { width: 39%; }


  /* Jobs */

  .he-enviroment article,
  .he-enviroment img { width: 100%; }

  .positions-available article {
    width: 94%;
    min-height: 0;
    margin: 5px 0 5px 0;
    padding-bottom: 30px;
  }

  .positions-available .column02 { float: left; }


  /* Process */

  #process-info {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
  }

  #process-info > div, #tablet-descriptions { display: none; }
  #process-info img { width: 85%; }

  #process-entry {
    width: 100%;
    margin-bottom: 40px;
  }

  #process-entry li {
    font-size: 14px;
    line-height: 22px;
  }


  /* Time */

  #time { padding-bottom: 20px !important; }

  #time ul > li {
    width: 29%;
    margin: 0 2% -35px 2% !important;
  }

  #time ul > li img, #time ul > li a img {
    width: 100%;
    height:auto;
    background: #fff;
    padding: 0;
  }

  #time ul p {
    font-size: 14px;
    height: 70px;
  }

  #time ul span { font-size: 10px; }


  /* Time Profile */

  #profile { padding-top: 100px; }

  #profile h2 {
    font: 700 32px 'Lato', sans-serif;
    color: #000;
  }

  .mini-bio { width: 100%; }

  .mini-bio p {
    font-size: 14px;
    line-height: 23px;
  }

  .mini-bio .job-title { font-size: 14px; }

  .profile-picture img { display: none; }
  .profile-cote { padding: 35px 0 40px 0; }
  .cote p { font: 700 30px 'lato', sans-serif; }
  .signature { font-size: 16px; }

  .photo-bio {
    width: 100%;
    margin: 10px 0 0 0;
  }


  /* Mailing page*/

  .cover-mailing-page {
    background-image: url("/images/mailing-cover-bg.jpg");
    background-position: bottom center;
    margin-top: 40px;
  }

  .mailing-form {
    background-image: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #mailing-page h2 {
    width: 100%;
    padding-top: 70px;
    line-height: 30px;
    margin-bottom: 35px;
    text-transform: none;
    font-size: 30px;
    color: #b80606;
  }


  /* Footer */

  footer { padding-bottom:90px; }
  footer li { width:100%; }


  /* Fale Conosco */

  #fale-conosco,
  #talk-to-us { padding-top: 50px; }

  #fale-conosco h2,
  #talk-to-us h2 { display:none; }

  #fale-conosco .pre,
  #talk-to-us .pre {
    margin: 0 0 15px 0 !important;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
  }

  #fale-conosco .sub,
  #talk-to-us .sub {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
  }

  #fale-conosco input[type="image"],
  #talk-to-us input[type="image"] { width: 70%; }

  #fale-conosco input[type="text"], #fale-conosco textarea,
  #talk-to-us input[type="text"], #talk-to-us textarea {
    width: 94%;
    padding: 3%;
    margin: 0;
    float: left;
  }

  #fale-conosco input[type="text"],
  #talk-to-us input[type="text"] { margin-bottom: 15px; }

  #fale-conosco textarea,
  #talk-to-us textarea { margin-bottom: 40px; }

}


/*
Max Width, 581px
Media Queries with adjustments for Smartphones
*/

@media (max-width:581px) {

  .blog-posts {
    width: 100%;
    margin-bottom: 50px;
  }

  .projects-worked {
    width: 100%;
    margin-bottom: 0;
  }

  .projects-worked img { width: 280px; }
  #mailing li div { margin-left: 90px; }
  #mailing img { width: 70px; }

  .modalBox {
  	width: 260px;
    padding: 17px 10px 10px 10px;
  	top: 5%;
  	margin-left: -145px;
  }

}


/*
Max Width, 481px
Media Queries with more adjustments for Smartphones
*/

@media (max-width:481px) {

  #home h2 {
    font-size: 45px;
    line-height: 52px;
  }

  #home h3 { font-size: 24px; }

  .cover-jobs li {
    margin: 10px 0 0 0;
    display: inline-block;
  }

  #time ul > li { width: 44%; }

  .high-light-projects div {
    width: 96%;
    padding: 2%;
    min-height: 0;
    float: left;
  }

  .high-light-projects div:first-child {
    margin-bottom: 20px;
  }

  .videothumbs li { width: 90%; }
  .videothumbs li img:hover { opacity: 0.5; }

  .videothumbs li:hover {
    background: url("/images/play.jpg") no-repeat white;
    background-size: 100%;
  }

  .logos-list > li { width: 90%; }

  /*-*/

  .submenuhome { display:none; }
  .ourprocess { display:none; }
  .thumbs { display: none; }

  /*-*/

  #cover-banner h2 {
    font-size: 22px;
    line-height: 25px;
  }

  #cover-banner p { font-size: 14px; }

}


/* ====================
TipTip
==================== */

#tiptip_holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

#tiptip_holder.tip_top { padding-bottom: 5px; }
#tiptip_holder.tip_bottom { padding-top: 5px; }
#tiptip_holder.tip_right { padding-left: 5px; }
#tiptip_holder.tip_left { padding-right: 5px; }

#tiptip_content {
  font-size: 11px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  padding: 4px 8px;
  border: 1px solid rgba(255,255,255,0.25);
  background-color: rgb(25,25,25);
  background-color: rgba(25,25,25,0.92);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 0 3px #555;
  -webkit-box-shadow: 0 0 3px #555;
  -moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: #fff;
  border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: #fff;
  border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: #fff;
  border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: #fff;
  border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: rgb(25,25,25);
  border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: rgb(25,25,25);
  border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: rgb(25,25,25);
  border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: rgb(25,25,25);
  border-left-color: rgba(25,25,25,0.92);
}


/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top { padding-bottom: 5px; }
#tiptip_holder.tip_bottom { padding-top: 5px; }
#tiptip_holder.tip_right { padding-left: 5px; }
#tiptip_holder.tip_left { padding-right: 5px; }

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}


/* Webkit Hacks  */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}
