/*=====================*/
/*== Mobile ==*/
/*=====================*/

.containner {
	width:700px;
}

#cliente iframe{
  width:690px; height:343px;
  border:5px solid #fff;
}

div#single-page section#home ul.services li {
  min-height:300px;
}

div#single-page section#home ul.services li h3 {
  height:55px;
}

footer li, footer h3 {
  width:100%;
  text-align:center;
}


@media only screen and (max-width : 686px)   {

  #menu {
    display: none;
  }

  .containner {
		width:92%;
		padding:0 4% 0 4%;
  }

  #single-page #home h2{
    font-size: 36px;
    margin-top: -40px;
    letter-spacing: 0px;
  }


  #home {
    background: #727272; /* Old browsers */
    background: -moz-linear-gradient(top,  #727272 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#727272), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #727272 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #727272 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #727272 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #727272 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    padding-top: 190px;
    padding-bottom: 190px;
    background-repeat: no-repeat;
  }

  #single-page #home h2 {
    line-height: 50px;
  }


  #single-page #home h3 {
    font-family: 'lato';
    font-weight:300;
    font-size:22px;
    color:#fff;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(256, 256, 256, 0.6);
  }


  #home ul.icons {
    display: none;
  }

  header.default h1 a {
    margin: 0 auto;
    float: none;
  }

  div#single-page section#home ul.services {

  }

  div#single-page section#home ul.services li {
    width:92%;
    padding:3%;
    background-color:#ccc !important;
  }

  div#single-page section#home ul.services li p {
    font-size: 18px;
  }

  .services a.red-button {
    display: none;
  }

  #process h2 {
    font-size: 40px;
    margin-top: -90px;
  }

  #process p.sub {
    font-size: 20px;
    color: #5d0101;
  }

  #process ul {
    margin-top: -40px;
    width: 100%;
  }

  #process ul li {
    display: block;
    float: left;
    margin-right: 1px;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
  }

  #process li img {
    float: none;
    width: 180px;
  }

  #process li h3   {
    text-align: center;
    font-size: 28px;
  }

  #process li p {
    text-align: center;
    font-size: 22px;
  }

  .diferenciado {
    display: none;
    float:left;
    width: 90%;
    margin: 0 auto;
    margin-left: 30px;
    margin-top: 40px;
  }

  
  #process img.teste {
    display: none;
  }

  #cliente {
    background-image: none;
  }

  #cliente h2 {
    font-size: 40px;
    padding-top: 50px;
  }

  #cliente p.sub {
    font-size: 20px;
  }

  #cliente iframe {
    width: 95%;
    height: 200px
  }

  .project {
    padding: 30px 10px;
    width: 350px;
  }

  #projects h2 {
    font-size: 38px;
    padding-top: 40px;
  }

  #projects p.sub {
    font-size: 20px;
  }

  .project iframe {
    width: 100%;
    height: 300px;
  }

  .project p {
    font-size: 18px;
}

  .slider-screenshots img {
    width: 350px;
  }

  .slider-screenshots img {
    width: 350px;
  }

  .slider-screenshots {
    float: right;
    margin: 20px 0 30px 25px;
  }

  #projects div.more-projects {
    display: none;
  }

  #faleconosco p.pre {
    font-size: 18px;
  }

  #faleconosco h2 {
    font-size: 60px;
    margin-top: 10px;
  }

  #faleconosco p.sub {
    font-size: 16px;
    margin-top: 20px;
  }

  #faleconosco form {
    width: 90%;
  }

  #faleconosco input[type="text"] {
    width: 82%;
    padding:5%;
  }

  #faleconosco textarea {
    width: 80%;
  }


  #time ul li {

  }
  

  .project{
    background-color:#fff;
    padding:30px 20px;
    width:350px;
    margin:0 auto;
  }

  .project h3{
  font-size:24px;
    color:#b30000;
    font-family:'lato';
    font-weight:300;
    margin-bottom:0;
  }

  .project h4{
  font-size:18px;
    color:#666;
    font-family:'lato';
    font-weight:300;
    margin-bottom:0;
    text-transform: uppercase;
    margin:15px 0;
  }

  .project ul{
    margin:10px 0 20px 0;
  }

  .project ul li{
  list-style:none;
    background-color:#efefef;
    display:inline;
    font-size:14px;
      border-radius: 6px;
    padding:3px 10px;
    color:#666;
    margin-right:5px;
  }

  .project a{
      font-family:'lato';
    font-weight:300;
  color:#666;
    font-style:italic;
  }

  .project iframe{
    margin:30px 0;
  }
  a.red-button {
    display: none;
  }

  #faleconosco form {

  }

}
