.services li {
  min-height: 225px;
}


/* Cliente */

#cliente {
  padding-bottom:20px;
  padding-top: 87px;
}

#clientefeliz h2 {
  color: white;
  font-size: 105px;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 0.8em;
  text-transform: uppercase;
}

#cliente h2, #time h2 {
  padding-top: 80px;
  margin:0 0 20px 0;
}

#cliente h2 {
  padding-top: 40px;
  margin:0 0 20px 0;
}

#cliente .sub {
  line-height: 46px;
}

#cliente iframe {
  width:940px; height:467px;
  border:10px solid #fff;
}

.diferenciado {
  width:500px;
}

.diferenciado .white-button {
  margin-left:0 !important;
}


/*=====================*/
/*======= Cloud =======*/
/*=====================*/

#m-cloud {
  display:none;
}