header.default {
  height:115px;
}

.containner {
  width: 960px;
}

#home {
  height: 830px;
}

#home h2 {
  padding-top:0px;
  line-height: 80px;
  font-size: 82px;
}

#home h3 {
  font-family: 'lato';
  font-weight:300;
  font-size:38px;
  color:#6d7171;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(256, 256, 256, 0.6);
}

.home-button a.red-button {
  left:223px;
}

.home-button a.red-button:hover{
  left:223px;
}


/* Process */

#process {
  padding-bottom:60px;
}


/* Cliente */

#cliente {
    padding-bottom:60px;
}

#cliente h2, #process h2, #time h2 {
    padding-top: 80px;
    margin:0 0 20px 0;
}

#cliente .sub, #process .sub {
  line-height: 46px;
}

#cliente iframe {
  width:940px; height:467px;
  border:10px solid #fff;
}

.services li {
  min-height:200px;
}

.diferenciado {
  width:500px;
}

.diferenciado .white-button {
  margin-left:0 !important;
}


/* Time */

#time {
  padding-bottom:60px;
}

#time ul {
  margin-top: 20px;
}

footer li {
  width:35%;
  text-align:left;
}

footer h3 {
  text-align:left;
}