/**RESET**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
	font-family:arial;
}

#fork-me {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}

body {
  background-image:url(../images/bg-top.png);
}

header {
  padding-top: 60px;
}
section {
  width: 960px;
  margin: 0 auto;
}


section ul.logos {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

section ul.logos li { 
  display: block;
  width: 450px;
  float: left;
  margin-bottom: 50px;
}

/**Footer**/
footer {
  text-align:center;
  background-color:#111;
  padding:10px 0;
}

