@charset "utf-8";

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
  padding:0; margin:0; border:0;
  vertical-align:baseline;
  font-style:normal;
  list-style-type:none;
}

header, footer, aside, nav, article, section {display:block}

html {font-size: 62.5%}

p {margin:20px 0 0 0}
label {cursor:pointer}
img {border:none}

body {
  font-family: inherit;
  vertical-align: baseline;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color:rgb(71, 60, 60);
}


/* Fonts */

@font-face {
    font-family: 'RobotoLight';
    src: url('/fonts/Roboto-Light-webfont.eot');
    src: url('/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('/fonts/Roboto-Thin-webfont.eot');
    src: url('/fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('/fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}


/*====================*/
/*===== Patterns =====*/
/*====================*/


.containner {
  width: 1200px;
  margin: 0 auto;
}



header {
  height: 110px;
  background: #fff;
  border-top: 5px solid #d0201a;
  border-bottom: 1px solid #e5e9ec;
}

body {
  background: #e5e9ec;
  background: #ecf0f3;
}


a, a:active, a:visited{
  color: #b80606;
}




section.contact-new h2 {
  text-align: center;
  margin: 50px 0;
  font-size: 3.2em;
  font-weight: 900;
  color: #d0201a;
  color: #1a1c1e;
  text-shadow: 2px 2px 0px #fff;
}


article.form-contact-new {
  width: 600px;
  height: 400px;
/*  background: #fafafa;*/
  float: left;
  margin-right: 60px;
  padding: 20px 30px;
}



aside.our-offices-new {
  width: 400px;
  height: 400px;
  background: #fafafa;
  float: left;
}






form input[type="text"] {
  background: #fff;
  border: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
form textarea {
  background-color: black;
  opacity: 0.6;
  border: none;
  color: white;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
}































/**
 * Sidecar CSS
 * 
 * CSS for the style and functionality of the Sidecar prototype
 */


/*
 * Background color of the main Sidecar element/wrapper. Usually you won't see this color at all,
 * but we define it anyways, just in case the user's internal elements margin push things around
 */
body div#sidecar {
    background: #fff;
}


/*
 * Background color definition of the sidecar-inner element, this is the immediate parent to your content
 * If you don't define a background for your content, you can change this to what you want it to be
 */
body div#sidecar .sidecar-inner {
    background: #eaecef;
}


/*
 * Defines the color of the Close button bar - minus symbol.
 * You can change this to modify the color of those bars
 */
body #sidecar-open div.bar,
body #sidecar-close div.bar {
    background: #fff;
}


/*
 * Defines the color of the triple bar elements
 * You can change these plus the rule below them to the modify the color of the bars
 */
body #sidecar-open.icon-bars div.bar.horiz,
body #sidecar-open.icon-bars div.bar.vert {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
body #sidecar-open.icon-bars div.bar.vert {
    border-top-color: #fff;
}


/*
 * IE8 Specific definitions for the open and close button, only works if you use the HTML5 Doctype
 * and IE conditional class additions on the HTML tag, see: http://html5boilerplate.com/
 */
html.ie8 body #sidecar-open,
html.ie8 body #sidecar-open:link,
html.ie8 body #sidecar-open:visited,
html.ie8 body #sidecar-close,
html.ie8 body #sidecar-close:link,
html.ie8 body #sidecar-close:visited {
    border-color: #fff;
}


/*
 * Defines the styles of the Open/Close tab/button of Sidecar
 * 
 * color: defines the color of the "text" for the button - in which case is not visible... not sure why it's here
 * background: {hex} background color for browsers that do not support RGBA - modify to change the button color
 * background: {rgba} background color for browsers taht do support RGBA - moidy to change the button color
 * border-radius: default is right aligned, so border-radius is defined for top-left and bottom-left, modify the 
 * values to change the border radius of the Open/Close tab/button
 * box-shadow: this defines the "border" around the Open/Close tab/button - change to modify the look of the border/shadow
 * see: http://www.css3.info/preview/box-shadow/ for more info on how this is formatted
 */
body #sidecar-open,
body #sidecar-open:link,
body #sidecar-open:visited,
body #sidecar-close,
body #sidecar-close:link,
body #sidecar-close:visited {
    color: #fff;
    background: #313235;
    background: rgba(49,50,53,0.95);
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 0px 0px 3px rgba(169,173,178,0.7);
}


/*
 * Defines the border-radius amounts for the left aligned Sidecar Open/Close tab/button
 */
body.sidecar-left #sidecar-open,
body.sidecar-left #sidecar-open:link,
body.sidecar-left #sidecar-open:visited,
body.sidecar-left #sidecar-close,
body.sidecar-left #sidecar-close:link,
body.sidecar-left #sidecar-close:visited {
    border-radius: 0 20px 20px 0;
}


/*******************************************************************************************/
/******************************* Do not edit below this line *******************************/
/*******************************************************************************************/

body #sidecar-wrapper,
body #sidecar-open,
body #sidecar-close,
body div#sidecar,
body div#sidecar .sidecar-inner {
    -webkit-transition: left 250ms ease-in-out, width 250ms ease-in-out, right 250ms ease-in-out;
       -moz-transition: left 250ms ease-in-out, width 250ms ease-in-out, right 250ms ease-in-out;
        -ms-transition: left 250ms ease-in-out, width 250ms ease-in-out, right 250ms ease-in-out;
         -o-transition: left 250ms ease-in-out, width 250ms ease-in-out, right 250ms ease-in-out;
            transition: left 250ms ease-in-out, width 250ms ease-in-out, right 250ms ease-in-out;
}
body.sidecar-no-drawer-transition #sidecar-wrapper,
body.sidecar-no-drawer-transition #sidecar-open,
body.sidecar-no-drawer-transition #sidecar-close,
body.sidecar-no-drawer-transition div#sidecar,
body.sidecar-no-drawer-transition div#sidecar .sidecar-inner {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}
body #sidecar-wrapper {
    position: relative;
    left: 0;
}
body.sidecar-left #sidecar-wrapper {
    left: auto;
    right: 0;
}
body.sidecar-open-drawer #sidecar-wrapper {
    left: -224px;
}
body.sidecar-left.sidecar-open-drawer #sidecar-wrapper {
    left: auto;
    right: -224px;
}
body div#sidecar {
    position: fixed;
    z-index: 31337;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    overflow: hidden;
    width: 0;
}
body.sidecar-no-fixed-position div#sidecar { position: absolute; }
body.sidecar-left div#sidecar {
    right: auto;
    left: 0;
}
body.sidecar-open-drawer div#sidecar {
    right: 0;
    width: 224px;
}
body.sidecar-left.sidecar-open-drawer div#sidecar {
    right: auto;
    left: 0;
}
body div#sidecar .sidecar-inner {
    width: 224px;
    height: 100%;
    box-shadow: inset 11px 0px 4px -10px rgba(0,0,0,0.31), inset -10px 0px 4px -10px rgba(0,0,0,0.31);
}
body div#sidecar .sidecar-inner.sidecar-no-shadow {
  box-shadow: none;
}
body.sidecar-left div#sidecar .sidecar-inner { left: -224px; }
body.sidecar-left.sidecar-open-drawer div#sidecar .sidecar-inner { left: 0; }
body #sidecar-open div.bar,
body #sidecar-close div.bar {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 13px;
    left: 10px;
}
body.sidecar-left #sidecar-open div.bar,
body.sidecar-left #sidecar-close div.bar {
    right: 10px;
    left: auto;
}
body #sidecar-open div.bar.horiz,
body #sidecar-close div.bar.horiz {
    width: 16px;
}
body #sidecar-open div.bar.vert,
body #sidecar-close div.bar.vert {
    top: 7px;
    left: 16px;
    width: 4px;
    height: 16px;
}
body.sidecar-left #sidecar-open div.bar.vert,
body.sidecar-left #sidecar-close div.bar.vert {
    left: auto;
    right: 16px;
}
body #sidecar-open.icon-bars div.bar.horiz,
body #sidecar-open.icon-bars div.bar.vert {
    top: 14px;
    left: 10px;
    height: 3px;
    width: 18px;
    background: none;
    border-top-width: 3px;
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
body.sidecar-left #sidecar-open.icon-bars div.bar.horiz,
body.sidecar-left #sidecar-open.icon-bars div.bar.vert {
    right: 10px;
    left: auto;
}
body #sidecar-open.icon-bars div.bar.vert {
    top: 8px;
    width: 18px;
    border-top-width: 3px;
    border-top-style: solid;
}
html.ie8 body #sidecar-open,
html.ie8 body #sidecar-open:link,
html.ie8 body #sidecar-open:visited,
html.ie8 body #sidecar-close,
html.ie8 body #sidecar-close:link,
html.ie8 body #sidecar-close:visited {
    border-width: 3px;
    border-style: solid;
    border-right: 0;
}
body #sidecar-open,
body #sidecar-open:link,
body #sidecar-open:visited,
body #sidecar-close,
body #sidecar-close:link,
body #sidecar-close:visited {
    visibility: visible;
    text-decoration: none;
    opacity: 1;
    width: 35px;
    height: 32px;
    position: fixed;
    top: 64px;
    right: 0;
    z-index: 25337;
}
body.sidecar-no-fixed-position #sidecar-open,
body.sidecar-no-fixed-position #sidecar-open:link,
body.sidecar-no-fixed-position #sidecar-open:visited,
body.sidecar-no-fixed-position #sidecar-close,
body.sidecar-no-fixed-position #sidecar-close:link,
body.sidecar-no-fixed-position #sidecar-close:visited {
    position: absolute;
}
body.sidecar-left #sidecar-open,
body.sidecar-left #sidecar-open:link,
body.sidecar-left #sidecar-open:visited,
body.sidecar-left #sidecar-close,
body.sidecar-left #sidecar-close:link,
body.sidecar-left #sidecar-close:visited {
    left: 0;
    right: auto;
}
body #sidecar-close,
body #sidecar-close:link,
body #sidecar-close:visited {
    visibility: hidden;
    opacity: 0;
    z-index: 21337;
    right: 0;
}
body.sidecar-left #sidecar-close,
body.sidecar-left #sidecar-close:link,
body.sidecar-left #sidecar-close:visited {
    left: 0;
    right: auto;
}
body.sidecar-open-drawer #sidecar-open,
body.sidecar-open-drawer #sidecar-open:link,
body.sidecar-open-drawer #sidecar-open:visited {
    visibility: hidden;
    opacity: 0;
    right: 224px;
}
body.sidecar-left.sidecar-open-drawer #sidecar-open,
body.sidecar-left.sidecar-open-drawer #sidecar-open:link,
body.sidecar-left.sidecar-open-drawer #sidecar-open:visited {
    left: 224px;
    right: auto;
}
body.sidecar-open-drawer #sidecar-close,
body.sidecar-open-drawer #sidecar-close:link,
body.sidecar-open-drawer #sidecar-close:visited {
    visibility: visible;
    opacity: 1;
    right: 224px;
}
body.sidecar-left.sidecar-open-drawer #sidecar-close,
body.sidecar-left.sidecar-open-drawer #sidecar-close:link,
body.sidecar-left.sidecar-open-drawer #sidecar-close:visited {
    left: 224px;
    right: auto;
}
