/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  font-family: 'Lato', sans-serif;
}

/*====================*/
/*===== Patterns =====*/
/*====================*/

header.default h1 a {
  display: block;
  width: 217px;
  height: 115px;
  background-image: url(/images/logo.jpg);
  float: left;
}
header.default h1 a span {
  display: none;
}

header.landingpage h1 a {
  display: block;
  width: 118px;
  height: 55px;
  background-image: url(/images/logo-landing.png);
  background-position:center;
}

header.landingpage h1 a span {
  display: none;
}

a, a:active, a:visited{
  color: #b80606;
}

#single-page h2 {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b80606;
  padding-top: 160px;
}

h1{}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align:left;
  color: #222;
  padding-top: 20px;
  margin-bottom: 15px;
}
p {
  font-size: 13px;
  color: #888;
}

div.service {
  width: 960px;
  height:116px;
  margin-bottom: 30px;
}

div.service a {
  color:#444;
  text-decoration: none;
}

a.service{
  display: block;
  width:302px;
  height:116px;
  float:left;
  margin-right:25px;
  color: #444;
  text-decoration: none;
}

a.service:hover{
  opacity: 0.8;
}

a.startupdev{
  background-image: url(/images/service-startup-dev.png);
  background-repeat: no-repeat;
}

a.digitalbusinessdev{
  background-image: url(/images/service-digital-business-dev.png);
  background-repeat: no-repeat;
}

.desenvolvimentomobile{
  display: block;
  width:302px;
  height:116px;
  float:left;
  margin-right:25px;
  color: #444;
  text-decoration: none;
  background-image: url(/images/service-desenvolvimento-mobile.png);
  background-repeat: no-repeat;
  text-indent: -9999px;

}

.desenvolvimentocontinuado{
  display: block;
  width:302px;
  height:116px;
  float:left;
  margin-right:25px;
  color: #444;
  text-decoration: none;
  background-image: url(/images/service-desenvolvimento-continuado.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
}

a.service span{
  display:none;
}

div.service p{
}
div.service img {
}
.sub {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #222;
}
.containner {
  width: 960px;
  margin: 0 auto;
}

input:focus{outline:none;}

/*====================*/
/*====== Header ======*/
/*====================*/

header.default {
  height: 115px;
  background-color: #fff;
  border-top: 5px solid #b80606;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow:  0px 2px 30px 2px rgba(0, 0, 0, 0.2);
  box-shadow:  0px 2px 30px 2px rgba(0, 0, 0, 0.2);
}

header.landingpage {
  height: 55px;
  background-color: #fff;
  border-top: 5px solid #b80606;
  border-bottom: 1px solid #efefef;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow:  0px 2px 30px 2px rgba(0, 0, 0, 0.2);
  box-shadow:  0px 2px 30px 2px rgba(0, 0, 0, 0.2);
}

div.header-spacer-default{
height:115px;
}

/*====================*/
/*======== Nav =======*/
/*====================*/

#menu {
  float: right;
  padding-top: 48px;
}
#menu ul {
}
#menu ul li {
  display: inline;
  margin-left: 25px
}
#menu ul li a {
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
#menu ul li a:hover {
  color: #b80606;
  text-decoration: underline;
}

/*====================*/
/*=== Home ===*/
/*====================*/

#home {
  background: url(/images/bg-home.jpg) center 120px;
  height: 830px;
  padding-top: 160px;
  background-repeat: no-repeat;
}
#home h2 {
  font-size: 58px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
#home h2 span {
  background-color: #000;
  line-height: 90px;
  padding: 5px 20px;
  opacity: 0.8;
}

#home a{
  float: left;
  text-align: center;
  opacity: 0.8;
  margin: 20px 10px;
}

#home a:hover{
  opacity: 0.9;
}

#home ul li  {
  list-style: none;

}

#home ul{
  width: 320px;
  margin: 0px auto;
}

/*====================*/
/*===== Fazemos ======*/
/*====================*/
#fazemos {
  background-image: url(/images/bg-fazemos.jpg);
  background-repeat: no-repeat;
  background-color: #efefef;
  height: 890px;
}

/*====================*/
/*======= Time =======*/
/*====================*/

#time .sub {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #222;
}
#time {
  padding-bottom: 180px;
  background-image: url(/images/bg-time.png);
  background-repeat:no-repeat;
  background-position:top center;
  background-color:#efefef;
}
#time ul {
  margin-top: 20px;
}

#time ul li{
  list-style: none;
  display: block;
  width: 237px;
  height: 137px;
  background-color: #000;
  float: left;
  text-align: center;
  color: #b80606;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 100px;
  border:1px solid #fff;
  text-indent:-500px;
  overflow:hidden;
}

#time ul li.matheus{ background-image: url(/images/time-matheus.jpg);}
#time ul li.aluisio{ background-image: url(/images/time-aluisio.jpg);}
#time ul li.rodrigo{ background-image: url(/images/time-rodrigo.jpg);}
#time ul li.mauro{ background-image: url(/images/time-mauro.jpg);}
#time ul li.beni{ background-image: url(/images/time-beni.jpg);}
#time ul li.cayo{ background-image: url(/images/time-cayo.jpg);}
#time ul li.ramon{ background-image: url(/images/time-ramon.jpg);}
#time ul li.sylva{ background-image: url(/images/time-sylvestre.jpg);}
#time ul li.rafael{ background-image: url(/images/time-rafael.jpg);}
#time ul li.anezio{ background-image: url(/images/time-anezio.jpg);}
#time ul li.eduardo{ background-image: url(/images/time-eduardo.jpg);}
#time ul li.rodrigom{ background-image: url(/images/time-rodrigom.jpg);}
#time ul li.lunks{ background-image: url(/images/time-lunks.jpg);}
#time ul li.liliane{ background-image: url(/images/time-liliane.jpg);}
#time ul li.rogerio{ background-image: url(/images/time-rogerio.jpg);}
#time ul li.peri{ background-image: url(/images/time-periad.jpg);}
#time ul li.reginato{ background-image: url(/images/time-reginato.jpg);}
#time ul li.cinthia{ background-image: url(/images/time-cinthia.jpg);}
#time ul li.voce{ background-image: url(/images/time-voce.jpg);}


#time ul li:hover {
  list-style: none;
  display: block;
  width: 237px;
  height: 137px;
  background-color: #000;
  float: left;
  text-align: center;
  color: #b80606;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 100px;
  text-indent:0px;
  background-image: none;
}

#time ul li span {
  color: #fff;
  font-size: 13px;
  display: block;
  text-transform: none;
}

#time ul li span a {
  text-decoration: none;
  width: 100px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-transform:uppercase;
  font-weight: 500;
}

#time ul li div a {
  text-decoration: none;
}

#time ul li div a:hover {
  opacity: .7;
}

/*====================*/
/*===== Produtos =====*/
/*====================*/
#products {
  background-image: url(/images/bg-fazemos.jpg);
  background-repeat: no-repeat;
  background-color: #efefef;
  height: 890px;
}

div.product{
  width:304px; 
  float:left;
  margin-right: 15px;
}

a.product{
  display:block;
  width: 304px;
  height: 185px;
  border: 1px solid #e4e5e6;
}

a.product:hover{
  border: 1px solid #ccc;
}

a.product span{
  display:none;
}

.product h3 a{
  color:#333;
  text-decoration: none;
}

.clientela{
  background-image: url(/images/product-clientela.jpg);
}
.landingcommerce{
  background-image: url(/images/product-landing-commerce.jpg);
}
.estoujogando{
  background-image: url(/images/product-estou-jogando.jpg);
}
/*====================*/
/*=== Fale Conosco ===*/
/*====================*/

#faleconosco h2 {
  padding-top: 0px;
  text-transform:uppercase;
  font-weight:700;
}
#faleconosco {
  background-position: center;
  background-image: url(/images/bg-contato.jpg);
  padding-top: 150px;
  height: 1135px;
  position: relative;
}
#faleconosco h2 {
  color: #fff;
  text-align: center;
  margin: -10px;
  font-size: 115px;
}
#faleconosco .pre, #faleconosco .sub {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
#faleconosco .pre {
  font-size: 30.5px;
}
#faleconosco .sub {
  font-size: 27.6px;
}
#faleconosco form {
  margin: 0px auto;
}
#faleconosco input[type="image"] {
  display: block;
  margin: 0px auto;
}

#faleconosco input[type="image"]:hover {
  opacity: 0.85;
}

#faleconosco input[type="text"] {
  background-color: black;
  opacity: 0.6;
  border: none;
  color: #fff;
  width: 382px;
  margin-left: 30px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom:10px;
}
#faleconosco textarea {
  background-color: black;
  opacity: 0.6;
  border: none;
  color: white;
  width: 830px;
  margin: 30px 0 30px 30px;
  padding: 15px;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;  
}

/*====================*/
/*====== Footer ======*/
/*====================*/

footer {
  position: absolute;
  width:100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding:30px 0 0 0;
}
footer a,
footer a:hover,
footer a:visited,
footer a:active,
footer p {
  margin: 0.2em;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
}

footer h3{
  color:#fff;
}

footer ul{
  float:left;
  list-style:none;
  margin-left:25px;
}

footer p.copyright{
  background-color: rgba(0, 0, 0, 0.4);
  text-align:center;
  padding: 10px; 0 10px 0;
  margin-top:40px;
}


/*=====================*/
/*== Workshop Covers ==*/
/*=====================*/


#cover{
  height:275px;
}

#cover h2 span{
  display:none;
}

.cover-workshop-startup-dev{
  background-image: url(/images/workshop-startup-dev-bg.jpg);
}
.cover-rails-for-zombies-2{
  background-image: url(/images/workshop-rails-for-zombies-2-bg.jpeg);
  background-position:top center;
}

.cover-workshop-startup-dev h2{
  display:block;
  width:960px;
  height:275px;
  background-image: url(/images/workshop-startup-dev-logo.png);
  background-repeat: no-repeat;
  margin:0 auto;
}

.cover-rails-for-zombies-2 h2{
  display:block;
  width:960px;
  height:250px;
  background-image: url(/images/workshop-rails-for-zombies-2-codeschool.png);
  background-repeat: no-repeat;
  background-position: left center;
  margin:0 auto;
}


/*=====================*/
/*=== Workshop Page ===*/
/*=====================*/

#workshop ul li{
  list-style:none;
  padding-left:20px;
  background-image: url(/images/bullet.jpg);
  background-repeat:no-repeat;
  background-position:left center;
  font-size: 13px;
  color: #888;
}

#workshop ul {
  margin-bottom:20px;
}

#workshop h2 {
  color: #444444;
  font-size:22px;
  padding-top:40px;
  text-transform: uppercase;

}

#workshop h3 {
  font-weight:300;
  text-transform:none;
  font-size:23px;
  padding-top:10px;
  line-height:20px;
  margin-bottom:25px;
}

#workshop h4 {
  font-weight:700;
  margin: 30px 0 10px 0;
}

.left{
  width:560px;
  float:left;
}

.left p{
  margin-bottom:15px;
}

.right{
  width:360px;
  float:right;
}

.price{
  font-size:40px;
  font-weight: 900;
  color:#222;
}

.right h3{
  text-transform:uppercase;
  margin:15px 0 10px 0; 
}


a.subscribe-workshop{
  background-color: #b80606;
  padding: 20px;
  display:block;
  text-align:center;
  width:270px;
  border-radius: 6px;
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  margin-top: 15px;
}

a.subscribe-workshop:hover{
  opacity:0.9;
}

#badge{
  width:361px;
}

#badge ul li{
  display:inline;
  list-style:none;
  padding: 0;
  background: none;
}

.chopp{
  background-image: url(/images/badge-chopp-garantido.png);
  background-repeat: no-repeat;
  background-position:left;
  height:192px;
  width:231px;
  margin:0 auto;
}

/*=====================*/
/*== Mailing He:labs ==*/
/*=====================*/

#mailing-helabs{
  background-image: url(/images/mailing-bg.png);
  width:550px;
  height:167px;
}

#mailing-helabs h2{
  font-size:18px;
  padding-top:55px;
}

#mailing-helabs input[type="text"], #mailing-helabs input[type="email"]{
  margin:26px 0 0 10px;
  width:425px;
  border:none;
  font-size:14px;
}

#mailing-helabs input[type="submit"]{
  background-color:#b80606;
  padding:8px;
  border:0px;
  border-radius:6px;
  color:#fff;
  font-size:12px;
  text-transform:uppercase;
  font-weight:700;
}

#mailing-helabs input[type="submit"]:hover{
  opacity:0.9;
  cursor: pointer;
}
#mailing-helabs p {
  margin:12px 0 0 10px;
  font-size:13px;
}
#mailing-helabs a {
  color:#333;
}

#mailing-helabs p span{
  color: #b80606;
  text-decoration:none;
}

#instructors{
  margin:130px 0 0 0;
}

h3.teaser-zombies{
  width:800px;
  text-align:center;
  margin:0 auto;
  font-size:30px;
  margin-bottom:30px;
  font-weight:300;
}

div.teaser-zombies{
  margin:0px auto; 
  text-align:center; 
  background-image: url(/images/teaser-zombies-bg.jpg);
  background-repeat: no-repeat;
  padding: 170px 0 130px 0;
}

div.teaser-zombies p{
  font-size:18px;
  color:#000;
  margin-bottom:30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding:10px;
  width:700px;
  margin: 0 auto;
}


a.subscribe-workshop-big{
  background-color: #b80606;
  padding: 20px;
  display:block;
  text-align:center;
  width:470px;
  border-radius: 8px;
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  margin:0 auto;
  margin-top: 15px;
  font-size: 25px;


}

a.subscribe-workshop-big:hover{
  opacity:0.9;
}

.instructors-rails-for-zombies-2{
  background-image: url(/images/instructors-bg-full.jpg);
}

div.zombies{
  background-image: url(/images/zombies.jpg);
  height: 688px;
  background-repeat:no-repeat;
  background-position:center;
}
div.zombies h2{
  color: #fff;
  font-size:22px;
  padding-top:70px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

div.zombies h3{
  color: #fff;
  font-size:60px;
  font-weight:300;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}
div.zombies p{
  font-size:16px;
  color:#fff;
  margin-top:10px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);

}

div.zombie-rodrigo{
  width:520px;
  float:left;
}

div.zombie-mauro{
  width:530px;
  float:right;
  margin-top:110px;
}

/*=====================*/
/*=== Mailing Page ===*/
/*=====================*/

.cover-mailing-page{
  background-image: url(/images/mailing-cover-bg.jpg);
  background-position: bottom center;
  padding-top:60px;
}

.cover-mailing-page h2{
  padding:0px;
  margin:0px;
  color:#b80606;
  font-size:30px;
  text-transform:none;
  width:520px;
  line-height:30px;
  margin-bottom:35px;
}

#mailing-page{
  padding-bottom:50px;
}

#mailing-page h3{
  font-size:28px;
  margin:40px 0;
}

#mailing-page ul li{
  list-style:none;
  width:960px;
  display:block;
  /**background-color:rgba(0, 0, 0, 0.1);**/
  padding-top:20px;
  padding-bottom:8px;
  border-bottom:1px solid #f5f5f5;
}

#mailing-page ul li:hover{
  background-color:#fbfbfb;
}

#mailing-page ul li:last-child{
  border-bottom:none;
}

#mailing-page ul li img{
  float:left;
  margin-right:30px;
}

#mailing-page ul li span{
  font-size:23px;
  font-weight:300;
  color:#888;
}

#mailing-page ul li h4{
  font-size:23px;
  font-weight:400;
  color:#b80606;
  margin-bottom:20px;
}

#mailing-page ul li p{
  font-size:16px;
}



.mailing-form{
  padding-top:55px;
  margin-left:250px;
  /**background-color:rgba(0, 0, 0, 0.1);**/
}

.mailing-form p{
  margin-top:15px;
}

.mailing-form p a{
  font-size:11px;
  color:#666;
}

.mailing-form img{
  float:right;
  margin: 11px 60px 0 0;
}

.cover-mailing-page div.containner{
  height:275px;
  background-image: url(/images/mailing-page-containner-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.cover-mailing-page div.containner input[type="text"], .cover-mailing-page div.containner input[type="email"]{
  margin:0px 0 0 10px;
  width:531px;
  border:none;
  font-size:14px;
}

.cover-mailing-page div.containner input[type="submit"]{
  background-color:#b80606;
  padding:8px;
  border:0px;
  border-radius:6px;
  color:#fff;
  font-size:12px;
  text-transform:uppercase;
  font-weight:700;
}

.cover-mailing-page div.containner input[type="submit"]:hover{
  opacity:0.9;
}

/*=====================*/
/*== Opensource Page ==*/
/*=====================*/

.cover-open-source{
  background-color:#9d1b1f;
}

.cover-open-source h2{
  display:block;
  width:960px;
  height:275px;
  background-image: url(/images/helabs-open-source-top.png);
  background-repeat: no-repeat;
  margin:0 auto;
  margin-top:55px;
}

#open-source{
  padding-bottom:70px;
}

#open-source h3{
  font-size:28px;
  margin:40px 0;
}

#open-source ul li{
  list-style:none;
  width:320px;
  display:block;
  /**background-color:rgba(0, 0, 0, 0.1);**/
  padding-top:20px;
  padding-bottom:8px;
  float:left;
}

#open-source ul li span,#open-source span{
  font-size:23px;
  font-weight:300;
  color:#888;
}

#open-source ul li a h4,a h4{
  font-size:23px;
  font-weight:400;
  color:#b80606;
  margin-bottom:5px;
}

#open-source a img:hover{
  opacity:0.9;
}

#open-source a{
  text-decoration:none;
  border:0;
  color:#b80606;
}

#open-source a:hover{
  text-decoration:underline;
  border:0;
}

#open-source ul li p, p{
  font-size:16px;
}

#open-source hr{
  margin-top:50px;
  border:0;
  border-top:1px solid #efefef;
}

/*=====================*/
/*== Privacidade ==*/
/*=====================*/

#privacidade{
padding-bottom:70px;
  font-size:20px;
    color:#333;
    font-weight:300;
}

#privacidade h2{
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  color: #222;
  padding-top: 50px;
  margin-bottom: 40px;

}

#privacidade p{
margin-bottom:20px;
font-size:20px;
color:#333;
}

#privacidade p strong{
font-size:20px;
font-weight:700;
}


#privacidade ol li{
margin-left:20px;
}

#privacidade ol{
  margin-bottom:25px;
}

#privacidade a{
  color:#ba2426;
  font-weight:500;
}

#privacidade hr{
  margin-bottom:30px;
  border:0;
border-top:1px solid #efefef; 
}


#depoimento {
  padding-bottom: 180px;
  background-image: url(/images/bg-time.png);
  background-repeat:no-repeat;
  background-position:top center;
  background-color:#efefef;
}

.video{
margin-top:30px;

}

#jobs h2{
  color: #444444;
  font-size:22px;
  padding-top:40px;
  text-transform:uppercase;
}

#jobs .right h2{
margin-bottom: 10px;
}


#jobs .left h3{
  font-weight:300;
  text-transform:none;
  font-size:23px;
  padding-top:10px;
  line-height:20px;
  margin-bottom:25px;
}

#jobs .right h3{
  font-weight:300;
  font-size:23px;
  padding-top:10px;
  line-height:20px;
  margin-bottom:25px;
  text-transform: uppercase;
}

#jobs p{
font-weight: 300;
}

#jobs .right p{
padding: 8px 0;
border-top: 1px solid #efefef;
}

#jobs form{
margin-top: 15px;

}

#jobs input[type="text"]{
height:35px;
  width:152px;
  padding:0 10px;
  border:1px solid #ccc;
  margin-right: 10px;
  border-radius:6px;

}

#jobs textarea{
height:100px;
  width:526px;
  padding:10px;
  border:1px solid #ccc;
  font-family: lucida grande;
  font-size:11px;
  margin-top:10px;
  border-radius:6px;
}
#jobs input[type="submit"]{
  background-color:#b80606;
  padding:8px;
  border:0px;
  border-radius:6px;
  color:#fff;
  font-size:12px;
  text-transform:uppercase;
  font-weight:700;
  float: right;
  margin-right:12px;
}

#jobs input[type="submit"]:hover{
  opacity:0.9;
  cursor: pointer;
}

textarea:focus{outline:none;}

.cover-jobs{
  background-color: #b80606;
  padding-top:50px;
}

#jobs div.cover-jobs h2{
color:#fff;
width: 960px;
margin: 0 auto;
  font-size:160px;
  font-weight:900;
}



