/**RESET**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
	font-family:arial;
}

body {
  background-image:url(../images/bg-bottom.png);
}

#fork-me {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}

/**PATTERN**/
p {
  color:#ccc;
  font-family:arial;
}

a {
  color:#999;
  font-family:arial;
}

h1 a {
  display:block;
  width:282px; height:430px;
  margin:0 auto;
  background-image:url(../images/helabs-logo-paintball.png);
  background-repeat:no-repeat;
  background-position:center;
  padding:60px 0;
}


h2 {
  color:#d92727;
  text-transform: uppercase;
  font-size:21px;
  font-family:arial;
}

/**HEADER**/
header {
  background-image:url(../images/bg-top.png);
}

div#header {
  width:960px;
  margin:0 auto;
}


h1 a span {
  display:none;
}

/**CONTENT**/
section {
  background:url("../images/pinball.png") no-repeat center;
  padding-bottom:30px;
}

div#content {
  width:960px;
  margin:0 auto;
  height:825px;
  background-repeat:no-repeat;
  background-position: 0px 0px;
  position:relative;
}

article {
  padding:135px 0 0 0;
  width:300px;
  margin: auto;
}

a.block {
  display:block;
  width:65px;
  height:80px;
  position:absolute;
}


a.block span {
  display:none;
}

a.videos {
  left:195px;
  top:320px;
}

a.twitter {
  left:235px;
  top:410px;
}

a.imprensa {
  right:185px;
  top:320px;
}

a.email {
  right:225px;
  top:410px
}


/**Footer**/
footer {
  text-align:center;
  background-color:#111;
  padding:10px 0;
}

