/**RESET**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
	font-family:arial;
}

/**PATTERN**/

p{
color:#ccc;
font-family:arial;
}

a{
color:#999;
font-family:arial;
}

h1 a {
display:block;
width:282px; height:430px;
margin:0 auto;
background-image:url(../images/logo.png);
background-repeat:no-repeat;
background-position:center;
padding:60px 0;
}


h2{
color:#d92727;
text-transform: uppercase;
font-size:21px;
font-family:arial;
}

/**HEADER**/


div#header-container{
background-image:url(../images/bg-top.png);
}

div#header{
width:960px;
margin:0 auto;
}


h1 a span{
display:none;
}

/**CONTENT**/

div#content-container{
background-image:url(../images/bg-bottom.png);
padding-bottom:30px;
}

div#content{
width:1278px;
margin:0 auto;
background-image:url(../images/pinball.png);
height:825px;
background-repeat:no-repeat;
background-position: 0px 0px;
position:relative;
}

div#content-inner{
padding:135px 0 0 0;
width:300px;
margin: auto;
}

a.block{
display:block;
width:65px;
height:80px;
position:absolute;
}


a.block span{
display:none;
}

a.videos{
left:355px;
top:300px;
}

a.twitter{
left:395px;
top:400px;
}

a.imprensa{
right:345px;
top:300px;
}

a.email{
right:385px;
top:400px;
}


/**Footer**/


div#footer{
text-align:center;
background-color:#111;
padding:10px 0;
}

