/* ----- Logo ----- */

#logo a {
	background-image:url('../images/themes/logos/none.png');
	min-height:0;
	height:40px;
}
* html #logo a {/* IE6 png Support */
	background-image: none;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/themes/logos/none.png", sizingMethod="crop");
}
/* ----- Backgrounds ----- */
html {
	background-image:none;
	background-color:transparent;
}
#logo {
	background-image:none;
	background-color:transparent;
}
#container, html.embed {
	background-color:transparent;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
  background:transpa;
  border:1px solid Background color 'transpa' is not a hex color value.#;
  border-bottom:1px solid Background color 'transpa' is not a hex color value.#;
  border-right:1px solid Background color 'transpa' is not a hex color value.#;
}
.safari .wufoo select.select {
	font-size:100% !important;
}
.safari .wufoo input.file {
	background:none;
	border:none;
}
.wufoo li.focused {
	background-color:transparent;
}
.wufoo .instruct {
	background-color:#f5f5f5;
}
/* ----- Borders ----- */
#container {
	border:0 solid transparent;
	width:300px;
	margin:auto;
}
.wufoo .info, .wufoo .paging-context {
	border-bottom:0 dotted #cccccc;
}
.wufoo .section h3, .wufoo .captcha, #payment .paging-context {
	border-top:0 dotted #cccccc;
}
.wufoo input.text, .wufoo textarea.textarea {
}
.wufoo .instruct {
	border:1px solid #e6e6e6;
}
.fixed .info {
	border-bottom:none;
}
.wufoo li.section.scrollText {
	border-color:#dedede;
}
/* ----- Typography ----- */
.wufoo .info h2 {
	font-family:Arial;
	color:#d92727;
}
.wufoo .info div {
	font-size:95%;
	font-family:inherit;
	font-style:normal;
	font-weight:normal;
	color:#cccccc;
}
.wufoo .section h3 {
	font-size:110%;
	font-family:inherit;
	font-style:normal;
	font-weight:normal;
	color:#000000;
}
.wufoo .section div {
	font-size:85%;
	font-family:inherit;
	font-style:normal;
	font-weight:normal;
	color:#444444;
}
.wufoo label.desc, .wufoo legend.desc {
	font-size:95%;
	font-family:inherit;
	font-style:normal;
	font-weight:bold;
	color:#444444;
}
.wufoo label.choice {
	font-size:100%;
	font-family:inherit;
	font-style:normal;
	font-weight:normal;
	color:#444444;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
	font-style:normal;
	font-weight:normal;
	color:#333333;
	font-size:100%;
}
{
* Custom Fonts Break Dropdown Selection in IE *
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
	font-family:inherit;
}
.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
	font-family:inherit;
	color:#444444;
}
.safari .wufoo input.file { /* Webkit */
	font-size:100%;
	font-family:inherit;
	color:#444444;
}
.wufoo .instruct small {
	font-size:80%;
	font-family:inherit;
	font-style:normal;
	font-weight:normal;
	color:#444444;
}
.altInstruct small, li.leftHalf small, li.rightHalf small, li.leftThird small, li.middleThird small, li.rightThird small, .iphone small {
	color:#444444 !important;
}
/* ----- Button Styles ----- */

.wufoo input.btTxt {
}
/* ----- Highlight Styles ----- */


/* ----- Confirmation ----- */

.confirm h2 {
	font-family:inherit;
	color:#444444;
}
a.powertiny b, a.powertiny em {
	color:#1a1a1a !important;
}
.embed a.powertiny b, .embed a.powertiny em {
	color:#1a1a1a !important;
}
/* ----- Pagination ----- */

.pgStyle1 var, .pgStyle2 var, .pgStyle2 em, .page1 .pgStyle2 var, .pgStyle1 b, .wufoo .buttons .marker {
	font-family:inherit;
	color:#444444;
}
.pgStyle1 var, .pgStyle2 td {
	border:1px solid #696969;
}
.pgStyle1 .done var {
	background:#e6e6e6;
	border:1px solid #e6e6e6;
}
.pgStyle1 .selected var, .pgStyle2 var, .pgStyle2 var em {
	background:#575757;
	color:#FFFFFF;
}
.pgStyle1 .selected var {
	border:1px solid #444444;
}
.buttons button, .buttons button:hover {
	color:#000000;
}
/* Likert Backgrounds */

.likert table {
	background-color:transparent;
}
.likert thead td, .likert thead th {
	background-color:#e6e6e6;
}
.likert tbody tr.alt td, .likert tbody tr.alt th {
	background-color:#f5f5f5;
}
/* Likert Borders */

.likert table, .likert th, .likert td {
	border-color:#dedede;
}
.likert td {
	border-left:1px solid #cccccc;
}
/* Likert Typography */

.likert caption, .likert thead td, .likert tbody th label {
	color:#444444;
	font-family:inherit;
}
.likert tbody td label {
	color:#575757;
	font-family:inherit;
}
.likert thead td, .likert tbody tr.alt th label, .likert tbody tr.alt td label {
	color:#000000;
}
.likert caption, .likert tbody th label {
	font-size:95%;
}
/* Likert Hover */

.likert tbody tr:hover td, .likert tbody tr:hover th, .likert tbody tr:hover label {
	background-color:transparent;
	color:#000000;
}
.likert tbody tr:hover td {
	border-left:1px solid #cccccc;
}
/* ----- Running Total ----- */

.wufoo #lola {
	background:#FFFFFF;
	background:rgba(255, 255, 255, 0.5);
}
.wufoo #lola tbody td {
	border-bottom:1px solid #cccccc;
	border-bottom:1px solid rgba(68, 68, 68, 0.3);
}
.wufoo #lola {
	font-family:inherit;
	color:#444444;
}
.wufoo #lola tfoot th {
	color:#696969;
}
/* ----- Report Styles ----- */

.wufoo .wfo_graph h3 {
	font-size:95%;
	font-family:inherit;
	color:#444444;
}
.wfo_txt, .wfo_graph h4 {
	color:#444444;
}
.wufoo .footer h4 {
	color:#000000;
}
.wufoo .footer span {
	color:#444444;
}
/* ----- Number Widget ----- */

.wfo_number {
	background-color:#f5f5f5;
	border-color:#dedede;
}
.wfo_number strong, .wfo_number em {
	color:#000000;
}
/* ----- Chart Widget Border and Background Colors ----- */

#widget, #widget body {
	background:transparent;
}
.fcNav a.show {
	background-color:transparent;
	border-color:#cccccc;
}
.fc table {
	border-left:1px solid #dedede;
}
.fc thead th, .fc .more th {
	background-color:#dedede !important;
	border-right:1px solid #cccccc !important;
}
.fc tbody td, .fc tbody th, .fc tfoot th, .fc tfoot td {
	background-color:transparent;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #dedede;
}
.fc tbody tr.alt td, .fc tbody tr.alt th, .fc tbody td.alt {
	background-color:#f5f5f5;
}
/* ----- Chart Widget Typography Colors ----- */

.fc caption, .fcNav, .fcNav a {
	color:#444444;
}
.fc tfoot, .fc thead th, .fc tbody th div, .fc tbody td.count, .fc .cards tbody td a, .fc td.percent var, .fc .timestamp span {
	color:#000000;
}
.fc .indent .count {
	color:#4b4b4b;
}
.fc .cards tbody td a span {
	color:#7d7d7d;
}
/* ----- Chart Widget Hover Colors ----- */

.fc tbody tr:hover td, .fc tbody tr:hover th, .fc tfoot tr:hover td, .fc tfoot tr:hover th {
	background-color:transparent;
}
.fc tbody tr:hover th div, .fc tbody tr:hover td, .fc tbody tr:hover var, .fc tfoot tr:hover th div, .fc tfoot tr:hover td, .fc tfoot tr:hover var {
	color:#000000;
}
/* ----- Payment Summary ----- */

.invoice thead th, .invoice tbody th, .invoice tbody td, .invoice tfoot th, .invoice .total, .invoice tfoot .last th, .invoice tfoot .last td, .invoice tfoot th, .invoice tfoot td {
	border-color:#dedede;
}
.invoice thead th, .wufoo .checkNotice {
	background:#f5f5f5;
}
.invoice th, .invoice td {
	color:#000000;
}
#ppSection, #ccSection {
	border-bottom:0 dotted #cccccc;
}
#shipSection, #invoiceSection {
	border-top:0 dotted #cccccc;
}
/* Drop Shadows */
#container {
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important;
	box-shadow:none !important;
}

/* - - - Local Fonts - - - */

/* - - - Responsive - - - */

@media only screen and (max-width: 480px) {
 html {
 background-color:transparent;
}
 a.powertiny b, a.powertin em {
 color:#1a1a1a !important;
}
}

/* - - - Custom Theme - - - */
