:plain
  ---
  layout: default
  html_title: BielSystems • Valores
  title: Valores
  ---

%article
  %p Acreditamos que um software pode ser funcional, útil e agradável de utilizar. Apoiamos a filosofia da utilidade, simplicidade, transparência e efetividade. Gostaríamos de compartilhar com você um pouco de nossas idéias.

  %h2 Apresentação x Avaliação Prática
  %p Nem toda apresentação feita em PowerPoint ou Flash funciona na prática. Os números mostram ganhos, porém a falta da prática e uso efetivo escondem os problemas que gastam tempo e recursos da organização. Permitimos que você utilize nossos sistemas na prática e perceba os reais ganhos no uso antes de realizar qualquer contratação.

  %h2 Importância do Processo
  %p Os gestores costumam desenhar esquemas e fluxos, muitas vezes complexos, que representam o funcionamento do sistema de informação sem pensar nas dificuldades do dia-a-dia de seus funcionários. Nós procuramos entender o usuário, buscamos seu ponto de vista e pensamos no processo.
  
  %h2 Simplicidade no Propósito
  %p Poderíamos desenvolver ferramentas completas e robustas, porém não é este nosso objetivo. Acreditamos que o software deve ser simples no propósito. Gostamos do simples e evitamos a “guerra pelo mais”. Nossos sistemas são focados e bons no que se propõem a fazer.
  
  %h2 Soluções para Problemas Reais
  %p Procuramos apresentar sempre a melhor solução para problemas específicos. Gostamos de ouvir nossos clientes e usuários a fim de aprender quais são suas verdadeiras necessidades. Evitamos imaginar quais seriam os problemas, preferimos desenvolver sistemas com o mínimo de funcionalidade para depois responder às solicitações relativas a problemas reais.
  
  %h2 A Interface é Essencial
  %p Não basta funcionar, tem que funcionar e com uma interface simples e fácil de usar. Como prova de que acreditamos nisso, desenvolvemos a Tecnologia Coloquial, ela permite a interpretação de frases escritas literalmente. Um usuário pode digitar “depois de amanhã” ou mesmo “dia 15 do mês que vem” que nossos sistemas entendem a data. Conseguimos assim agilizar o tempo de entrada de dados. Uma interface bem pensada entusiasma a utilização do usuário e facilita a implementação.
  
  %h2 Utilidade
  %p Antes de desenvolver qualquer aplicação web, paramos para analisar a real utilidade do sistema. Acreditamos que nossos usuários e clientes só estarão satisfeitos se o sistema que oferecemos for ajudá-los no dia-a-dia, servindo de ferramenta útil para a realização de suas tarefas.
  
  %h2 Organização e Integração
  %p Uma empresa, para se manter no mercado, deve ser organizada, em todos os seus processos. Queremos contribuir para esta organização. Além disso, reconhecemos que não adianta muito utilizar “sistemas solitários” que não se comunicam com o ambiente externo. Nossas ferramentas são facilmente integradas aos processos existentes das organizações e a outros sistemas que elas utilizem ou venham a utilizar no futuro.
  
  %h2 Acreditamos nas Pequenas Empresas
  %p Nós somos pequenos e queremos ser. As pequenas empresas são mais flexíveis e conseguem se adaptar ao mercado mais rapidamente. Acreditamos nelas e percebemos que é praticamente inviável para as pequenas, contratar soluções de softwares e tecnologia nos moldes em que são comercializados hoje, pelos altos custos de implantação e investimento em hardware e software. Apresentamos nossos produtos como serviços continuados e hospedados na internet, não precisam de investimento inicial e são viáveis para empresas de qualquer porte.