:plain
  ---
  layout: english
  html_title: BielSystems • Impressive Web Applications
  title: Impressive Web Applications
  ---

%ul#products
  %li
    %a{ :href => "http://www.cobregratis.com.br", :class => "noborder" }
      %img{ :src => "/images/cobregratis.com.br.png", :alt => "Cobre Grátis", :width => 360, :height => 200 }
    Cobre Grátis is a complete online system to manage charges for bank bills.
  %li
    %a{ :href => "http://www.emailfax.com.br", :class => "noborder" }
      %img{ :src => "/images/emailfax.com.br.png", :alt => "Emailfax", :width => 360, :height => 200 }
    Emailfax is a internet faxing system that supports sending faxes for more than 250 countries.
