@charset "utf-8";

/* ====================
Case: AtendeSimples
==================== */

/* Header */

#hero-atendesimples {
  width: 100%;
  background: url('/images/works/atendesimples/atendesimples_bg.jpg') center center;
  background-size: cover;
  margin-top: 80px;
  padding: 50px 0 0 0;
  color: #fff;
  position: relative;
  @include clearfix;

  h2 {
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.04em;
    word-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
  }

  figure, blockquote {
    width: 50%;
    float: left;
    margin: 50px 0 0;
  }

  figure {
    height: 340px;
    overflow: hidden;
  }

  blockquote {
    margin-top: 70px;

    i {
      font-size: 20px;
      line-height: 32px;
      width: 95%;
      display: block;

      &:before, &:after {
        width: 25px;
        height: 20px;
        content: "";
        display: inline-block;
      }

      &:before {
        background: url('/images/works/atendesimples/quote_left.png') no-repeat scroll top left;
        margin-right: 5px;
      }

      &:after {
        background: url('/images/works/atendesimples/quote_right.png') no-repeat scroll top left;
        margin-left: 5px;
      }
    }

    em {
      display: block;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  a.btn {
    display: inline-block;
    margin-top: 60px;
    padding: 12px 50px;
    background: #fff;
    border-radius: 4px;
    color: #2271B3;
    font-size: $font-medium;
    font-weight: 500;
    text-decoration: none;

    &:hover { opacity: 0.95; }
  }
}



/* Sections */

.stage-head {
  background-color: $light-grey2;
  border-bottom: 5px solid $grey1;
  padding: 50px 0 50px 0;
  font-size: $font-large;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 0;

  p { margin: 0 0 0 150px; }

  img {
    width: 120px;
    float: left;
  }
}

#atendesimples-steps {
  width: 100%;
  font-size: $font-medium2;
  line-height: 26px;
  float: left;

  .stage {
    border-top: 1px solid $grey1;
    border-bottom: 1px solid $grey1;
    padding: 60px 0 40px 0;
    @include clearfix;

    h2 {
      margin-bottom: 20px;
      line-height: 31px;
    }

    &:nth-child(odd){
      background-color: #fff;

      .col-img {
        margin-right: 4%;
        text-align: right;
        float: left;
      }

      .col { float: right; }

    }

    &:nth-child(even){
      background-color: $light-grey1;

      .col-img {
        margin-left: 4%;
        text-align: left;
        float: right;
      }

      .col { float: left; }

    }

    .col-img {
      width: 40%;

      img {
        width: 70%;
      }
    }

    .col {
      width: 48%;

      h3 { margin-bottom: 10px; }

      .icon-stege {
        display: block;
        margin: 0 auto;
      }

    } // .col

  } // .stage
} // #atendesimples-steps

.topics li { list-style-type: circle !important; }


/* Testimonials */

.testimonials {

  h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: $font-big;
    margin: 50px 0 20px 0;
    float: left;
  }

  .testimony {
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #f1f1f1;

    .quote {
      font: $font-large Georgia, serif;
      line-height: 34px;
      font-style: italic;
      margin-bottom: 15px;

      &:before {
        background: url('/images/works/atendesimples/aspa1-black.png') no-repeat scroll top left;
        width: 35px;
        height: 28px;
        content: "";
        float: left;
        margin-right: 5px;
      }

      &:after {
        background: url('/images/works/atendesimples/aspa2-black.png') no-repeat scroll top left;
        width: 35px;
        height: 28px;
        content: "";
        display: inline-block;
        margin-left: 5px;
        margin-bottom: -10px;
      }
    }

    .author {
      text-align: right;
      font-size: $font-medium2;
      color: $grey3;
    }
  }
}

.case-logos {
  display: block;
  margin: 30px auto 40px;
}


/* List */

.list {
  border-radius: 4px;
  background: $light-grey2;
  border: 1px solid $grey2;
  counter-reset: item;
  padding: 1em;

  li {
    display: block;
    font-size: $font-medium;
    list-style: decimal;

    &:before {
      content: counter(item) " - ";
      counter-increment: item;
      font-weight: bold;
    }
  }
}
