@charset "utf-8";

/* ====================
Case: AtendeSimples
==================== */

/* Header */

#hero-atendesimples {
  width: 100%;
  background: $atende_simples url('/images/works/atendesimples/atendesimples_bg.png') center center;
  background-size: cover;
  margin-top: 80px;
  padding: 50px 0 0 0;
  color: #fff;
  position: relative;
  @include clearfix;

  h2 {
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.04em;
    word-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
  }

  figure, blockquote {
    width: 50%;
    float: left;
    margin: 50px 0 0;
  }

  figure {
    height: 340px;
    overflow: hidden;
  }

  blockquote {
    margin-top: 50px;

    i {
      font-size: 20px;
      line-height: 32px;
      width: 95%;
      display: block;

      &:before, &:after {
        width: 25px;
        height: 20px;
        content: "";
        display: inline-block;
      }

      &:before {
        background: url('/images/works/atendesimples/quote_left.png') no-repeat scroll top left;
        margin-right: 5px;
      }

      &:after {
        background: url('/images/works/atendesimples/quote_right.png') no-repeat scroll top left;
        margin-left: 5px;
      }
    }

    em {
      display: block;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  a.btn {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 50px;
    background: #fff;
    border-radius: 4px;
    color: $atende_simples;
    font-size: $font-medium;
    font-weight: 500;
    text-decoration: none;

    &:hover { opacity: 0.95; }
  }

  b {
    display: block;
    margin-top: 35px;
    font-weight: 400;
    color: #a7c4e2;

    span {
      color: #cadcea;
    }
  }
}



/* Steps */

section#atendesimples-steps {
  width: 100%;
  overflow: hidden;

  aside {
    background-color: $light-grey2;
    border-bottom: 2px solid $grey1;
    padding: 40px 0;

    p {
      width: 85%;
      margin: 0 auto;
      font-size: 18px;
      line-height: 32px;

      b {
        margin-right: 10px;
        color: $atende_simples;
      }
    }
  }

  article {
    overflow: hidden;
    border-top: 1px solid $grey1;
    border-bottom: 1px solid $grey1;
    padding: 60px 0;

    h2 {
      margin-bottom: 20px;
      font-size: 30px;
      color: $atende_simples;

      b {
        display: block;
        margin-top: 5px;
      }
    }

    h3 {
      margin-bottom: 20px;
    }

    p {
      margin-top: 10px;
      font-size: $font-medium2;
      line-height: 30px;
    }

    ul.topics li { font-size: 16px; list-style-type: circle !important; }
  }

  article:nth-child(even) {
    background-color: $light-grey1;

    .col { float: left; }
  }

  article:nth-child(odd) {
    background-color: #fff;

    .col { float: right; }
  }

  article:nth-child(odd) section:before, article:nth-child(even) section:after {
    content: '';
    display: inline-block;
    background: url('/images/works/atendesimples/step_images_sprite.png');
  }

  article:nth-child(2) section {

    .col { width: 60%; }

    &:after {
      margin-left: 60px;
      width: 250px;
      height: 285px;
      background-position: 0 0;
    }
  }

  article:nth-child(3) section {

    .col { width: 60%; }

    &:before {
      margin: 40px 40px 0;
      width: 240px;
      height: 165px;
      background-position: 0 -295px;
    }
  }

  article:nth-child(4) section {

    .col { width: 60%; }

    &:after {
      margin: 120px 0 0 70px;
      width: 270px;
      height: 190px;
      background-position: 0 -468px;
    }
  }

  article:nth-child(5) section {

    .col { width: 60%; }

    &:before {
      margin-top: 40px;
      width: 270px;
      height: 210px;
      background-position: 0 -660px;
    }
  }

  article:nth-child(6) section {

    .col { width: 65%; }

    &:after {
      margin: 20px 0 0 60px;
      width: 240px;
      height: 200px;
      background-position: 0 -880px;
    }
  }

  article:nth-child(7) section {

    .col { width: 65%; }

    .list {
      border-radius: 4px;
      background: $light-grey2;
      border: 1px solid $grey2;
      counter-reset: item;
      padding: 20px;

      li {
        display: block;
        font-size: $font-medium;
        list-style: decimal;
        margin-bottom: 5px;

        &:before {
          content: counter(item) " - ";
          counter-increment: item;
          font-weight: bold;
          color: $atende_simples;
        }
      }
    }

    &:before {
      width: 250px;
      height: 370px;
      background-position: 0 -1080px;
    }
  }
}



/* Testimonials */

section.testimonials {
  padding: 0 0 50px;
  background: #fafafa;
  display: block;

  h2 {
    width: 100%;
    margin: 50px 0 40px 0;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: $font-large;
    color: $atende_simples;
    font-weight: 600;
    letter-spacing: 0.04em;
    word-spacing: 0.1em;
  }

  blockquote {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 50px 0;
    border-bottom: 1px solid #f1f1f1;

    i {
      width: 100%;
      display: block;
      font-size: $font-medium2;
      line-height: 34px;
      text-align: center;

      &:before, &:after {
        width: 25px;
        height: 20px;
        content: "";
        display: inline-block;
      }

      &:before {
        background: url('/images/works/atendesimples/quote_left_black.png') no-repeat scroll top left;
        margin-right: 10px;
      }

      &:after {
        background: url('/images/works/atendesimples/quote_right_black.png') no-repeat scroll top left;
        margin-left: 10px;
      }
    }

    em {
      margin-top: 20px;
      display: block;
      text-align: center;
      font-size: 16px;
      color: $grey3;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}



/* Company Logos */

section.company-logos {
  background: #fafafa;
  overflow: hidden;
  padding: 0 0 60px;

  figure {
    width: 475px;
    display: block;
    margin: 0 auto;

    img {
      float: left;
    }

    img:first-child {
      margin-right: 35px;
    }

    img:last-child {
      border-left: 1px solid $grey2;
      padding-left: 35px;
    }
  }
}


