

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.hero {
  margin-top: 80px;
  height: 300px;
  background: $he_red;

  article {
    margin-top: 50px;
    width: 50%;
    float: left;

    h2 {
      font-size: 62px;
      line-height: 70px;
      letter-spacing: 0.02em;
      font-weight: 700;
      color: #fff;
    }

    span {
      margin-top: 10px;
      font-size: 18px;
      letter-spacing: 0.04em;
      font-weight: 100;
      display: block;
      color: rgba( 255, 255, 255, 0.7 );
    }

    a.btn {
      margin-top: 35px;
      background: #fff;
      border-radius: 4px;
      color: $he_red;
      display: inline-block;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      padding: 12px 50px;

      &:hover {
        opacity: 0.95;
      }
    }
  }
}




section.main-infos {
  width: 100%;
  padding: 50px 0;
  overflow: hidden;

  article, aside {
    float: left;

    h3 {
      text-transform: uppercase;
      color: $he_red;
      font-size: 19px;
      letter-spacing: 0.04em;
      word-spacing: 0.1em;
      font-weight: 500;
      margin-bottom: 25px;
    }

    p {
      font-size: 16px;
      line-height: 28px;
      color: $grey4;
      margin-top: 15px;
    }
  }

  article {
    width: 65%;
    margin-right: 5%;
  }

  aside {
    width: 30%;
  }
}





section.main-infos aside ul {
  margin:0px;
  padding:0px;
  width:100%;

  li {
    margin-bottom: 10px;
    padding: 0;


    figure {
      width: 50px;

      float: left;
      margin: 0;
      padding: 0;
      margin-right: 15px;

      img {
        margin: 0;
        padding: 0;
      }
    }
  }


  a {
    display: block;
    text-decoration: none;
    overflow: auto;

    &:hover {
      background: #fafafa;
    }
  }

  span{
    color: $he_red;
    font-size:14px;
    font-weight: 300;
    margin: 0;
  }
  p{
    font-size:12px;
    color: $grey4;
    font-weight: 300;
    margin-bottom: 0;
    margin: 0;
  }
}



section.client {
  background: #f4f4f4;
  padding: 60px 0;
  width: 100%;
  overflow: hidden;

  article {
    float: left;
  }

  article.video {
    width: 40%;

    h3 {
      text-transform: uppercase;
      color: $he_red;
      font-size: 19px;
      letter-spacing: 0.04em;
      word-spacing: 0.1em;
      font-weight: 500;
      margin-bottom: 25px;
    }
  }

  article.testimonial {
    padding: 60px;
    width: 60%;

    em {
      font-size: 16px;
      line-height: 32px;
      color: $grey3;
      margin-top: 30px;
      text-align: justify;
      font-style: italic;
      display: block;
      text-align: center;
    }

    b {
      margin-top: 20px;
      color: $grey3;
      display: block;
      text-align: center;
    }
  }
}











.browser-square{
	background: image-url('/images/cases/browser.png') no-repeat;
	width:510px;
	height:340px;
	float:right;
	margin-left: 30px;
	margin-bottom: 20px;
	img{
		display:block;
    width: 500px;
		margin: 35px auto 0 auto;
	}
}

.cases-text{
	width:65%;
	float:left;
	margin: 30px 0;
	h3{
		text-transform: uppercase;
		color: #b80606;
		font-size: 20px;
		font-weight: 400;
		margin:24px 0;
		padding-bottom: 10px;
		border-bottom: #dddddd 1px solid;
	}
}

.side-text {
  width: 30%;
  float: right;
  margin: 30px 0;
  h3{
  	text-transform: uppercase;
  	color: #b80606;
  	font-size: 20px;
  	font-weight: 400;
  	margin:24px 0;
  	padding-bottom: 10px;
  	border-bottom: #dddddd 1px solid;
  }


  p {
    font-size: $font-medium2;
    line-height: 27px;
  }
}

.id-thumbs{
	width:50px;
	height:50px;
	background-color:#cccccc;
	float:left;
	margin-right: 10px;
}



