@charset "utf-8";


/* ====================
Cliente Feliz
==================== */

#cliente-feliz,
#happy-costumer {
  background: #efefef url("/images/bg-time.png") top center no-repeat;
  text-align: center;
  padding: 60px 0 1px 0;
  @include clearfix;
}

.videothumbs {

  li {
    box-shadow: 0 4px 8px -3px #d8d8d8;
    width: 42%;
    background: #fff url("/images/play.jpg") no-repeat;
    background-size: 100%;
    margin: 0 3% 30px 3%;
    padding: 10px;
    display: inline-block;
    font-size: $font-medium;
    opacity: 1;
    p{
      margin-bottom: 15px;
      color: #333;
      font-size: 16px;
      line-height: 24px;
    }

    img {
      width: 100%;
      display: block;
      opacity: .7;

      &:hover { opacity: 1; }
    }
  }
  .quote {
    text-align: left;
    box-shadow: none;
    width: 40%;
    background: transparent;
    margin: 0 3% 30px 3%;
    padding: 10px;
    display: inline-block;
    font-size: $font-medium;
    opacity: 1;
    vertical-align: top;
    .project_case{
      margin: 30px 20px 0 0;
      text-decoration: none;
      font-size: 14px;
      display: inline-block;
      a{
        display: inline-block;
      }
      img{
        height: 23px;
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    h3{
      font-weight: 300;
      text-transform: uppercase;
      font-size: 30px;
      color: #B80606;
      margin:0 0 20px 0;
      padding:0;
    }
    span{
      font-weight: bold;
      margin: 20px 0 40px 0;
      font-size:  14px;
      line-height: 16px;
      a{
        display: block;
        text-decoration: none;
      }
    }
  }
  
  .more-videos {
    background-image: none;

    img {
      opacity: 1;

      &:hover { opacity: .7; }
    }
  }

  h3 {
    margin: 10px 0 0 0;
    font-size: $font-medium;
    color: $he_red;
  }

  p {
    font-size: $font-small;
    margin: 2px 0 0 0;
    color: #8c8c8c;
    display: block;
  }
}
