
@charset "utf-8";


/* ====================
Cliente Feliz
==================== */

#cliente-feliz {

  li {
    width: 100%;
    padding: 50px 0 50px 0;
    @include clearfix;
  }

  li:nth-child(odd) { background-color: $light-grey1; }
  li:nth-child(even) { background-color: #fff; }

  .client-thumb {
    @include round_borders (4px);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 7px #e2e2e2;
    width: 400px;
    background-color: $light-grey2;
    border: 1px solid $grey2;
    padding: 5px;
    
    background-image: url("/images/play.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;

    img {
      @include round_borders (2px);
      width: 99.6%;
      border: 1px solid $grey2;
      border-bottom: none;
      float: left;
      opacity: .7;
      
      &:hover { opacity: 1; }
    }
  }

}

.odd-client .client-thumb { float: left; }
.even-client .client-thumb { float: right; }

.odd-client .client-info { margin-left: 450px; }
.even-client .client-info { margin-right: 450px; }

.client-info {

  h3 {
    font-size: $font-big;
    font-weight: 900;
    color: #000;
    margin: 0 0 15px 0;
  }

  p {
    font: normal $font-medium2 $sans_serif;
    line-height: 27px;
    margin: 0 0 15px 0;
  }

  p {
    &:before,
    &:after {
      width: 25px;
      height: 20px;
      content: "";
      display: inline-block;
    }

    &:before {
      background: url('/images/cliente-feliz/aspa1-black.png') no-repeat scroll top left;
      opacity: .2;
      margin-right: 10px;
    }

    &:after {
      background: url('/images/cliente-feliz/aspa2-black.png') no-repeat scroll top left;
      opacity: .2;
      margin-left: 10px;
    }

  } // p

  span {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }

  > div {
    border-top: 1px solid $grey1;
    padding-top: 20px;
    margin-top: 20px;

    a {
      margin-right: 20px;

      img {
        width: 25px;
        margin-right: 10px;
      }
    }
  }

} // .client-info

.more-videos {
  text-align: center;
  padding: 30px 0 20px 0 !important;

  img {
    opacity: 1;

    &:hover { opacity: .7; }
  }
}
