@charset "utf-8";


/* ====================
Comunidade
==================== */

#apoios {
  background: #efefef url("/images/bg-time.png") top center no-repeat;
  text-align: center;
  padding: 5px 0 40px 0;
  @include clearfix;
}

.apoio-h3 {
  font-size: 40px;
  margin: 35px 0 25px 0;
  color: $he_red;
}

.logos-list {
  p {
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: $font-medium;
    color: $he_red;
  }

  a { text-decoration: none; }

  > li {
    box-shadow: 0 4px 8px -3px #d8d8d8;
    width: 24%;
    background: none repeat scroll 0 0 white;
    margin: 10px 3% 10px 3%;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: $font-medium;

    img {
      width: 100%;
      display: block;
    }
  }
}
