@charset "utf-8";


/* ====================
Contact
==================== */

#talk-to-us {
  width: 460px;
  text-align: center;
  padding-bottom: 60px;
  margin: auto;

  li { position: relative; }

  input[type="text"],
  input[type="email"] {
    @include round_borders (4px);
    width: 428px;
    height: 50px;
    background-color: $light-grey2;
    border: 1px solid #e3e3e3;
    line-height: 50px;
    margin: 0 0 15px 0;
    padding: 0 15px 0 15px;
    font-size: $font-medium2;
    font-weight: normal !important;
    outline: none;
  }

  textarea {
    @include round_borders (4px);
    width: 428px;
    max-width: 428px;
    min-width: 428px;
    height: 80px;
    max-height: 400px;
    min-height: 80px;
    background-color: $light-grey2;
    border: 1px solid #e3e3e3;
    margin: 0 0 15px 0;
    padding: 15px;
    font-size: $font-medium2;
    font-weight: normal !important;
    outline: none;
    display: inline-block;
  }

  button {
    @include round_borders (4px);
    width: 220px;
    height: 50px;
    line-height: 50px;
    font: normal $font-medium2 $sans_serif;
    padding: 0 15px 0 15px;
    background: $he_red;
    display: inline-block;
    border: none;
    margin: 10px 0 0 0;
    cursor: pointer;
    outline: none;
    color: #fff;

    &:hover { opacity: .8; }
  }
}

.contact-send {
  font-size: $font-medium2;
  line-height: 26px;
  margin: 40px 0 30px 0;
}

label.error {
  @include round_borders (4px);
  background: #ffe0de;
  padding: 8px 10px;
  position: absolute;
  right: -10px;
  top: 0;
  font-size: $font-small;
  margin: 10px 0 0 10px;
  font-weight: bold;
  color: $he_red;
  display: inline-block;
  cursor: default;
}
