@charset "utf-8";


/* ====================
Home
==================== */

#home {
  background-position: 0 80px;
  background-color: #660000;
  padding: 125px 0 30px 0;
  text-align: center;

  h2 {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 80px;
    font-size: 62px;
    color: #fff;
  }

  h3 {
    margin: 25px 0 5px 0;
    font-size: 24px;
  }
}

#home h3,
.logo-tip-trigger {
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}

.logo-tip-trigger {
  font-size: $font-large;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  position: relative;

  span {
    @include round_borders (4px);
    width: 160px;
    height: auto;
    line-height: 20px;
    left: 50%;
    margin-left: -87px;
    background: #fff;
    text-indent: 0px;
    position: absolute;
    pointer-events: none;
    text-align: center;
    top: -120px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }

  img {
    @include round_borders (4px);
    width: 160px;
    padding: 10px;
    background: #fff;
  }

  span:before,
  span:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
  }

  span:after {
    border-top: 10px solid #fff;
    display: none;
  }

  &:hover {

    span {
     opacity: 1;
     top: -80px;
   }
  }
}


/* Social Icons */

.icons {
  width: 100%;
  text-align: center;
  margin: 30px 0 0 0;

  li {
    text-align: center;
    display: inline-block;
    margin: 0 10px 0 10px;
  }

  a img {
    width: 50px;
    display: inline-block;
    text-align: center;
    opacity: .8;
  }

  a {
    position: relative;
    &:hover { opacity: .8; }
  }

  a span {
    @include round_borders (2px);
    width: 100px;
    height: auto;
    line-height: 20px;
    padding: 10px;
    left: 50%;
    margin-left: -61px;
    font-size: $font-medium;
    color: #fff;
    text-align: center;
    background: #222;
    text-indent: 0px;
    position: absolute;
    pointer-events: none;
    bottom: 100px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  span:before,
  span:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #222;
  }

  span:after {
    border-top: 10px solid #222;
    display: none;
  }

  a:hover span {
    opacity: 1;
    bottom: 70px;
  }
}


/* Services Home */



section#home_more{
  .services-home {
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
    @include clearfix;

      .videothumbs2 {
        overflow: hidden;
        box-shadow: 0 4px 8px -3px #d8d8d8;
        width: 100%;
        background: #fff url("/images/play.jpg") no-repeat;
        background-size: 100%;
        margin: 0 35px 20px 0;
        padding: 0;
        float: left;
        
        &:last-child { 
          margin-right: 0; 
        }
        img {
          width: 100%;
          display: block;
          opacity: .7;

          &:hover { opacity: 1; }
        }
      }

    li {
      width: 29%;
      background-color: #fff;
      display: inline-block;
      line-height: 20px;
      padding: 30px 2% 0 2%;
      min-height: 225px;
      vertical-align: top;
    }

    h4 {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 22px;
      color: $grey4;
      margin: 0 0 15px 0;
      padding-top: 0;
    }

    p {
      font-family: 'lato';
      font-size: $font-medium;
      line-height: 20px;
      font-weight: 400; 
      margin: 0 !important;
    }
  }
}

/* nossos clientes */

section#our-clients {
  margin: 20px 0 0 0;
  padding: 20px 0 60px 0;
  background-color: #f4f4f4;
  text-align: center;

  h2{
    font-size: 50px;
    text-transform: uppercase;
    color: $grey3;
    margin: 40px;
  }
  ul.box-clients{
    width: 100%;
    li{
      width: 20%;
      height: auto;
      display: inline-block;
      background-color: #fff;
      box-shadow: 0 0 1px #ccc;
      border-radius: 5px;
      margin: 5px;
      padding: 10px;
      vertical-align: top;
      hr{
        border: 1px solid #f4f4f4;
        border-bottom: 0;
        border-left: 0;
        border-right:0;
        width: 100%;
      }
      img, a{
        margin: 0 auto 0 auto;
        display:block;
      }
      img{
        width:auto;
        height: auto;
        margin-bottom: 10px;
      }
      a{
        text-decoration: none;
        font-weight: lighter;
      }
    }
  }
}

/* more about us */

ul.more-about-us {
  margin: 80px 0 80px 0;
  li{
    width: 30%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0 1% 0 1%;
    a{
      text-decoration: none;
      img{
        margin: 0 auto 20px auto;
      }
      h4 {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 22px;
        margin: 0 0 15px 0;
        padding-top: 0;
      }
      p{
        width: 80%;
        margin: 10px auto 10px auto;
        color: $grey3;
      }

    }

  }
}

/* Red Button */

.red-button,
.white-button {
  width: 437px;
  height: 60px;
  background: url("/images/red-button.png") center no-repeat;
  text-decoration: none;
  font: 22px 'lato';
  text-transform: uppercase;
  padding-top: 35px;
  padding-left: 70px;
  text-align: left;
  display: block;
  margin: 0 auto;
  z-index: 9999;
  color: #fff;

  &:hover { opacity: .8; }
}
