@charset "utf-8";


/* ====================
Home
==================== */



#home {
  background: url("/images/bg-home.jpg") center no-repeat;
  background-color: $grey4;
  padding: 160px 0 60px 0;
  text-align: center;

  h2 {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 100px;
    font-size: 82px;
    word-spacing: 0.06em;
    letter-spacing: 0.04em;
    color: #fff;
  }

  h3 {
    margin: 25px 0 5px 0;
    font-size: $font-big;
  }
}

#home h3,
.logo-tip-trigger {
  font-weight: 300;
  text-transform: uppercase;
  color: #6d7171;
}

.logo-tip-trigger {
  font-size: $font-large;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  position: relative;

  span {
    @include round_borders (4px);
    width: 160px;
    height: auto;
    line-height: 20px;
    left: 50%;
    margin-left: -87px;
    background: #fff;
    text-indent: 0px;
    position: absolute;
    pointer-events: none;
    text-align: center;
    top: -120px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }

  img {
    @include round_borders (4px);
    width: 160px;
    padding: 10px;
    background: #fff;
  }

  span:before,
  span:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
  }

  span:after {
    border-top: 10px solid #fff;
    display: none;
  }

  &:hover {

    span {
     opacity: 1;
     top: -80px;
   }
  }
}

/* Social Icons */

.icons {
  width: 100%;
  text-align: center;
  margin: 30px 0 0 0;

  li {
    text-align: center;
    display: inline-block;
    margin: 0 10px 0 10px;
  }

  a img {
    width: 70px;
    display: inline-block;
    text-align: center;
    opacity: .8;
  }

  a {
    position: relative;
    &:hover { opacity: .8; }
  }

  a span {
    @include round_borders (2px);
    width: 100px;
    height: auto;
    line-height: 20px;
    padding: 10px;
    left: 50%;
    margin-left: -61px;
    font-size: $font-medium;
    color: #fff;
    text-align: center;
    background: #222;
    text-indent: 0px;
    position: absolute;
    pointer-events: none;
    bottom: 100px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  span:before,
  span:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #222;
  }

  span:after {
    border-top: 10px solid #222;
    display: none;
  }

  a:hover span {
    opacity: 1;
    bottom: 70px;
  }
}



/* Services Home */

.services-home {
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
  @include clearfix;

  li {
    width: 26%;
    background-color: #fff;
    display: inline-block;
    line-height: 20px;
    padding: 30px 3% 0 3%;
    min-height: 225px;
  }

  h4 {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
    color: $he_red;
    margin: 0 0 5px 0;
    padding-top: 0;
  }

  p {
    font-family: 'lato';
    font-size: $font-medium2;
    line-height: 24px;
    margin: 0 !important;
  }
}



/* Red Button */

.red-button,
.white-button {
  width: 437px;
  height: 60px;
  background: url("/images/red-button.png") center no-repeat;
  text-decoration: none;
  font: 22px 'lato';
  text-transform: uppercase;
  padding-top: 35px;
  padding-left: 70px;
  text-align: left;
  display: block;
  margin: 0 auto;
  z-index: 9999;
  color: #fff;

  &:hover { opacity: .8; }
}


/* nossos clientes */

section.our-clients {
  padding: 40px 0;
  background-color: $light-grey1;
  border-top: 4px solid $light-grey2;
  border-bottom: 4px solid $light-grey2;

  h2 {
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: $grey3;
  }

  ul {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;

    li{
      width: 23%;
      height: 220px;
      float: left;
      background-color: #fff;
      border-radius: 3px;
      margin: 0 25px 30px 0;
      box-shadow: 0 4px 8px -3px #d8d8d8;

      img {
        width: 100%;
        margin: 10px auto;
        display: block;
      }

      h3 {
        width: 100%;
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 0.03em;
        border-top: 1px solid $light-grey2;
        padding-top: 20px;

        span {
          display: block;
          color: $grey3;
          margin-top: 5px;
          font-weight: normal;
          font-size: 0.9em;
        }
      }

      &:nth-child(4n+4) { margin-right: 0; }
    }
  }
}

/* more about us */

aside.other-topics {
  padding: 80px 0;

  section {
    width: 100%;
    overflow: hidden;
    margin-bottom: 80px;

    display: none;

    article {
      width: 31%;
      float: left;
      text-align: center;
      vertical-align: top;
      margin: 0 1% 0 1%;

      img{
        margin: 0 auto;
      }

      a {
        font-size: 20px;
        line-height: 22px;
        padding-top: 0;
        text-align: center;
        display: block;
        margin-top: 20px;
        text-decoration: none;
      }

      &:last-child {margin-right: 0;}
    }
  }
}


