@charset "utf-8";


/* ====================
Process (Mágica)
==================== */

@-moz-keyframes slidein {
  from {
    margin-left: -20px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 10;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: -20px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 10.0;
  }
}

#process {
  padding: 40px 0 1px 0;
  text-align: center;
}

#process-info {
  margin-top: 30px;
  width: 100%;
  position: relative;

  img { width: 55%; }

  > div {
    height: 40px;
    background: $he_red;
    position: absolute;
    text-align: left;
    color: #fff;
    z-index: 400;
    @include fade_effect;
  }

  span {
    width: 30px;
    height: 34px;
    font-size: 19px;
    text-align: center;
    background: #e03145;
    margin-right: 7px;
    padding: 6px 0 0 0;
    float: left;
  }

  p {
    font-size: $font-small;
    line-height: 15px;
  }
}

.proc-desc-01 {
  width: 155px;
  left: 120px;
  top: 115px;

  p { margin: 4px 0 0 0; }
}

.proc-desc-02 {
  width: 157px;
  left: 340px;
  top: 160px;

  p { margin: 4px 0 0 0; }
}

.proc-desc-03 {
  width: 172px;
  left: 270px;
  top: 35px;

  p { margin: 4px 0 0 0; }
}

.proc-desc-04 {
  width: 145px;
  left: 650px;
  top: 50px;

  p { margin: 12px 0 0 0; }
}

.proc-desc-05 {
  width: 100px;
  left: 650px;
  top: 230px;

  p { margin: 12px 0 0 0; }
}

.proc-desc-06 {
  width: 100px;
  left: 480px;
  bottom: 85px;

  p { margin: 4px 0 0 0; }
}

/*-*/

#tablet-descriptions { display: none; }


/* Process Entry */

#process-entry {
  display: block;
  margin: 40px 0 60px;
  @include clearfix;
}

.process-column {
  width: 100%;
  height: 100%;
  margin: 0 0 30px 0;

  text-align: left;

  h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px 0 0 0;
    color: #b20000;
    margin-bottom: 10px;
  }

  strong,
  strong a {
    font-weight: bold;
    display: inline-block;
    color: rgb(71, 60, 60);

    &:hover { opacity: .8; }
  }

  strong a {
    text-decoration: underline;
    cursor: pointer;
  }

  ul {
    li {
      background: $light-grey1;
      border: 1px solid $grey2;
      padding: 2%;
      margin-top: -1px;
    }
  }

  .hide-content {
    margin-top: 10px;

    a.show-more {
      cursor: pointer;
    }

    div {
      margin-top: 10px;

      iframe {
        max-width: 400px;
      }
    }
  }
}


.m-det {
  text-decoration: underline;
  font-weight: 300 !important;
  font-size: $font-small;
  margin-left: 7px;
  color: #8c8c8c;
  cursor: pointer;
}


/* Modal */

#modalBg {
	width: 100%;
  height: 100%;
  background: url("/images/modal-bg.png");
	position: fixed;
	left: 0; top: 0;
	float: left;
	z-index: 9000;
  display: none;
}

.modalClose {
	width: 30px; height: 30px;
  background: url("/images/x2.png");
	position: absolute;
	right: -12px; top: -12px;
	text-indent: -9999px;
	outline: none;
  cursor: pointer;
	float: left;

  &:hover { opacity: .8; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {
  .modalClose {
    background: url("/images/x2@2x.png") left no-repeat;
    background-size: 30px 30px;
  }

  .video { width: 90%; }
}

.modalBox {
  box-shadow: 0 0 75px #450000;
	width: 460px;
  background: #fff;
	position: fixed;
  border: 5px solid $grey1;
	top: 30px; left: 50%;
	z-index: 9999;
	margin-left: -255px;
	padding: 15px 20px 20px 20px;
  display: none;

  h4 {
    font-size: 24px;
    margin: 0;
    color: $he_red;
  }
}

.modalDay {
  font-weight: 300;
  margin: 0 0 20px 0;
  font-size: 14px;
  display: block;
  color: #8c8c8c;
}

.video,
.modalEntry iframe {
  width: 100%;
  min-height: 225px;
  display: block;
  margin: 20px 0 20px 0;
}

.modalEntry p {
  height: auto;
  border: 1px solid $grey1;
  margin: -1px 0 0 0;
  font-size: $font-small;
  line-height: 17px;
  padding: 7px 10px 7px 10px;

  strong {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 17px;
  }
}

.modalEntry p:nth-child(even) { background: #fafafa; }
.modalEntry p:nth-child(odd) { background: #fdfdfd; }
