@charset "utf-8";


/* ====================
Process (Mágica)
==================== */

@-moz-keyframes slidein {
  from {
    margin-left: -20px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 10;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: -20px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 10.0;
  }
}

#process {
  padding: 40px 0 1px 0;
  text-align: center;
}

#process-info {
  margin-top: 30px;
  width: 100%;
  position: relative;

  img { width: 55%; }

  > div {
    height: 40px;
    background: $he_red;
    position: absolute;
    text-align: left;
    color: #fff;
    z-index: 400;
    @include fade_effect;
  }

  span {
    width: 30px;
    height: 34px;
    font-size: 19px;
    text-align: center;
    background: #e03145;
    margin-right: 7px;
    padding: 6px 0 0 0;
    float: left;
  }

  p {
    font-size: $font-small;
    line-height: 15px;
  }
}

.proc-desc-01 {
  width: 155px;
  left: 120px;
  top: 115px;

  p { margin: 4px 0 0 0; }
}

.proc-desc-02 {
  width: 157px;
  left: 340px;
  top: 160px;

  p { margin: 4px 0 0 0; }
}

.proc-desc-03 {
  width: 172px;
  left: 270px;
  top: 35px;

  p { margin: 4px 0 0 0; }
}

.proc-desc-04 {
  width: 145px;
  left: 650px;
  top: 50px;

  p { margin: 12px 0 0 0; }
}

.proc-desc-05 {
  width: 100px;
  left: 650px;
  top: 230px;

  p { margin: 12px 0 0 0; }
}

.proc-desc-06 {
  width: 100px;
  left: 480px;
  bottom: 85px;

  p { margin: 4px 0 0 0; }
}

/*-*/

#tablet-descriptions { display: none; }


/* Process Entry */

#process-entry {
  display: block;
  margin: 40px 0 60px;
  @include clearfix;
}

.process-column {
  width: 100%;
  height: 100%;
  margin: 0 0 30px 0;
  text-align: left;

  h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: $font-large;
    margin: 15px 0 0 0;
    color: $he_red;
    margin-bottom: 15px;
  }

  strong,
  strong a {
    font-weight: bold;
    display: inline-block;
    color: rgb(71, 60, 60);

    &:hover { opacity: .8; }
  }

  strong a {
    text-decoration: underline;
    cursor: pointer;
  }

  ul {
    li {
      border: 1px solid $grey1;
      padding: 2%;
      margin-top: -1px;
    }
    li:nth-child(even) {background: $light-grey1}
    li:nth-child(odd) {background: $light-grey2}
  }

  .hide-content {
    margin-top: 10px;

    .show-more {
      padding: 5px;
      cursor: pointer;
      font-size: 1.3em;
      margin-left: -5px;
      color: $grey2;

      &:hover { color: $he_red; }
    }

    .show-content {
      margin-top: 10px;
      background: #fff;
      border: 1px solid $grey2;
      padding: 20px;
      padding-bottom: 0;

      iframe {
        width: 100%;
        max-width: 400px;
        min-height: 200px;
      }
      
    } // div.show-content

  } // .hide-content
} // .process-column
