@charset "utf-8";


/* ====================
Mailing
==================== */

#cover-mailing {
  background: #f3f3f3 url("/images/mailing-cover-bg.jpg") bottom center repeat-x;
  text-align: center;
  margin-top: 80px;
  padding: 50px 0 70px 0;

  h2 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    font-size: 52px;
    line-height: 55px;
    color: $he_red;
  }

  strong {
    font-weight: 700 !important;
    color: #8c8c8c;
  }

  .sup {
    font-weight: 300;
    text-transform: uppercase;
    margin: 5px 0 20px 0;
    font-size: $font-large;

    strong {
      font-weight: 300 !important;
      color: #8c8c8c;
    }
  }

  input[type="text"],
  input[type="email"] {
    box-shadow: 0 2px 4px #e3e3e3;
    @include round_borders (4px);
    width: 300px;
    height: 44px;
    line-height: 44px;
    font: normal 17px $sans_serif;
    padding: 0 15px 0 15px;
    background: #fff;
    display: inline-block;
    margin: 0 0 25px 0;
    outline: none;
  }

  input[type="submit"] {
    box-shadow: 0 2px 4px #e3e3e3;
    @include round_borders (4px);
    width: 100px;
    height: 44px;
    line-height: 44px;
    font: normal 17px $sans_serif;
    padding: 0 15px 0 15px;
    background: $he_red;
    display: inline-block;
    margin: 0 0 0 5px;
    cursor: pointer;
    color: #fff;

    &:hover { opacity: .8; }
  }

  li {
    font-size: $font-medium;
    margin: 0 7px 0 7px;
    display: inline;
  }

  a { color: #8c8c8c; }
}


/* Mailing List */

#mailing {
  padding: 40px 0 30px 0;

  h3 {
    font-size: 20px;
    margin: 20px 0 40px;
  }

  .display_archive {
    .campaign {
      font-size: $font-medium;
      margin-bottom: 30px;

      a {
        font-size: $font-medium2;
        text-decoration: none;

        &:hover { opacity: .8; }
      }

    } // .campaign
  } //.display_archive

}
