@charset "utf-8";


/* ====================
Media Kit
==================== */

.services-text2 {
  width: 80%;
  position: relative;
  line-height: 28px;
  font-size: $font-medium2;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
  background-color: #fff;
  padding: 0 40px 0 40px;
  margin-bottom: 0;
}

.midiakit-text p {
  font-size: 20px;
  font-weight: bold;
}


/* BOX DOWNLOAD AND CONTENTS */

.box_download {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: 3px dashed #ffcccc;
  text-align: center;
  display: block;

  h3 {
    font-weight: 500;
    font-size: $font-big;
    margin-top: 35px;
    margin-bottom: 35px;
    color: #990000;
  }

  p {
    position: relative;
    padding: 20px;
  }
}

.bt_download {
  margin-top: 0px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  
  a {
    width: 300px;
    height: 60px;
    background-image: url("/images/bt_download.png");
    text-decoration: none;
    text-align: left;
    font-size: $font-medium;
    font-weight: lighter;
    color: #fff;
    display: block;

    &:hover {  opacity: .8; }
  }
}

.bt_download_text {
  text-transform: uppercase;
  display: block;
  padding-left: 70px;
  padding-top: 15px;
  letter-spacing: 1px;
}


/* Box Colors and Contents */

.box_colors {
  display: block;
  width: 100%;
  height: 180px;
  margin-right: auto;
  margin-left: auto;

  h3 {
    font-weight: 500;
    font-size: $font-big;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #990000;
  }

  p {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}

.box_colors_show {
  width: 702px;
  height: 80px;
  background-color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 0;

  p {
    padding: 0;
    margin: 0 0 0 5px;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1px;
  }
}

.bt_colors {
  width: 100px;
  height: 50px;
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
}

.color_number {
  display: block;
  width: 100px;
  height: 30px;
  font-size: $font-medium2;
  font-weight: lighter;
  color: transparent;
  margin-top: 20px;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}


/* Box Fonts and Contents */

.box_fonts {
  display: block;
  width: 100%;
  height: 450px;
  margin-right: auto;
  margin-left: auto;

  h3 {
    font-weight: 500;
    font-size: $font-big;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #990000;
  }

  p {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}

#font_show {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  img {
    border-bottom: dashed 1px #ccc;
    margin-bottom: 10px;
  }  
}

.font_show_img { display:none; }
.responsive_option { display: none; }
