@charset "utf-8";


/* ====================
Services - MVP
==================== */

#cover-mvp {
  background: #222 url('/images/mvp-page/pattern.jpg');
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 80px;
  padding: 60px 0 55px 0;
  border-bottom: 10px solid $grey2;
  color: #fff;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 62px;
    line-height: 65px;
    color: #fff;
  }

  .description {
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: $font-large;
  }
  
  a {
    border: 1px solid #ff1717;
    @include round_borders (4px);
    height: 60px;
    line-height: 60px;
    background: $he_red;
    padding: 0 20px;
    margin-top: 51px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: $font-medium2;
    color: #fff;

    &:hover { background: #c10808; }
  }
  
}


/* Cover Entry */

#cover-entry {
  margin: 1px 0 0 0;
  background: $light-grey1;
  border-bottom: 5px solid $light-grey2;
  padding: 50px 0 40px 0;
  text-align: left;
  @include clearfix;

  .column-01,
  .column-02 { width: 46%; }

  .column-01 {
    float: left;

    h3 {
      font-size: $font-large;
      margin: 0 0 15px 0;
    }

    p {
      font-size: $font-medium2;
      line-height: 26px;
    }
    
    a {
      box-shadow: 0 0 12px #111;
      @include round_borders (4px);
      border: 1px solid #ff1717;
      height: 50px;
      line-height: 50px;
      background: $he_red;
      padding: 0 15px 0 15px;
      text-decoration: none;
      display: inline-block;
      font-size: $font-medium2;
      color: #fff;

      &:hover { background: #c10808; }
    }
  }

  .column-02 {
    float: right;
  
    iframe {
      width: 98%;
      padding: 1%;
      background: $grey2;
    }
  }
  
}


/* Como Funciona */

#mvp-steps {
  margin-left: 92px;
  margin-top: 38px;
  overflow: hidden;
  text-align: center;
}

#mvp-steps li {
  width: 150px;
  text-transform: uppercase;
  line-height: 21px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  position: relative;
  float: left;

  img {
    width: 80%;
    margin-bottom: -15px;
  }

  p {
    min-height: 40px;
    font-size: $font-medium;
    color: #fff;
    margin: 0;
  }
}

.plus-icon,
.equal-icon {
  width: 20px !important;
  color: $he_red;
  font-size: $font-big;
  font-weight: bold;
  margin-top: 55px;
}

.plus-01 {
  margin-left: -20px;
  margin-right: 10px;
}

.plus-02 {
  margin-left: 10px;
  margin-right: -15px;
}

.plus-03 {
  margin-left: -15px;
  margin-right: -5px;
}

.equal-icon {
  margin-right: -15px;
  margin-left: -5px;
}


/* Projects */

#mvp {

  h3 {
    margin: 55px 0 40px 0;
    font-size: $font-big;
    text-align: center;

    strong {
      font-weight: 300;
      font-size: $font-large;
      color: $grey3;
    }
  }
}

.mvp-projects {
  text-align: center;
  
  li {
    width: 22%;
    margin: 0 1% 50px 1%;
    display: inline-block;
  }

  img {
    width: 97%;
    border: 1px solid $light-grey2;
    padding: 1%
  }

  h4 {
    text-transform: none;
    margin: 15px 0 0 0;
    font-size: $font-medium2;
    color: #000;
  }

  a {
    text-decoration: none;
    h4 { color: $he_red; }

    &:hover img { opacity: .7; }
  }

}


/* Contact */

#contact {
  margin: 60px 0 0 0;
  background: $light-grey1;
  border-top: 10px solid $light-grey2;
  padding: 40px 0 0 0;
  
  h3 {
    margin: 0 0 20px 0;
    font-size: 36px;
    text-align: center;
  }
}
