@charset "utf-8";


/* ====================
Services
==================== */

.services {
  background: #fafafa;
  padding-bottom: 40px;
  @include clearfix;

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    margin: 50px 0 20px 0;
    color: $he_red;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-left: 0;
    color: $he_red;
  }

  .videothumbs {
    width: 30%;
    margin-top: 50px;
    float: right;

    li {
      width: 92%;
      padding: 4%;
      margin: 0 0 25px 0;
    }
  }
}

.last-serv { border-bottom: none; }

.services:nth-child(even) {background: $light-grey1; }
.services:nth-child(odd) {background: $light-grey2; }

.services-text {
  width: 60%;
  position: relative;
  line-height: 28px;
  font-size: $font-medium2;
  float: left;
}
