@charset "utf-8";


/* ====================
Sobre Nós
==================== */

#conheca {
  background: #efefef url("/images/bg-time.png") top center no-repeat;
  text-align: center;
  padding: 60px 0 1px 0;
  @include clearfix;
}

.videothumbs2 {
  margin-bottom: 30px;

  li {
    box-shadow: 0 4px 8px -3px #d8d8d8;
    width: 40%;
    background: none repeat scroll 0 0 white;
    margin: 0 3% 30px 3%;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    opacity: 1;

    &:hover {
      background: url("/images/play.jpg") no-repeat white;
      background-size: 100%;
    }
  }

  img {
    width: 100%;
    display: block;

    &:hover { opacity: .5; }
  }

  h3 {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: $he_red;
  }

  p {
    font-size: $font-small;
    color: #8c8c8c;
    margin: 2px 0 0 0;
    display: block;
  }
}
