@charset "utf-8";


/* ====================
Team
==================== */

#time {
  background: #efefef url("/images/bg-time.png") top center no-repeat;
  padding: 60px 0 10px 0;

  ul {
    width: 100%;
    clear: both;
    text-align: center;
    @include clearfix;

    > li {
      width: 160px;
      margin: 0 1% 20px 1%;
      position: relative;
      display: inline-block;
      color: $grey4;

      img,
      a img {
        width: 160px;
        height: 160px;
        background: #fff;
      }

    } // li
  } // ul

  h3 {
    font-size: 14px;
    margin: 7px 0 0 0;
  }

  a {
    text-decoration: none;
    &:hover { opacity: .8; }
  }

  p {
    margin-top: 2px;
    font-size: $font-small;
    color: #8c8c8c;
  }
}

/*-*/

.social-icons {
  width: 26px !important;
  position: absolute;
  right:0; top:0;
  margin-top: 0 !important;
  z-index: 200;
  float: right;

  li {
    width: 26px !important;
    height: 26px;
    margin: 1px 0 0 0 !important;
    float: right;
  }

  li:first-child { margin: 0 !important; }

  a {
    width: 26px !important; height: 26px;
    text-indent: -9999px;
    float: right;
    opacity: .7;

    &:hover { opacity: 1; }
  }
}

.twitter,
.dribbble,
.soundcloud,
.github,
.behance { background: #000 url("/images/icons/sprite-social-icons.png") left no-repeat; }

.twitter { background-position: 0 0; }
.dribbble { background-position: -26px 0; }
.soundcloud { background-position: -52px 0; }
.github { background-position: -78px 0; }
.behance { background-position: -104px 0; }
