@charset "utf-8";


/* ====================
Trabalho / Work
==================== */

#work {

  li {
    width: 100%;
    padding: 50px 0 50px 0;
    @include clearfix;
  }

  li:nth-child(odd) { background: $light-grey1; }
  li:nth-child(even) { background: #fff; }

  .work-thumb {
    @include round_borders (4px);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 7px #e2e2e2;
    width: 400px;
    background: $light-grey2;
    border: 1px solid $grey2;
    padding: 6px 5px 0 5px;

    img {
      @include round_borders (2px);
      width: 99.6%;
      border: 1px solid $grey2;
      border-bottom: none;
      float: left;
    }
  }

  .work-thumb-mobile {
    width: 400px;
    background: $light-grey2;

    img {
      box-shadow: 0 0 7px #e2e2e2;
      @include round_borders (4px);
      width: 99.6%;
      border: 1px solid $grey2;
      float: left;
    }
  }

}

.browser-nav {
  border: 1px solid $grey2;
  background: #fff;
  @include round_borders (2px);
  margin-bottom: 5px;
  height: 25px;
}

.odd-work .work-thumb,
.odd-work .work-thumb-mobile { float: left; }

.even-work .work-thumb,
.even-work .work-thumb-mobile { float: right; }

.odd-work .work-info { margin-left: 450px; }
.even-work .work-info { margin-right: 450px; }

.work-info {
  a {
    @include round_borders (4px);
    background: $he_red;
    padding: 12px 30px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 10px 10px 0 0;
    display: none;

    &:hover { opacity: .8; }
  }

  h3 {
    font-size: $font-big;
    font-weight: 900;
    color: #000;
    margin: 0 0 15px 0;
  }

  p {
    font: normal $font-medium2 $sans_serif;
    line-height: 27px;
    margin: 0 0 15px 0;
  }
}

a.more {
  @include red_gradient;
  color: #fff;
  display: inline-block;
}



/* ====================
Trabalho / Work Second Level
==================== */

#work-more {
  padding: 60px 0 20px;
  border-top: 1px solid $grey1;
  overflow: hidden;

  ul {
    width: 100%;
    margin: auto;
    overflow: auto;

    li {
      float: left;
      width: 30%;
      margin: 0 40px 40px 0;

      .work-thumb {
        @include round_borders (4px);
        border-top-right-radius: 5px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: 0 0 7px #e2e2e2;
        width: 100%;
        background: $light-grey2;
        border: 1px solid $grey2;
        padding: 6px 5px 0 5px;

        .browser-nav {
          border: 1px solid $grey2;
          background: #fff;
          @include round_borders (2px);
          margin-bottom: 5px;
          height: 15px;
        }

        img {
          @include round_borders (2px);
          border-bottom: none;
          padding: 0 1%;
          width: 98%;
          height: 160px;
          overflow: hidden;
          display: block;
        }
      }

      h4 {
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  ul li:nth-child(3n+3) {
    margin-right: 0;
  }
}



/* ====================
Trabalho / Work MVP
==================== */

#work-mvp {
  padding: 60px 0 40px;
  border-top: 1px solid $grey1;

  h3 {
    color: #000000;
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    text-align: center;
  }

  ul {
    margin: 60px 0  0 15%;
  }

  li {
    display: inline-block;
    margin: 0 1% 25px;
    width: 30%;

    a {
      text-decoration: none;
      font-size: $font-medium;
      color: $grey3;

      &:hover {
        color: $he_red;
      }
    }
  }

  .more { display: none; }
}
