---
layout: default
title:  Cases - Web Software Development
description: HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.
en: /en/about-us
---
<div id= "cases-menu">
  <div class="containner">
    <div class="cases-prev">
      <img src="/images/cases/arrow_before.png">
      <a href="prev">PREV</a>
    </div>
    <div class="cases-next">
      <img src="/images/cases/arrow_after.png">
      <a href="prev">NEXT</a>
    </div>
  </div>
</div>
<div id="cases-banner">
  <div class="containner">
    <div class="browser-square">
      <img src="{{ page.project_image }}">
    </div>
    <h2>{{ page.project }}</h2>
    <span>{{ page.project_kind }}</span>
    <p>{{ page.short_description }}</p>
    <div class="link">
      <img src="/images/cases/link_ico.png">
      <a href="{{ page.project_url }}">link</a>
    </div>
</div>
</div>
<div class="containner">
  <div class="cases-text">
    <h3>Sobre o projeto</h3>
    <p>{{ page.project_about }}</p>
    <h3>Status</h3>
    <p>{{ page.project_status }}</p>
    <h3>O que foi feito até agora</h3>
    <p>{{ page.project_what_has_been_done }}</p>
    <h3>O que o cliente achou</h3>
    <p>{{ page.project_customer_experience }}</p>
  </div>
  <div class="side-text">
    <h3>Time atual</h3>
    <div class="team_table">
      <table >
        {% for person in site.categories.time %}
          {% for team_member in page.current_team %}
            {% for sa in person.social_accounts %}
              {% if sa.provider == 'github' and sa.username == team_member.github  %}
                <tr>
                    <td>
                        <div class="id-thumbs">
                          <img src="{{ person.image }}" alt="{{ person.full_name }}" width="50" height="50" />
                        </div>
                        <span>{{ person.full_name }}</span>
                        <p>{{ person.job_title }}</p>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </table>
    </div>
    <h3>Antigos Membros</h3>
    <div class="team_table">
      <table >
        {% for person in site.categories.time %}
          {% for team_member in page.old_team %}
            {% for sa in person.social_accounts %}
              {% if sa.provider == 'github' and sa.username == team_member.github  %}
                <tr>
                    <td>
                        <div class="id-thumbs">
                          <img src="{{ person.image }}" alt="{{ person.full_name }}" width="50" height="50" />
                        </div>
                        <span>{{ person.full_name }}</span>
                        <p>{{ person.job_title }}</p>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div> <!-- /about-text -->
</div>

