---
layout: default
title:  Cases - Web Software Development
description: HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.
---

<!--
<div id="cases-banner">
  <div class="containner">
    <div class="browser-square">
      <img src="{{ page.image }}">
    </div>
    <h2>{{ page.name }}</h2>
    <span>{{ page.project_kind }}</span>
    <p>{{ page.short_description }}</p>
    <div class="link">
      <img src="/images/cases/link_ico.png">
      <a href="{{ page.project_url }}" target="_blank">Ver site.</a>
    </div>
</div>

 -->

<section class="hero">
  <div class="containner">
    <article>
      <h2>{{ page.name }}</h2>
      <span>{{ page.project_kind }}</span>
      <a href="{{ page.project_url }}" target="_blank" class="btn">earlyshares.com</a>
    </article>
    <article>
<!--       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, odit,ores delectus. Sed, maiores, non quibusdam cupiditate hic quis modi odio sint reiciendis perspiciatis beatae atque nulla!</p> -->
    </article>
  </div>
</section>

<section class="main-infos">
  <div class="containner">
    <article>
      <h3>Sobre o Projeto</h3>
      <p>{{ page.about }}</p>
      <p>{{ page.status }}</p>
      <p>{{ page.what_has_been_done }}</p>
    </article>
    <aside>
      {% if page.project_team %}
        <h3>Time</h3>
        <ul>
          {% for person in site.categories.time %}
            {% for team_member in page.project_team %}
              {% for sa in person.social_accounts %}
                {% if sa.provider == 'github' and sa.username == team_member.github  %}
                  <li>
                      <a href="{{ person.permalink }}">
                        <figure>
                          <img src="{{ person.image }}" alt="{{ person.full_name }}" width="50" height="50" />
                        </figure>
                        <span>{{ person.full_name }}</span>
                        <p>{{ person.job_title }}</p>
                      </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
    </aside>
  </div>
</section>
<section class="client">
  <div class="containner">
    <article class="video">
      {% if page.video_id %}
        <h3>O que o cliente achou</h3>
        <iframe width='100%' height='420' src='http://www.youtube.com/embed/{{ page.video_id }}' frameborder='0' allowfullscreen></iframe>
      {% endif %}
    </article>
    <article class="testimonial">
      {% if page.customer_experience %}
        <em>{{ page.customer_experience }}</em>
        <b>{{ page.customer_name }}</b>
      {% endif %}
    </article>
  </div>
</section>






