!!! 5
%html{:lang => "pt"}
  %head
    %title {{ page.html_title }}
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => "" }
    %meta{:name => "description", :content => "" }
    %meta{:name => "author", :content => "BielSystems - http://bielsystems.com.br" }
    %meta{:name => "copyright", :content => "©#{Date.today.year} BielSystems" }
    %meta{:name => "robots", :content => "index,follow" }
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %link{:rel => "stylesheet", :href => "/stylesheets/reset.css", :type => "text/css", :media => "all" }
    %link{:rel => "stylesheet", :href => "/stylesheets/global.css", :type => "text/css", :media => "all" }
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    {% include google_analytics.ext %}
  %body
    #wrap
      %header
        #logo<
          %a{:href => '/'}
            BielSystems - Desenvolvimento de Aplicativos Web

        %h1
          {{ page.title }}

      %section
        == {{ content }}
      %footer
        #footer-content
          %nav.column-quarter
            %h1 Links Úteis

            %ul#links
              %li
                %a{ :href => "http://suporte.bielsystems.com.br/anonymous_requests/new" }
                  Fale Conosco
              %li
                %a{ :href => "/seguranca" }
                  Segurança
              %li
                %a{ :href => "/privacidade" }
                  Política de Privacidade
              %li
                %a{ :href => "/cartao-credito" }
                  Débito no Cartão de Crédito
              %li
                %a{ :href => "http://startupdev.com.br", :target => "_blank" }
                  Contratar Desenvolvimento

          %nav.column-quarter
            %h1 Produtos

            %ul#links
              %li
                %a{ :href => "http://cobregratis.com.br", :target => "_blank" }
                  Cobre Grátis
              %li
                %a{ :href => "http://emailfax.com.br", :target => "_blank" }
                  EmailFax
              %li
                %a{ :href => "http://faxguru.com.br", :target => "_blank" }
                  FaxGuru

          %nav.column-quarter
            %h1 Empresa

            %ul#links
              %li
                %a{ :href => "/missao" }
                  Missão
              %li
                %a{ :href => "/visao" }
                  Visão
              %li
                %a{ :href => "/valores" }
                  Valores
              %li
                %a{ :href => "/o-que-fazemos" }
                  Filosofia

          %nav.column-quarter
            %h1
            %p
              BielSystems Tecnologia Ltda.
              %br
              Av. Presidente Vargas, 633, sala 1716
              %br
              Centro - Rio de Janeiro - RJ - Brasil
              %br
              CEP: 20071-004
              %br
              Tel.: (21) 2232-7056

          %div{:style => "clear: both;"}

          #copyright
            Copyright©2004-2012 BielSystems Tecnologia Ltda.
