!!! 5
%html{:lang => "pt"}
  %head
    %title {{ page.html_title }}
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => "" }
    %meta{:name => "description", :content => "" }
    %meta{:name => "author", :content => "BielSystems - http://bielsystems.com.br" }
    %meta{:name => "copyright", :content => "©#{Date.today.year} BielSystems" }
    %meta{:name => "robots", :content => "index,follow" }
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %link{:rel => "stylesheet", :href => "/stylesheets/reset.css", :type => "text/css", :media => "all" }
    %link{:rel => "stylesheet", :href => "/stylesheets/global.css", :type => "text/css", :media => "all" }
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    :plain
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-257015-8']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
  %body
    #wrap
      %header
        #logo<
          %a{:href => '/'}
            BielSystems - Desenvolvimento de Aplicativos Web

        %h1
          {{ page.title }}

      %section
        == {{ content }}
      %footer
