<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>HE:labs - Desenvolvimento de Software para Internet.</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  <script src="/javascripts/jquery.scrollTo.js"></script>
  <script src="/javascripts/jquery.localScroll.js"></script>
  <script src="/javascripts/scripts.js"></script>
</head>
<body>
  <header>
    <div class="containner">
    	<h1><a class="back-to-home" href="#home"><span>HE:labs</span></a></h1>
    	<nav id="menu">
        <ul>
        	<li><a href="#fazemos">O que Fazemos</a></li>
        	<!--<li><a href="">Como Contratar</a></li>-->
        	<li><a href="#time">Nosso Time</a></li>
        	<li><a href="#faleconosco">Fale Conosco</a></li>
        </ul>    
    	</nav>
    </div>
  </header>
  {{ content }}
</body>
</html>
