<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>

    <header class="default">
        <div class="containner">
          <h1><a href="/en/" class="back-to-home"><span>HE:labs</span></a></h1>
          <nav id="menu2">
              <ul>
                <li><a href="/en/process">Process</a></li>
                <li><a href="/en/#happy-costumer">HE:<span class="doispontos">❤</span></a></li>
                <li><a href="/en/our-team">Team</a></li>
                <li><a href="/en/#talk-to-us">Talk to us</a></li>
                <li class='has-sub hemaisdestaque'>
                  <a href="#">HE<span class="doispontos">:</span>more</a>
                  <ul>
                    <li><a href='//startupdev.com.br/en'><span>Startup DEV</span></a></li>
                    <li><a href='/en/cloud'><span>HE:Cloud</span></a></li>
                    <li><a href="/en/opensource">Open Source</a></li>
                    <li><a href="/en/we-support">We support</a></li>
                 </ul>
                </li>

                <li class='hemaisdestaque'><a href="/">PT</a></li>
              </ul>

          </nav>
        </div>


              <!--MENU RESPONSIVO-->

              <nav id="hiddenmenu" class="group">
                <h2 class="navheader slide-trigger">Menu <span>&nbsp;</span></h2>
                <ul class="navigation group">
                  <li><a href="/en/process">Process</a></li>
                  <li><a href="/en/#happy-costumer">HE:<span class="doispontos">❤</span></a></li>
                  <li><a href="/en/our-team">Team</a></li>
                  <li><a href="/en/#talk-to-us">Talk to us</a></li>
                  <li class='hemaismobile'>
                   <!-- <a href="#">HE<span class="doispontos">:</span>mais</a> -->

                    <h2 class="navheader slide-trigger hemaismobile" style="padding-top: 0.5em;">HE:mais<span></span></h2>
                      <ul class="navigation group">
                        <li><a href='//startupdev.com.br/en'><span>Startup DEV</span></a></li>
                        <li><a href='/en/cloud'><span>HE:Cloud</span></a></li>
                        <li><a href="/en/opensource">Open Source</a></li>
                        <li><a href="/en/we-support">We support</a></li>
                     </ul>
                   </li>
                  </ul>

              </nav>
              <!--FIM-->


      </header>
  {{ content }}
  {% include en_footer.html %}
</body>
</html>
