<!DOCTYPE html>
<html lang='pt'>
{% include head.html %}
<body>
  <header class="default">
    <div class="containner">

      <h1>
        <a href="/en/" title="Back to Home">
          <img class="logo" src="/images/logo.png" alt="HE:labs">
        </a>
      </h1>

      <a class="languages" href="/">
        Este site em português
      </a>

      <nav id="menu2">
        <ul class="global-menu">
          <li><a href="/en/happy-customers">HE:<span class="doispontos">❤</span></a></li>
          <li><a href="/en/our-team">Team</a></li>
          <li><a href="/en/work">Work</a></li>
          <li><a href="/en/contact">Hire us</a></li>
        </ul>
      </nav>

      <a id="menu-trigger">
        Menu
      </a>

    </div>
  </header>
  {{ content }}
  {% include en_footer.html %}
</body>
</html>
