<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>
    <div id='wrap'>
      <header>
        <div id='logo'><a class='noborder' href='/'>
          BielSystems - Web Application Development
        </a></div>
        <h1>
          {{ page.title }}
        </h1>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <div id='footer-content'>
          <nav class='column-quarter'>
            <h1>Useful Links</h1>
            <ul id='links'>
              <li>
                <a href='http://suporte.bielsystems.com.br/anonymous_requests/new'>Contact Us</a>
              </li>
              <li>
                <a href='/en/security'>Security</a>
              </li>
              <li>
                <a href='/en/privacy'>Privacy Policy</a>
              </li>
              <li>
                <a href='/en/credit-card'>Credit Card Charge</a>
              </li>
              <li>
                <a href='http://startupdev.com.br' target='_blank'>Software Development</a>
              </li>
            </ul>
          </nav>
          <nav class='column-quarter'>
            <h1>Products</h1>
            <ul id='links'>
              <li>(in portuguese)</li>
              <li>
                <a href='http://cobregratis.com.br' target='_blank'>Cobre Grátis</a>
              </li>
              <li>
                <a href='https://www.webfax.com.br' target='_blank'>Webfax</a>
              </li>
              <li>
                <a href='http://faxguru.com.br' target='_blank'>FaxGuru</a>
              </li>
            </ul>
          </nav>
          <nav class='column-quarter'>
            <h1>Company</h1>
            <ul id='links'>
              <li>
                <a href='/en/mission'>Mission</a>
              </li>
              <li>
                <a href='/en/vision'>Vision</a>
              </li>
              <li>
                <a href='/en/values'>Values</a>
              </li>
              <li>
                <a href='/en/philosophy'>Philosophy</a>
              </li>
              <li>
                <a href='/en/partners'>Partners</a>
              </li>
            </ul>
          </nav>
          <nav class='column-quarter'>
            <h1></h1>
            <p>
              BielSystems Tecnologia Ltda.
              <br />
              Av. Presidente Vargas, 633, sala 1716
              <br />
              Centro - Rio de Janeiro - RJ - Brasil
              <br />
              CEP: 20071-004
              <br />
              Tel.: +55 21 22327056
            </p>
            <p>
              <a href='/'>Versão em Português</a>
            </p>
          </nav>
          <div style='clear: both;'></div>
          <div id='copyright'>
            Copyright©2004-2012 BielSystems Tecnologia Ltda.
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
