!!! 5
%html{:lang => "pt"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => "" }
    %meta{:name => "description", :content => "" }
    %meta{:name => "author", :content => "BielSystems - http://bielsystems.com.br" }
    %meta{:name => "copyright", :content => "©#{Date.today.year} BielSystems" }
    %meta{:name => "robots", :content => "index,follow" }
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %link{:rel => "stylesheet", :href => "/stylesheets/error.css", :type => "text/css", :media => "screen" }
    %title {{ page.title }}
  %body
    == {{ content }}
