<!DOCTYPE html>
<html lang='pt'>
  <head>
    <title>{{ page.title }}</title>
    <meta charset='utf-8' />
    <meta content='' name='keywords' />
    <meta content='' name='description' />
    <meta content='Helabs - http://helabs.com.br' name='author' />
    <meta content='©2012 Helabs' name='copyright' />
    <meta content='index,follow' name='robots' />
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon' />
    <link href='/stylesheets/error.css' media='screen' rel='stylesheet' type='text/css' />
    <!--[if lt IE 9]>
      <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
    {% include google_analytics.ext %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
