!!! 5
%html{:lang => "pt"}
  %head
    %title {{ page.title }}
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => "" }
    %meta{:name => "description", :content => "" }
    %meta{:name => "author", :content => "BielSystems - http://bielsystems.com.br" }
    %meta{:name => "copyright", :content => "©#{Date.today.year} BielSystems" }
    %meta{:name => "robots", :content => "index,follow" }
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %link{:rel => "stylesheet", :href => "/stylesheets/error.css", :type => "text/css", :media => "screen" }
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    :plain
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-257015-8']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
  %body
    == {{ content }}
