<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>
  <header class="default">
    <div class="containner">
    	<h1><a class="back-to-home" href="/"><span>HE:labs</span></a></h1>
    	<nav id="menu">
        <ul>
        	<li><a href="#process">Processos</a></li>
        	<li><a href="#cliente">Clientes</a></li>
          <li><a href="#time">Time</a></li>
        	<li><a href="#faleconosco">Fale Conosco</a></li>
          <li class='has-sub'><a href="#">HE:mais</a>
            <ul>
              <li><a href='http://startupdev.com.br/'><span>Startup DEV</span></a></li>
              <li><a href='/mailing'><span>Mailing</span></a></li>
              <li><a href='/workshops/startupdev'><span>Workshops</span></a></li>
              <li><a href='http://imprensa.helabs.com.br/'><span>Imprensa</span></a></li>
           </ul>
          </li>
          <li><span><a href="/workshops/rails-for-zombies-two">Rails for Zombies 2</a></span></li>
          <!---<li><a target="blank" href="http://imprensa.helabs.com.br/">Imprensa</a></li> -->
        </ul>
    	</nav>
    </div>
  </header>
  {{ content }}
  {% include footer.html %}
</body>
</html>
