<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>
        
    <header class="default">
        <div class="containner">
        	<h1><a href="/" class="back-to-home"><span>HE:labs</span></a></h1>
        	<nav id="menu2">
              <ul>              	
                <li><a href="/processos">Processos</a></li>
                <li><a href="#clientefeliz">HE:<span class="doispontos">❤</span></a></li>
                <li><a href="/nossotime">Time</a></li>
                <li><a href='//helabs.com.br/blog/'><span>Blog do Time</span></a></li>
              	<li><a href="#faleconosco">Fale Conosco</a></li>
                <li class='has-sub hemaisdestaque'>
                <a href="#">HE<span class="doispontos">:</span>mais</a>
                  <ul>
                    <li><a href='//startupdev.com.br/'><span>Startup DEV</span></a></li>   
                    <li><a href='/eventos/cafe-com-dev'><span>Café com Dev</span></a></li>  
                    <li><a href='//imprensa.helabs.com.br/'><span>Imprensa</span></a></li>
                    <li><a href="/apoios">Apoios</a></li>
                    <li><a href="/mailing">Mailing</a></li>
                    <li><a href="/workshops">Workshops</a></li>
                    <li><a href="/opensource">Open Source</a></li>
                 </ul>
                
          
              </ul>
          	
        	</nav>
        </div>
    
              
              <!--MENU RESPONSIVO-->
          
              <nav id="hiddenmenu" class="group">
                <h2 class="navheader slide-trigger">Menu <span><img src="/images/menumobile.png"></span></h2>
                <ul class="navigation group">        
                  <li><a href="/processos">Processos</a></li>
                  <li><a href="#clientefeliz">HE:<span class="doispontos">❤</span></a></li>
                  <li><a href="/nossotime">Time</a></li>
                  <li><a href='//helabs.com.br/blog/'><span>Blog do Time</span></a></li>
                	<li><a href="#faleconosco">Fale Conosco</a></li>
                  <li class='hemaismobile'>
                   <!-- <a href="#">HE<span class="doispontos">:</span>mais</a> -->
                   
                    <h2 class="navheader slide-trigger hemaismobile" style="padding-top: 0.5em;">HE:mais<span></span></h2>
                      <ul class="navigation group">
                        <li><a href='//startupdev.com.br/'><span>Startup DEV</span></a></li>   
                        <li><a href='/eventos/cafe-com-dev'><span>Café com Dev</span></a></li>  
                        <li><a href='//imprensa.helabs.com.br/'><span>Imprensa</span></a></li>
                        <li><a href="/apoios">Apoios</a></li>
                        <li><a href="/mailing">Mailing</a></li>
                        <li><a href="/workshops">Workshops</a></li>
                        <li><a href="/opensource">Open Source</a></li>
                       
                     </ul>
                
          
                  </ul>
                 
              </nav>
              <!--FIM-->
              
                    
      </header>
  {{ content }}
  {% include footer.html %}
</body>
</html>
