<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>
  <header class="default">
    <div class="containner">
    	<h1><a class="back-to-home" href="/"><span>HE:labs</span></a></h1>
    	<nav id="menu">
        <ul>
        	<li><a href="#fazemos">O que Fazemos</a></li>
        	<li><a href="#time">Nosso Time</a></li>
          <li><a href="#products">Nossos Produtos</a></li>
        	<li><a href="#faleconosco">Fale Conosco</a></li>
          <li><a target="blank" href="http://imprensa.helabs.com.br/">Imprensa</a></li>          
        </ul>
    	</nav>
    </div>
  </header>
  {{ content }}
  {% include footer.html %}
</body>
</html>
