<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>
  <header class="default">
    <div class="containner">
    	<h1><a class="back-to-home" href="/"><span>HE:labs</span></a></h1>
    	<nav id="menu">
        <ul>
        	<li><a href="#process">Processos</a></li>
        	<li><a href="#cliente">HE:<span class="heart">&#10084;</span></a></li>
          <li><a href="#time">Time</a></li>
        	<li><a href="#faleconosco">Fale Conosco</a></li>
          <li class='has-sub'><a href="#">HE:mais</a>
            <ul>
              <li><a href='//startupdev.com.br/'><span>Startup DEV</span></a></li>
              <li><a href='/cloud'><span>HE:cloud</span></a></li>
              <li><a href='/mailing'><span>Mailing</span></a></li>
              <li><a href='/workshops/startupdev'><span>Workshops</span></a></li>
              <li><a href='/opensource'><span>Open Source</span></a></li>
              <li><a href='//imprensa.helabs.com.br/'><span>Imprensa</span></a></li>
              <li><a href='//helabs.com.br/blog/'><span>Blog do Time</span></a></li>
           </ul>
          </li>
        </ul>
    	</nav>
    </div>
  </header>
  {{ content }}
  {% include footer.html %}
</body>
</html>
