<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>
  <header class="">
    <div class="containner">
      <h1><a class="back-to-home" href="/"><span>HE:labs</span></a></h1>
      <nav id="menu">
        <ul>
          <li><a href="#process">Processos</a></li>
          <li><a href="#cliente">Clientes</a></li>
          <li><a href="#time">Time</a></li>
          <li><a href="#faleconosco">Fale Conosco</a></li>
          
        </ul>
      </nav>
    </div>
  </header>
  {{ content }}
  {% include footer.html %}
</body>
</html>