<!DOCTYPE html>
<html lang='pt'>
  {% include head-novo.html %}
  <body>
  <header>
    <div class="containner">
      <div style="display:none;">
        <!-- This element's selector '#sidecar-content' is passed to the new Sidecar() class as the first argument. Sidecar moves this element and its content to the Sidecar -->
        <div id="sidecar-content">
            <h3>This is the Sidecar Content title.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada lacus id lectus venenatis a dapibus purus vulputate. Etiam ipsum ligula, placerat eu interdum eget, ullamcorper vitae turpis. Fusce aliquam tincidunt arcu et iaculis.</p>
            <p><img src="sidecar-placeholder.jpg" alt="Sidecar Image" /><span>Hello</span></p>
            <ul>
                <li>list item 1</li>
                <li>list item 2</li>
                <li>list item 3</li>
            </ul>
            <p>Etiam ut purus in risus fringilla pretium vel at dolor. Donec iaculis fringilla pharetra. Aliquam erat volutpat. Etiam congue, purus eu venenatis elementum, dolor ante pellentesque sapien, dapibus tempus est justo a ante. Nam at mi quis turpis mollis faucibus.</p>
        </div>
      </div>
        
      <!-- Here we initiate the Sidecar -->
      <script type="text/javascript">
          // For more information and instructions please see the Sidecar GitHub page: https://github.com/digital-telepathy/sidecar
          // Wrapping the new Sidecar() command in a domready event
          $(function(){
              // Storing the Sidecar instance using jQuery's $.data() method
              $.data(document.body, 'Sidecar', new Sidecar( '#sidecar-content', {
                  width: '300px', // sets the width of the Sidecar
                  tabPosition: '60px', // sets the top position of the open/close tab
                  sidecarPosition: 'left', // sets the Sidecar position to right or left
                  shadow: true // enable or disable the shadow in the Sidecar
              } ));
          });
      </script>
    </div>
  </header>
  {{ content }}
</body>
</html>