<!DOCTYPE html>
<html lang='pt'>

{% include head.html %}
  
<body>

  <header class="landingpage">
    <div class="containner">

    	<h1>
        <a class="back-to-home landing-top" href="/">
          <span>HE:labs</span>
        </a>
      </h1>

    	<nav>
        <ul>
         
        	<li><a href="/mailing">Mailing</a></li>
          <li><a href="/workshops">Workshops</a></li>
          <li><a href="/opensource">Open Source</a></li>
          <li><a href="/apoios">Apoios</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="//startupdev.com.br/">Startup DEV</a></li>
          <li><a href="//startupdev.com.br/">Café DEV</a></li>
        	<li><a href="#faleconosco">Fale Conosco</a></li>
          
        </ul>
    	</nav>

    </div>
  </header>
  
  {{ content }}
  {% include footer.html %}

</body>
</html>
