<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>     
    {% include header.html %}
    <section id="profile">
      <div class="containner">

        <article class="mini-bio">
          <h2>{{ page.full_name }}</h2>

          <p class="job-title">{{ page.job_title }}</p>

          <p>{{ page.bio }}</p>
         
          <ul class="social-links">
            <li><a href="https://twitter.com/{{ page.twitter }}" class="profile-twitter">@{{ page.twitter }}</a></li>
            <li><a href="https://github.com/{{ page.github }}" class="profile-github">{{ page.github }}</a></li>
            <li><a href="http://www.facebook.com/{{ page.facebook }}" class="profile-facebook">{{ page.full_name }}</a></li>
          </ul>
            
        </article>

        <aside class="photo-bio">
          <div class="profile-picture">
            <img src="{{ page.image }}">
          </div>
        </aside>

      </div>
    </section>

    <br clear="all">
    <section class="profile-cote">
      <div class="containner">
        <div class="cote">
          <p>"{{ page.quote.content }}"</p>
          <p class="signature">— {{ page.quote.author }}</p>
        </div>
      </div>
    </section>


    <section id="related-content">
      <div class="containner">
        {{ content }}
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>