<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>     
    {% include header.html %}
    <section id="profile">
      <div class="containner">
        <article class="mini-bio">
          <h2>{{ page.full_name }}</h2>

          <p class="job-title">
            {% if page.job_cool %}
              {{ page.job_cool }}
            {% else %}
              {{ page.job_title }}
            {% endif %}
          </p>

          {% for line in page.bio %}
            <p>{{ line }}</p>
          {% endfor %}
         
          <ul class="social-links">
            {% if page.twitter %}<li><a href="https://twitter.com/{{ page.twitter }}" class="profile-twitter">@{{ page.twitter }}</a></li>{% endif %}
            {% if page.dribbble %}<li><a href="http://dribbble.com/{{ page.dribbble }}" class="profile-dribbble">{{ page.dribbble }}</a></li>{% endif %}
            {% if page.github %}<li><a href="https://github.com/{{ page.github }}" class="profile-github">{{ page.github }}</a></li>{% endif %}
            {% if page.facebook %}<li><a href="https://www.facebook.com/{{ page.facebook }}" class="profile-facebook">{{ page.full_name }}</a></li>{% endif %}
          </ul>
        </article>

        <aside class="photo-bio">
          <div class="profile-picture">
            <img src="{{ page.image }}" alt="{{ page.full_name }}">
          </div>
        </aside>

      </div>
    </section>
    {% if page.quote %}
      <section class="profile-cote">
        <div class="containner">
          <div class="cote">
            <p>"{{ page.quote.content }}"</p>
            <p class="signature">&mdash; {{ page.quote.author }}</p>
          </div>
        </div>
      </section>
    {% endif %}

    {% if content != empty %}
      <section id="related-content">
        <div class="containner">
          {{ content }}
        </div>
      </section>
    {% endif %}
    {% include footer.html %}
  </body>
</html>