<!DOCTYPE html>
<html lang='pt'>
{% include head.html %}
<body>
  <header id="header" class="default">
    <div class="containner">
      <h1><a class="back-to-home" href="/"><span>HE:labs</span></a></h1>
      <nav id="menu">
        <ul>
          <li><a href="/workshops/rails-for-zombies-two-rio-de-janeiro">Rio de Janeiro</a></li>
          <li><a href="/workshops/rails-for-zombies-two-londrina">Londrina</a></li>
          <li><a href="/workshops/rails-for-zombies-two-sao-paulo">São Paulo</a></li>
          <li><a href="#faleconosco">Fale Conosco</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {{ content }}
  {% include footer.html %}
  </body>
</html>
